.container-security {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  padding-bottom: 1em;
}

.container-security-content {
  display: flex;
  justify-content: center;
  padding-top: 13px;
  padding-left: 16px;
  padding-right: 16px;
  //height: auto;
  overflow: hidden;
}

.container-security-content span {
  font-size: 16px;
  color: #565454;
}

.security-message-login {
  margin-bottom: 20px;
  font-size: 14px;
}

.msg-color {
  color: #565454;
}
