<div class="container-security" style="width: 96.5%">
    <div class="container-security-content" >
        <div class="security-message-login">
            <div style="display: flex; flex-flow: row; justify-content: space-between; height: 150px">
                <div style="flex-basis: 30%">
                    <img style="max-width: 80%" src="img/cash-pickup-login-img.png" alt="">
                </div>
                <div style="flex-basis: 70%; margin-top: 6.5%">
                    <h3 style="color: #232c50; margin-bottom: 3%">{{'cash_management_products.cashManagement' | translate}}</h3>
                    <p>{{'cash_management_products.loginDis' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0 3% 0 3%; text-align: end">
        <a style="cursor: pointer; font-size: 16px; color: #221afb" (click)="routeToCashManagementProducts()">
            {{'cash_management_products.apply_now' | translate}}
        </a>
    </div>
</div>
