<arb-breadcrumb [routes]="routes" *ngIf="routes && routes.length>0">
</arb-breadcrumb>

<arb-panel-title [title]="'lockbox.cdmAccounts.details.menu'">

</arb-panel-title>

<arb-panel>
    <fieldset [formGroup]="formModel">
        <app-dynamic-simple-extras-form-fields *ngIf="selectedItem && entityProperties"
                                               [title]="'lockbox.cdmAccounts.details.menu'"
                                               [translate_prefix]="'lockbox.cdmAccounts'"
                                               [combosData]="combosData"
                                               [formModel]="formModel"
                                               [fieldsConfigs]="entityProperties"
                                               (onAllFieldsCreated)="formConfigured($event)">
        </app-dynamic-simple-extras-form-fields>
    </fieldset>
</arb-panel>

<arb-panel-buttons *ngIf="detailsData">
    <a class="btn btn-default btn-wide"
       [routerLink]="[getBackUrl()]">{{
        'public.back' | translate }}
    </a>
    <button class="btn btn-primary btn-wide"
            *ngIf="canExecuteAction('edit')"
            [disabled]="isDisabledAction('edit')"
            (click)="executeAction('edit')">
        {{'lockbox.cdmAccounts.editBtn' | translate }}
    </button>
</arb-panel-buttons>
