<div class='container-fluid'>
  <div class='sme-breadcrumb'>
    <ol class='breadcrumb'>
      <li>{{ 'financeProduct.menu' | translate }}</li>
      <li class='active'>{{ 'financeProduct.newRequest.newRequest' | translate }}</li>
    </ol>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-row">
    <div class="sme-col-66">
      <div class="sme-card">
        <div class="sme-card-header">
          <div class="sme-card-header-start">
            <div class="sme-media-icon-nm">
              <img src="assets/icons/fleet-finance.svg">
            </div>
            Fleet Finance
          </div>
        </div>
        <div>
          <img src="assets/img/cars.png" width="100%" style="border: 1px solid rgba(71, 75, 82,0.2);margin-bottom:32px;">
          <div class="sme-info-success">
            <div>
              <img src="assets/icons/info.svg" />
            </div>
            <div>
              <p class="sme-card-msg">You are initially eligible for <strong>1,200,000.00 SAR</strong></p>
            </div>
          </div>
          <label class="desc">Al Rajhi Bank provides Fleet Finance product that support enterprises Micro and
            Small Businesses to purchase multiple vehicles (personal and/or commercial vehicles) through
            leasing financing.</label><br /><br />
          <label class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed feugiat
            lacus. Suspendisse potenti. Morbi vel laoreet est. Integer a vulputate purus. Praesent tincidunt
            purus aliquet, vehicula nisl in, sagittis odio. </label>
        </div>
      </div>
    </div>
    <div class="sme-col-33">
      <div class="sme-card">
        <div class="sme-card-header">
          <div class="sme-card-header-start py-3">
            Required Documents
          </div>
        </div>
        <ol class="sme-ordered-list">
          <li>Trade & Municipal Licence</li>
          <li>Nitaqat Certificate</li>
          <li>Site/Company Photo</li>
          <li>Chamber of Commerce- Membership certificate</li>
        </ol>
        <div class="TermsAndCond">
          <label class="sme-checkbox checkbox-inline">
            <input type="checkbox" (change)="onChangeTerms()"> <i aria-hidden="true"></i>
            <span class="checkboxText">I Agree with the </span><a (click)="openTermsAndConditions()"> Terms and conditions</a>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title">
    Apply for New Request
  </div>
  <div class="sme-info-default">
    <div>
      <img src="assets/icons/info.svg" />
    </div>
    <div>
      <p class="sme-card-msg">Please note, you must complete your application within 3 days of initiation otherwise your progress will be lost.</p>
    </div>
  </div>
  <div class="sme-info-success">
    <div>
      <img src="assets/icons/info.svg" />
    </div>
    <div>
      <p class="sme-card-msg">Please note, you must complete your application within 3 days of initiation otherwise your progress will be lost.</p>
    </div>
  </div>
  <div class="sme-info-danger">
    <div>
      <img src="assets/icons/info.svg" />
    </div>
    <div>
      <p class="sme-card-msg">Please note, you must complete your application within 3 days of initiation otherwise your progress will be lost.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card sme-row">
    <div class="sme-col">
      <ul class="sme-media">
        <li class="sme-media-start">
          <div class="sme-media-start-icon">
            <img src="assets/icons/pos-finance.svg" />
          </div>
        </li>
        <li class="sme-media-content">
          <h3 class="sme-media-title">POS Finance</h3>
          <p class="sme-media-desc">Lorem ipsum dolor sit amet, consectetue</p>
        </li>
        <li class="sme-media-end">
          <div class="sme-media-end-arrow">
            <img src="assets/icons/right-arrow.svg" />
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="sme-card sme-row">
    <div class="sme-col">
      <ul class="sme-media">
        <li class="sme-media-start">
          <div class="sme-media-start-icon">
            <img src="assets/icons/bif-finance.svg" />
          </div>
        </li>
        <li class="sme-media-content">
          <h3 class="sme-media-title">BIF Finance</h3>
          <p class="sme-media-desc">Lorem ipsum dolor sit amet, consectetue</p>
        </li>
        <li class="sme-media-end">
          <div class="sme-media-end-arrow">
            <img src="assets/icons/right-arrow.svg" />
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="sme-card sme-row">
    <div class="sme-col">
      <ul class="sme-media">
        <li class="sme-media-start">
          <div class="sme-media-start-icon">
            <img src="assets/icons/ecommerce-finance.svg" />
          </div>
        </li>
        <li class="sme-media-content">
          <h3 class="sme-media-title">eCommerce Finance</h3>
          <p class="sme-media-desc">Lorem ipsum dolor sit amet, consectetue</p>
        </li>
        <li class="sme-media-end">
          <div class="sme-media-end-arrow">
            <img src="assets/icons/right-arrow.svg" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title">
    Finance
  </div>
  <div class="sme-card">
    <div class="sme-card-header">
      <div class="sme-card-header-start">
        Explore our Financing Products
      </div>
    </div>
    <div class="sme-row-2-col">
      <div class="sme-col">
        <ul class="sme-media sme-media-border">
          <li class="sme-media-start">
            <div class="sme-media-start-icon">
              <img src="assets/icons/fleet-finance.svg" />
            </div>
          </li>
          <li class="sme-media-content">
            <h3 class="sme-media-title">Fleet Finance</h3>
            <p class="sme-media-desc">Lorem ipsum dolor sit amet, consectetue</p>
          </li>
          <li class="sme-media-end">
            <div class="sme-media-end-arrow">
              <img src="assets/icons/right-arrow.svg" />
            </div>
          </li>
        </ul>
      </div>
      <div class="sme-col">
        <ul class="sme-media sme-media-border">
          <li class="sme-media-start">
            <div class="sme-media-start-icon">
              <img src="assets/icons/pos-finance.svg" />
            </div>
          </li>
          <li class="sme-media-content">
            <h3 class="sme-media-title">POS Finance</h3>
            <p class="sme-media-desc">Lorem ipsum dolor sit amet, consectetue</p>
          </li>
          <li class="sme-media-end">
            <div class="sme-media-end-arrow">
              <img src="assets/icons/right-arrow.svg" />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="sme-row-2-col">
      <div class="sme-col">
        <ul class="sme-media sme-media-border">
          <li class="sme-media-start">
            <div class="sme-media-start-icon">
              <img src="assets/icons/bif-finance.svg" />
            </div>
          </li>
          <li class="sme-media-content">
            <h3 class="sme-media-title">BIF Finance</h3>
            <p class="sme-media-desc">Lorem ipsum dolor sit amet, consectetue</p>
          </li>
          <li class="sme-media-end">
            <div class="sme-media-end-arrow">
              <img src="assets/icons/right-arrow.svg" />
            </div>
          </li>
        </ul>
      </div>
      <div class="sme-col">
        <ul class="sme-media sme-media-border">
          <li class="sme-media-start">
            <div class="sme-media-start-icon">
              <img src="assets/icons/ecommerce-finance.svg" />
            </div>
          </li>
          <li class="sme-media-content">
            <h3 class="sme-media-title">eCommerce Finance</h3>
            <p class="sme-media-desc">Lorem ipsum dolor sit amet, consectetue</p>
          </li>
          <li class="sme-media-end">
            <div class="sme-media-end-arrow">
              <img src="assets/icons/right-arrow.svg" />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="sme-row-2-col">
      <div class="sme-col">
        <ul class="sme-media sme-media-border">
          <li class="sme-media-start">
            <div class="sme-media-start-icon">
              <img src="assets/icons/eirad-finance.svg" />
            </div>
          </li>
          <li class="sme-media-content">
            <h3 class="sme-media-title">EIRAD Finance</h3>
            <p class="sme-media-desc">Lorem ipsum dolor sit amet, consectetue</p>
          </li>
          <li class="sme-media-end">
            <div class="sme-media-end-arrow">
              <img src="assets/icons/right-arrow.svg" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title">
    Fleet Finance Request
  </div>
  <div class="sme-check">
    <div class="sme-check-success-icon">
      <img src="assets/icons/check-success.svg" alt="">
    </div>
    <div class="sme-check-title">
      <p> Your financing application has been submitted </p>
    </div>
    <div class="sme-check-desc">
      <p> Your application is under review. You will receive an SMS once your application has been processed.<br> Dossier ID: <strong>1234567TRR</strong> </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title">
    New Finance Request
  </div>
  <div class="sme-card">
    <div class="sme-row">
      <img src="assets/icons/info.svg" />
      <p class="sme-card-msg">Please note, you must complete your application within 3 days of initiation otherwise your progress will be lost.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-check">
    <div class="sme-check-error-icon">
      <img src="assets/icons/check-error.svg" alt="">
    </div>
    <div class="sme-check-title">
      <p> Unfortunately, you are not eligible for this financing product </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-check">
    <div class="sme-check-error-icon">
      <img src="assets/icons/check-error.svg" alt="">
    </div>
    <div class="sme-check-title">
      <p> Unfortunately, you are not eligible for this financing product </p>
    </div>
    <div class="sme-check-title">
      <p>Reasons for ineligibility:</p>
    </div>
    <ol class="sme-ordered-list-center">
      <li>CR in the records are expired.</li>
      <li>National address is not updated.</li>
    </ol>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title-info">
    <p class="sme-page-title">General Request</p>
    <p class="sme-page-info">Please select a vehicle type and fill in vehicle details in the fields below</p>
  </div>
  <div class="sme-card">
    <div class="sme-row">
      <img src="assets/icons/info.svg" />
      <p class="sme-card-msg">You are eligible for <strong>1,200,000.00 SR</strong></p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card sme-row">
    <div class="sme-col">
      <ul class="sme-media">
        <li class="sme-media-start">
          <div class="sme-media-start-icon">
            <img src="assets/icons/upload.svg" />
          </div>
        </li>
        <li class="sme-media-content">
          <h3 class="sme-media-title">Upload External Quotation</h3>
          <p class="sme-media-desc">Description</p>
        </li>
        <li class="sme-media-end">
          <div class="sme-media-end-arrow">
            <img src="assets/icons/right-arrow.svg" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card sme-row">
    <div class="sme-col">
      <ul class="sme-media">
        <li class="sme-media-start">
          <div class="sme-media-start-icon">
            <img src="assets/icons/fleet-finance.svg" />
          </div>
        </li>
        <li class="sme-media-content">
          <h3 class="sme-media-title">Add Internal Quotation</h3>
          <p class="sme-media-desc">Description</p>
        </li>
        <li class="sme-media-end">
          <div class="sme-media-end-arrow">
            <img src="assets/icons/right-arrow.svg" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title">
    Fleet Finance Offer Acceptance
  </div>
  <div class="sme-card">
    <div class="sme-card-header-sm">
      IVR Call
    </div>
    <div class="sme-check-acceptance">
      <div class="sme-check-acceptance-icon">
        <img src="assets/icons/check-acceptance.svg" alt="">
      </div>
      <div class="sme-check-title">
        <p> You're nearly there! </p>
      </div>
      <div class="sme-check-desc">
        <p> Let us call you on your registered mobile number and confirm the contract. It should take up to 1 min to recieve the call. </p>
      </div>
    </div>
    <div class="sme-check-time">
      <p>00:00</p>
    </div>
    <div class="sme-check-link">
      <a>I didn't recieve the call</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title">
    Finance
  </div>
  <div class="sme-card sme-row">
    <div class="sme-col">
      <ul class="sme-media">
        <li class="sme-media-start">
          <div class="sme-media-start-icon">
            <img src="assets/icons/fleet-finance.svg" />
          </div>
        </li>
        <li class="sme-media-content">
          <h3 class="sme-media-title">Fleet Finance 01</h3>
          <p class="sme-media-desc">Ref. 1239283TRR - SA50 0000 0000 0000 0000</p>
        </li>
        <li class="sme-media-end">
          <div class="sme-pills-warning">
            <p>Attention Needed</p>
          </div>
          <div class="sme-media-end-arrow">
            <img src="assets/icons/right-arrow.svg" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card sme-row">
    <div class="sme-col">
      <ul class="sme-media">
        <li class="sme-media-start">
          <div class="sme-media-start-icon">
            <img src="assets/icons/fleet-finance.svg" />
          </div>
        </li>
        <li class="sme-media-content">
          <h3 class="sme-media-title">Fleet Finance 01</h3>
          <p class="sme-media-desc">Ref. 1239283TRR - SA50 0000 0000 0000 0000</p>
        </li>
        <li class="sme-media-end">
          <div class="sme-pills-primary">
            <p>In Progress</p>
          </div>
          <div class="sme-media-end-arrow">
            <img src="assets/icons/right-arrow.svg" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title">
    Fleet Finance Offer Acceptance
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card">
    <div class="sme-card-header">
      <div class="sme-card-header-start"> Contract Details </div>
      <div class="sme-card-header-end">
        <div class="sme-pills-warning">
          <p>Attention Needed</p>
        </div>
      </div>
    </div>
    <div class="sme-card-body">
      <div class="sme-row">
        <p class="sme-card-msg">I have read the contract and I am accepting the terms and conditions mentioned on the documents where T&C can be displayed & downloaded from hyperlink. </p>
      </div>
      <label class="sme-checkbox checkbox-inline">
        <input type="checkbox" (change)="onChangeTerms()"> <i aria-hidden="true"></i>
        <span class="checkboxText">I have read and accepted the <a (click)="openTermsAndConditions()"> Contract</a></span>
      </label>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card">
    <div class="sme-card-header">
      <div class="sme-card-header-start"> Executive and Personal Use 2 </div>
      <div class="sme-card-header-end">fgdghdf</div>
    </div>
    <div class="sme-card-body">
      <div class="sme-row-4-col">
        <div class="sme-col">
          <div class="sme-form-group">
            <label class="sme-form-group-label">Brand Name</label>
            <p class="sme-form-group-txt">Mazda</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group">
            <label class="sme-form-group-label">Purpose of Use Value</label>
            <p class="sme-form-group-txt">175,526.67 SAR</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group">
            <label class="sme-form-group-label">Insurance Fee (%)</label>
            <p class="sme-form-group-txt">5%</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group">
            <label class="sme-form-group-label">Profit Rate</label>
            <p class="sme-form-group-txt">10%</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group">
            <label class="sme-form-group-label">Financing Tenure</label>
            <p class="sme-form-group-txt">60 Months</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group">
            <label class="sme-form-group-label">Minimum Down Payment</label>
            <p class="sme-form-group-txt">17,552.67 SR</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group">
            <label class="sme-form-group-label">Installment Amount</label>
            <p class="sme-form-group-txt">1,000.00 SAR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card">
    <div class="sme-card-body">
      <div class="sme-progress-container">
        <div class="sme-progress-header">
          <div class="sme-progress-header-start">Finance Eligibilty Limit: 12,000,000.00 SAR</div>
          <div class="sme-progress-header-end">35%</div>
        </div>
        <div class="sme-progress-body">
          <div class="sme-progress">
            <div class="sme-progress-success" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
        </div>
        <div class="sme-progress-footer">
          <div class="sme-progress-footer-start">Remaining Limit: 3,000,000.00 SAR</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card">
    <div class="sme-card-body">
      <div class="sme-progress-container">
        <div class="sme-progress-header">
          <div class="sme-progress-header-start">Finance Eligibilty Limit: 12,000,000.00 SAR</div>
          <div class="sme-progress-header-end">120%</div>
        </div>
        <div class="sme-progress-body">
          <div class="sme-progress">
            <div class="sme-progress-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <span class="sr-only">120% Complete</span>
            </div>
          </div>
        </div>
        <div class="sme-progress-footer">
          <div class="sme-progress-footer-start">Exceed by: 30,000,000.00 SAR</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card">
    <div class="sme-card-body">
      <div class="sme-row-2-col">
        <div class="sme-col">
          <div class="sme-range-slider-container">
            <div class="sme-range-slider-header">
              <div class="sme-range-slider-header-start">Financing Tenure</div>
              <div class="sme-range-slider-header-end">60 Months</div>
            </div>
            <div class="sme-range-slider-body">
              <input type="range" name="width" id="formControlRange" min="1" max="100" step="any">
            </div>
            <div class="sme-range-slider-footer">
              <div class="sme-range-slider-footer-satart"></div>
              <div class="sme-range-slider-footer-end">Max: 60 Months</div>
            </div>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-range-slider-container">
            <div class="sme-range-slider-header">
              <div class="sme-range-slider-header-start">Grace Period</div>
              <div class="sme-range-slider-header-end">2 Months</div>
            </div>
            <div class="sme-range-slider-body">
              <input type="range" name="width" id="formControlRange" min="1" max="100" step="any">
            </div>
            <div class="sme-range-slider-footer">
              <div class="sme-range-slider-footer-start"></div>
              <div class="sme-range-slider-footer-end">Max: 2 Months</div>
            </div>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-range-slider-container">
            <div class="sme-range-slider-header">
              <div class="sme-range-slider-header-start">Minimum Down Payment</div>
              <div class="sme-range-slider-header-end">17,552.67 SR</div>
            </div>
            <div class="sme-range-slider-body">
              <input type="range" name="width" id="formControlRange" min="1" max="100" step="any">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-card">
    <div class="sme-row-4-col">
      <div class="sme-col">
        <div class="sme-car-card">
          <div class="sme-car-card-head">
            <img src="assets/img/placeholder.png" width="100%" alt="">
          </div>
          <div class="sme-car-card-body">
            <p class="sme-txt-muted-sm mb-5">Auto</p>
            <p class="sme-txt-black-md">SBAIC BJ40<br> (Saleh cars)</p>
          </div>
          <div class="sme-car-card-footer">
            <div class="sme-car-card-footer-start">
              <p class="sme-txt-black-md mb-2">1,500.00SAR</p>
              <p class="sme-txt-danger-sm">Only 2 left</p>
            </div>
            <div class="sme-car-card-footer-end">
              <img src="assets/icons/right-arrow.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="sme-col">
        <div class="sme-car-card">
          <div class="sme-car-card-head">
            <img src="assets/img/placeholder.png" width="100%" alt="">
          </div>
          <div class="sme-car-card-body">
            <p class="sme-txt-muted-sm mb-5">Auto</p>
            <p class="sme-txt-black-md">SBAIC BJ40<br> (Saleh cars)</p>
          </div>
          <div class="sme-car-card-footer">
            <div class="sme-car-card-footer-start">
              <p class="sme-txt-black-md mb-2">1,500.00SAR</p>
              <p class="sme-txt-danger-sm">Only 2 left</p>
            </div>
            <div class="sme-car-card-footer-end">
              <img src="assets/icons/right-arrow.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="sme-col">
        <div class="sme-car-card">
          <div class="sme-car-card-head">
            <img src="assets/img/placeholder.png" width="100%" alt="">
          </div>
          <div class="sme-car-card-body">
            <p class="sme-txt-muted-sm mb-5">Auto</p>
            <p class="sme-txt-black-md">SBAIC BJ40<br> (Saleh cars)</p>
          </div>
          <div class="sme-car-card-footer">
            <div class="sme-car-card-footer-start">
              <p class="sme-txt-black-md mb-2">1,500.00SAR</p>
              <p class="sme-txt-danger-sm">Only 2 left</p>
            </div>
            <div class="sme-car-card-footer-end">
              <img src="assets/icons/right-arrow.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="sme-col">
        <div class="sme-car-card">
          <div class="sme-car-card-head">
            <img src="assets/img/placeholder.png" width="100%" alt="">
          </div>
          <div class="sme-car-card-body">
            <p class="sme-txt-muted-sm mb-5">Auto</p>
            <p class="sme-txt-black-md">SBAIC BJ40<br> (Saleh cars)</p>
          </div>
          <div class="sme-car-card-footer">
            <div class="sme-car-card-footer-start">
              <p class="sme-txt-black-md mb-2">1,500.00SAR</p>
              <p class="sme-txt-danger-sm">Only 2 left</p>
            </div>
            <div class="sme-car-card-footer-end">
              <img src="assets/icons/right-arrow.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sme-row-4-col">
      <div class="sme-col">
        <div class="sme-car-card">
          <div class="sme-car-card-head">
            <img src="assets/img/placeholder.png" width="100%" alt="">
          </div>
          <div class="sme-car-card-body">
            <p class="sme-txt-muted-sm mb-5">Auto</p>
            <p class="sme-txt-black-md">SBAIC BJ40<br> (Saleh cars)</p>
          </div>
          <div class="sme-car-card-footer">
            <div class="sme-car-card-footer-start">
              <p class="sme-txt-black-md mb-2">1,500.00SAR</p>
              <p class="sme-txt-danger-sm">Only 2 left</p>
            </div>
            <div class="sme-car-card-footer-end">
              <img src="assets/icons/right-arrow.svg">
            </div>
          </div>
        </div>
      </div>
      <div class="sme-col">
        <div class="sme-car-card">
          <div class="sme-car-card-head">
            <img src="assets/img/placeholder.png" width="100%" alt="">
          </div>
          <div class="sme-car-card-body">
            <p class="sme-txt-muted-sm mb-5">Auto</p>
            <p class="sme-txt-black-md">SBAIC BJ40<br> (Saleh cars)</p>
          </div>
          <div class="sme-car-card-footer">
            <div class="sme-car-card-footer-start">
              <p class="sme-txt-black-md mb-2">1,500.00SAR</p>
              <p class="sme-txt-danger-sm">Only 2 left</p>
            </div>
            <div class="sme-car-card-footer-end">
              <img src="assets/icons/right-arrow.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title">
    Fleet Finance Loan Execution
  </div>
  <div class="sme-info-default">
    <div> <img src="assets/icons/info.svg" /> </div>
    <div>
      <p class="sme-card-msg">After accepting the promissory note your admin fees of X SAR, downpayment of X SAR and insurance fees of X SAR will be deducted automatically from your account.</p>
    </div>
  </div>
  <div class="sme-card">
    <div class="sme-card-header-sm">
      initiate sadad process
    </div>
    <div class="sme-card-body">
      <ul class="sme-media">
        <li class="sme-media-start">
          <img src="assets/img/contract.png">
        </li>
        <li class="sme-media-content">
          <h3 class="sme-media-title mb-5">Below you will find the steps to follow to complete the SANAD process:</h3>
          <ol class="sme-ordered-list">
            <li>Request the digital promissory note.</li>
            <li>Visit the link in the SMS you recieved.</li>
            <li>Login with your Absher Credentials.</li>
            <li>Accept the promissory note.</li>
            <li>Delivery note issued to you</li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sme-page-title">
    Summary
  </div>
  <div class="sme-card">
    <div class="sme-card-header">
      Internal Quotation Details
    </div>
    <div class="sme-card-body">
      <div class="sme-row-2-col">
        <div class="sme-col">
          <ul class="sme-media">
            <li class="sme-media-start p-4">
              <img src="assets/img/car.png">
            </li>
            <li class="sme-media-content">
              <p class="sme-txt-black-md mb-5">BAIC BJ40 (Saleh cars)</p>
              <p class="sme-txt-black-md mb-3">140,000.00 SAR</p>
              <p class="sme-txt-muted-sm mb-3">Distributed by: Saleh cars</p>
              <p class="">View more</p>
            </li>
          </ul>
        </div>
        <div class="sme-col">
          <ul class="sme-media">
            <li class="sme-media-start p-4">
              <img src="assets/img/car.png">
            </li>
            <li class="sme-media-content">
              <p class="sme-txt-black-md mb-5">BAIC BJ40 (Saleh cars)</p>
              <p class="sme-txt-black-md mb-3">140,000.00 SAR</p>
              <p class="sme-txt-muted-sm mb-3">Distributed by: Saleh cars</p>
              <p class="">View more</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sme-page-block sme-wizard__navigation sme-form__actions btn-container">
  <button class="btn btn-default btn-wide left-btn" type="button" [routerLink]="['/financeProduct/financeProductsDashboard']">{{ 'public.back' | translate}}</button>
  <button class="btn btn-primary btn-wide right-btn" type="button" (click)="onPage('ERROR')">{{ 'public.proceed' | translate}}</button>
</div>