<div class="sme-content-container container-fluid">
    <div class="sme-data-table">
        <div class="sme-data-table__head">
            <div class="sme-head__title">{{ 'payroll.salaryPayments' | translate }}</div>
            <div class="sme-data-table__export">
                <table-export [dataTable]="salaryTable" [header]="'payroll.salaryPayments' | translate" [columns]="[
                        {'title':'myProfile.pending_actions.initiationDate' | translate,'dataKey':'initiationDate'},
                        {'title':'myProfile.pending_actions.paymentDate' | translate ,'dataKey':'paymentDate'},
                        {'title':'payroll.batchName' | translate,'dataKey':'batchName'},
                        {'title':'myProfile.pending_actions.account' | translate,'dataKey':'accountNumber'},
                        {'title':'myProfile.pending_actions.amount' | translate,'dataKey':'totalAmount'}]">
                </table-export>
            </div>
        </div>
        <div class="sme-table table headerDataTable">
            <ngx-datatable [messages]="{emptyMessage: 'public.noData' | translate}"
                           #salaryTable
                           class="material sme-table sme-table--responsive table"
                           [rows]="items"
                           [columnMode]="defaultColumnMode"
                           [headerHeight]="30"
                           [footerHeight]="footerHeight"
                           [rowHeight]="defaultHeight"
                           [count]="items.length"
                           [limit]="tableDisplaySize"
                           [externalPaging]="false"
                           [externalSorting]="false">

                <!-- Row Detail Template -->
                <ngx-datatable-row-detail [rowHeight]="defaultHeight" #myDetailRow (toggle)="onDetailToggle($event)">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <!-- <div style="padding-left:60px; font-size:14px">
                        <div>{{row.date}}, {{row.time}}</div>
                      </div> -->

                        <div class="row">
                            <fieldset>
                                <div class="col-xs-6">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{'myProfile.pending_actions.initiationDate' | translate }}
                                        </label>
                                        <div>
                                            <span>{{ row.initiationDate  | date:'dd/MM/yyyy HH:mm' }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{'myProfile.pending_actions.paymentDate' | translate }}</label>
                                        <div>
                                            <span>{{ row.paymentDate  | date:'dd/MM/yyyy' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset>
                                <div class="col-xs-6">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{'payroll.batchName' | translate }}</label>
                                        <div>
                                            <span>{{ row.batchName }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{'myProfile.pending_actions.account' | translate }}</label>
                                        <div>
                                            <span>{{row.accountNumber}}</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset>
                                <div class="col-xs-6">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{'myProfile.pending_actions.amount' | translate }}</label>
                                        <div>
                                            <span> {{ row.totalAmount | amountCurrency }} {{'currencyIso' | modelPipe: '608'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6" *ngIf="!futureLevels">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label *ngIf="!futureLevels">{{ 'public.status' | translate }}</label>
                                        <div>
                                            <span>{{ row.securityLevelsDTOList | levels:'status' }}</span>
                                            <span class="human-selectable icon -info"
                                                  (click)="openModal(row,modal)"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6" *ngIf="futureLevels">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{ 'public.statusIf' | translate }}</label>
                                        <div>
                                            <span>{{ row.futureSecurityLevelsDTOList | levels:'status' }}</span>
                                            <span class="icon -info" (click)="openModal(row,modal)"></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset>
                                <div class="col-xs-6" *ngIf="!futureLevels">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label *ngIf="!futureLevels">{{ 'myProfile.pending_actions.nextStatus' | translate }}</label>
                                        <div>
                                            <span>{{row.securityLevelsDTOList | levels:'nextStatus'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6" *ngIf="futureLevels">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{ 'myProfile.pending_actions.nextStatusIf' | translate }}</label>
                                        <div>
                                            <span>{{row.futureSecurityLevelsDTOList | levels:'nextStatus'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                    </ng-template>
                </ngx-datatable-row-detail>

                <ngx-datatable-column prop="initiationDate">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sort()"
                              class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.initiationDate' | translate }}</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span>{{ value | date:'dd/MM/yyyy' }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="paymentDate">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sort()"
                              class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.paymentDate' | translate }}</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span>{{ value | date:'dd/MM/yyyy' }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="batchName">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sort()"
                              class="datatable-header-cell-wrapper">{{ 'payroll.batchName' | translate }}</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span>{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="accountNumber">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sort()"
                              class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.account' | translate }}</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span>{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="totalAmount">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sort()"
                              class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.amount' | translate }}</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span> {{ value | amountCurrency }} {{'currencyIso' | modelPipe: '608'}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="securityLevelsDTOList" [width]="50" *ngIf="!futureLevels">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sort()"
                              class="datatable-header-cell-wrapper">{{ 'public.status' | translate }}</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span>{{ value | levels:'status' }}</span>
                        <span class="human-selectable icon -info" (click)="openModal(row,modal)"></span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="securityLevelsDTOList" *ngIf="!futureLevels">
                      
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort()"
                                          class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.nextStatus' | translate }}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span>{{ value | levels:'nextStatus' }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="futureSecurityLevelsDTOList" [width]="50" *ngIf="futureLevels">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sort()"
                              class="datatable-header-cell-wrapper">{{ 'public.statusIf' | translate }}</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span>{{ value | levels:'status' }}</span>
                        <span class="human-selectable icon -info" (click)="openModal(row,modal)"></span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="futureSecurityLevelsDTOList" *ngIf="futureLevels">
                      
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sort()"
                                      class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.nextStatusIf' | translate }}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span>{{ value | levels:'nextStatus' }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                                 let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                        <div class="sme-data-table__footer">
                            <app-datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                                 [pagerRightArrowIcon]="'datatable-icon-right'"
                                                 [pagerPreviousIcon]="'datatable-icon-prev'"
                                                 [pagerNextIcon]="'datatable-icon-skip'"
                                                 [page]="curPage" [size]="pageSize" [count]="rowCount"
                                                 [visiblePagesCount]="visiblePagesCount"
                                                 (change)="salaryTable.onFooterPage($event)">
                            </app-datatable-pager>
                            <div *ngIf="rowCount!=0" class="sme-data-table__actions form-inline">
                                <span class="sme-data-table__action-group">{{ 'public.showingLabel' | translate}}
                                    {{(items.length > pageSize ? pageSize : items.length)}}
                                    {{ 'public.ofLabel' | translate}} {{rowCount}}</span>
                                <span class="hidden-xs"> | </span>
                                <span class="sme-data-table__action-group">
                                    <span>{{ 'public.showRowsLabel' | translate}}</span>
                                    <div class="sme-select form-control">
                                        <select class="form-control" [(ngModel)]="tableDisplaySize">
                                            <option [value]=10>10</option>
                                            <option [value]=20>20</option>
                                            <option [value]=50>50</option>
                                        </select>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
</div>
