<div class="container-fluid">
  <div class="sme-page-title-info">
    <p class="sme-page-title">BASIC Bj40 Details</p>
  </div>
</div>
<div class="container-fluid">
  <sme-card [startTitle]="'Car Details'" [headerFontSize]="'md'">
    <div class="card-body">
      <sme-card-media>
        <div class="media-start">
          <p class="sme-page-title">BAIC BJ40 (Saleh cars)</p>
          <p>140,000,000</p>
          <p>Distributed by: Saleh cars</p>
          <img src="assets/img/car_big.png">
        </div>
      </sme-card-media>
    </div>
  </sme-card>
</div>
<!--Key Specs-->
<div class="container-fluid">
  <sme-card [startTitle]="'Key Specs'" [headerFontSize]="'md'">
    <div class="card-body">
      <div class="sme-row-4-col">
        <div class="sme-col">
          <div class="sme-form-group">
            <p class="sme-form-group-txt">
              <span class="pr-2">
                <img src="assets/icons/cylinder.svg">
              </span> 6-cylinder
            </p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group">
            <p class="sme-form-group-txt">
              <span class="pr-2">
                <img src="assets/icons/gas.svg">
              </span> 72L
            </p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group">
            <p class="sme-form-group-txt">
              <span class="pr-2">
                <img src="assets/icons/seats.svg">
              </span> 4 Seats
            </p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group">
            <p class="sme-form-group-txt">
              <span class="pr-2">
                <img src="assets/icons/hp.svg">
              </span> 286 HP
            </p>
          </div>
        </div>
      </div>
    </div>
  </sme-card>
</div>
<!--Features-->
<div class="container-fluid">
  <sme-card [startTitle]="'External Quotation'" [headerFontSize]="'md'">
    <div class="card-body">
      <div class="sme-row-4-col">
        <div class="sme-col">
          <div class="sme-form-group"><label class="sme-form-group-label">Steering wheel</label>
            <p class="sme-form-group-txt">Bluetooth 5.0 enabled</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group"><label class="sme-form-group-label">Steering wheel</label>
            <p class="sme-form-group-txt">Bluetooth 5.0 enabled</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group"><label class="sme-form-group-label">Feature1</label>
            <p class="sme-form-group-txt">Feature1</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group"><label class="sme-form-group-label">Feature1</label>
            <p class="sme-form-group-txt">Feature1</p>
          </div>
        </div>
      </div>
      <div class="sme-row-4-col">
        <div class="sme-col">
          <div class="sme-form-group"><label class="sme-form-group-label">Steering wheel</label>
            <p class="sme-form-group-txt">Bluetooth 5.0 enabled</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group"><label class="sme-form-group-label">Steering wheel</label>
            <p class="sme-form-group-txt">Bluetooth 5.0 enabled</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group"><label class="sme-form-group-label">Feature1</label>
            <p class="sme-form-group-txt">Feature1</p>
          </div>
        </div>
        <div class="sme-col">
          <div class="sme-form-group"><label class="sme-form-group-label">Feature1</label>
            <p class="sme-form-group-txt">Feature1</p>
          </div>
        </div>
      </div>
    </div>
  </sme-card>
</div>
<div class="sme-page-block sme-wizard__navigation sme-form__actions">
  <button class=" btn btn-default btn-wide sme-back-btn">
    Back
  </button>
</div>