.option-container-icon {
  display: flex;
  flex-flow: row;
  margin-top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
}

.option-icon {
  background-color: #e6e9ef;
  border-radius:50%;
  box-shadow: 0 0 0 10px #e6e9ef;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

.option-text{
  align-self: center;
  color: #1b254a
}

.chevron-ltr {
  margin-left: auto;
  align-self: center;
  color: #221afb;
}

.chevron-rtl {
  margin-right: auto;
  align-self: center;
  color: #221afb;
}