body{
	margin:0;
}

.Title{
		font-size:15pt;
		color:#07607C;
		font-weight:bold;
		font-family: Arial, Helvetica, sans-serif;
}

.TitleInf{
		font-size:10pt;
		color:black;
		font-weight:normal;
		font-family: Arial, Helvetica, sans-serif;
}
.TitleLittle{
		font-size:13px;
		color:#425363;
		font-weight:bold;
		font-family: Arial, Helvetica, sans-serif;
}
.TitleMinor{
		font-size:8pt;
		color:#07607C;
		font-weight:normal;
		font-family: Arial, Helvetica, sans-serif;
}
.TextLittle{
		font-size:8pt;
		color:black;
		font-family: Arial, Helvetica, sans-serif;
}
	
.titulo_opcion{
		font-size:15pt;
		color:#7E9BAD;
		font-weight:bold;
		font-family: Arial, Helvetica, sans-serif;
}
	
.subtitulo_opcion{
	font-size:10pt;
	color:#425363;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	}
	
.txt_help{
	font-size:9pt;
	color:#425363;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}
	
.txt_help ul li{
	font-size:9pt;
	color:#425363;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	list-style-type: none;
	list-style-image: url(./images/vineta.gif);
}
	
.fondo_cab_index{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	background-repeat: repeat-x;
	height: 27px;
	padding-right: 16px;
	padding-left: 16px;
}
	
.enlace_index{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
	
.tabla_datos {
	border-left:1px solid #C9D3DA;
	font-size:9pt;
	background-color: #FFFFFF;
}

.tabla_datos th {
	text-align:right;
	background-color:#425363;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
	color:#FFFFFF;
	vertical-align: bottom;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #D1D2E7;
	border-bottom-color: #DDDDDD;
}

.tabla_datos td {
	border-right:1px solid #C9D3DA;
	border-bottom:1px solid #C9D3DA;
	padding-left: 8px;
	padding-right: 8px;
	color: #425363;
	text-align: right;
	vertical-align: top;
	padding-top: 1px;
	padding-bottom: 1px;
}


.WindowClose		{
	margin-right:0in;
	margin-left:0in;
	font-size:10pt;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color: #90A6B4;
}

.button_left {
	background-image:url(./images/boton_izq.gif);
	width: 29px;
	height: 29px;
}

.button_right {
	background-image:url(./images/boton_dch.gif);
	width: 29px;
	height: 29px;
}

.class_boton {
	background-image:url(./images/boton_bg.gif);
	color:#FFFFFF; 
}
	
.class_boton a {
	color:#FFFFFF;
	text-decoration:none;
	display:block;
	padding-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	
.senalizador_indice {
	color: #415465;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.txt_indice {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #869CAC;
	text-decoration: none;
}

:hover.txt_indice {
	text-decoration:underline;
}

.arrow_pic {
	background-image: url(./images/ico_titulo_inv.gif);
	width: 23px;
	height: 24px;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.header_logo {
	background-image: url(./images/helpme.gif);
	width: 342px;
	height: 48px;
	display: inline-block;
}
