.ticks-success {
  margin-bottom: 15px;
  width: 4rem;
  height: 4rem;
  border-radius: 30rem;
  background-color: #d1fae5;
}

.ticks-success:before {
  color: #1fbe88;
  margin-top: 1.2rem;
  font-size: 1.5rem;
}

.ticks-failure {
  margin-bottom: 15px;
  width: 4rem;
  height: 4rem;
  border-radius: 30rem;
  background-color: #fee2e2;
}

.ticks-failure:before {
  color: #ef4444;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.ticks-rtl:before {
  margin-right: 0.4rem;
}
.final-step-message-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.final-step-message {
  margin-top: 5%;
  width: 50rem;
  height: 20rem;
  text-align: center;
}