<div>
    <arb-panel *ngIf="success">
        <div class="final-step-message-container">
            <div class="final-step-message">
                <div class="icon -check -success ticks-success"></div>
                <h2>{{'gold-wallet.successHeader' | translate}}</h2>
                <br>
                <p>{{'gold-wallet.successLine' | translate}}</p>
            </div>
        </div>
    </arb-panel>
    <arb-panel *ngIf="success">
        <arb-panel-title [title]="'gold-wallet.summary' | translate">
        </arb-panel-title>
        <fieldset style="font-size: 18px;margin-left: 2%;margin-bottom: 1%;">
            <div class="col-xs-6 col-sm-3 ">
                <div class="form-group-information">
                    <div class="label-data">
                        <label>
                            {{'gold-wallet.linked-account'| translate}}
                        </label>
                    </div>
                    <div>
                        <span class="text-color">
                            {{walletOnBoardingConfirmRes?.linkedAccountDTO?.fullAccountNumber}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 ">
                <div class="form-group-information">
                    <div class="label-data">
                        <label>
                            {{'gold-wallet.wallet-number'| translate}}
                        </label>
                    </div>
                    <div>
                        <span class="text-color">
                        {{walletOnBoardingConfirmRes?.walletId}}
                    </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </arb-panel>
    <arb-panel *ngIf="!success">
        <div class="final-step-message-container">
            <div class="final-step-message">
                <div class="icon -close icon-failure ticks-failure"></div>
                <h2>{{'gold-wallet.failureHeader' | translate}}</h2>
                <br>
                <p>{{'gold-wallet.failureLine' | translate}}</p>
            </div>
        </div>
    </arb-panel>
</div>