<div class="container-fluid">
    <div class="sme-page-block">
        <div class="sme-form">
            <div class="sme-form__title">
                <!-- <div class="col-xs-12 col-sm-6 text-left">
                    {{ 'wpspayroll.uploadFile' | translate}}
                </div> -->
                <div *ngIf="isEmployee" class="col-xs-12 col-sm-6 text-left">
                    {{ 'wpspayroll.uploadEmployeeFile' | translate}}
                </div>
                <div *ngIf="!isEmployee" class="col-xs-12 col-sm-6 text-left">
                    {{ 'wpspayroll.uploadSalaryFile' | translate}}
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <a *ngIf="isEmployee" class="btn btn-info btn-wide" (click)="emitEmployeeFile()">
                        <span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;
                        <span>{{'wpspayroll.downloadTemplate' | translate }}</span>
                    </a>
                    <a *ngIf="!isEmployee" class="btn btn-info btn-wide" (click)="emitSalaryFile()">
                        <span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;
                        <span>{{'wpspayroll.downloadTemplate' | translate }}</span>
                    </a>
                </div>
            </div>

            <div class="sme-panel">
                <div class="sme-panel__body">
                    <div class="sme-form__body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <!-- sme-form-group -->
                                <div class="form-group">
                                    <!-- <label>{{ 'wpspayroll.uploadFile' |
                                        translate }}</label> -->
                                    <label *ngIf="isEmployee">{{ 'wpspayroll.uploadEmployeeFile' |
                                        translate }}</label>
                                    <label *ngIf="!isEmployee">{{ 'wpspayroll.uploadSalaryFile' |
                                        translate }}</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Upload file"
                                               [disabled]="true" [(ngModel)]="fileName">
                                        <span class="input-group-btn">
												<div class="fileUpload btn">
	    											<span>{{'public.upload' | translate | uppercase}}</span>
	    											<input type="file" (change)="fileChange($event)" accept=".txt"
                                                           class="upload">
												</div>
											</span>
                                    </div>

                                </div>
                                <!-- ./sme-form-group -->
                            </div>
                            <div class="col-xs-12 col-sm-3" *ngIf="needBatchName">
                                <!-- sme-form-group -->
                                <div class="form-group">
                                    <label>{{ 'wpspayroll.salaryFileName' |
                                        translate }}</label>
                                    <input type="text" class="form-control"
                                           [(ngModel)]="batchName">
                                </div>
                                <!-- ./sme-form-group -->
                            </div>
                            <div class="col-xs-12 col-sm-3" *ngIf="isCharity &&  needBatchName">
                                <!-- sme-form-group -->
                                <div class="form-group">
                                    <label
                                      class="required">{{ 'wpspayroll.paymentPurpose' |
                                      translate }}</label>
                                    <ng-select [notFoundText]="'public.noData' | translate" class="form-control"
                                               [(ngModel)]="paymentPurpose" name="paymentPurpose">

                                        <ng-option *ngFor="let purp of purpose" [value]="purp.key">
                                            {{purp.value}}</ng-option>
                                    </ng-select>
                                </div>
                                <!-- ./sme-form-group -->
                            </div>
                        </div>
                        <div>
                            <small>{{ 'wpspayroll.noteUploadFile' | translate }}​</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
