<div class="sme-breadcrumb">
    <ol class="breadcrumb">
        <li>{{ 'myProfile.myProfile' | translate }}</li>
        <li><a class="human-selectable" href="#"
                [routerLink]="['/myprofile/pending/requeststatus']">{{ 'myProfile.pending_actions.pending_actions' | translate }}</a>
        </li>
        <li>{{ 'myProfile.pending_actions.invoiceHUB' | translate }}</li>
    </ol>
</div>

<div *ngIf="wizardStep == 1">
    <div class="sme-form__actions">
        <a class="btn btn-primary btn-wide" routerlinkactive="active"
            (click)="displayWorkflowDetails(workflowDetailsPopup)">
            {{ "myProfile.pending_actions.actions.workflowDetails" | translate }}
        </a>
    </div>
</div>

<div class="sme-content-container container-fluid">

    <!-- Steps info section - What the current step is -->

    <div class="sme-page-block">
        <ul class="sme-box sme-wizard__steps">
            <li class="sme-wizard__step" [ngClass]="{'current': wizardStep==1, 'completed' : wizardStep>1}"><span>
                    <span class="num">1</span>
                    <span class="text">{{ 'myProfile.pending_actions.steps.select' | translate }}</span>
                </span>
            </li>
            <li class="sme-wizard__step" [ngClass]="{'current': wizardStep==2, 'completed' : wizardStep>2}"><span>
                    <span class="num">2</span>
                    <span class="text">{{ 'myProfile.pending_actions.steps.confirm' | translate }}</span>
                </span>
            </li>
            <li class="sme-wizard__step" [ngClass]="{'current': wizardStep==3, 'completed' : wizardStep>3}"><span>
                    <span class="num">3</span>
                    <span class="text">{{ 'myProfile.pending_actions.steps.summary' | translate }}</span>
                </span>
            </li>
        </ul>
    </div>

    <!-- Router Outlet displaying step component depending on navigation (step1, Step2 or Step3) -->

    <div>
        <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div>
    <div class="sme-content-container container-fluid">

        <!-- Reject Reason Section: Appears when the step is 2 and the flow is to refuse -->

        <div *ngIf="wizardStep==2 && !sharedData.approveFlow" class="sme-page-block">
            <div class="sme-form__content">
                <div class="sme-form__form">
                    <div class="sme-form__body" style="padding: 15px;">
                        <div class="sme-form__box sme-form__box--form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>{{ 'pendingActions.general.rejectedReason' | translate }}</label>
                                        <textarea class="form-control" rows="3" maxlength="150"
                                            [(ngModel)]="sharedData.rejectReason" name="rejectReason"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-workflow-details-popup #workflowDetailsPopup></app-workflow-details-popup>

    <!-- Action buttons -->

    <div class="sme-page-block sme-wizard__navigation sme-form__actions">
        <button *ngIf="wizardStep==2" (click)="backButton()" class=" btn btn-default btn-wide">
            {{ 'public.back' | translate }}
        </button>
        <button *ngIf="wizardStep==2 && !sharedData.approveFlow" (click)="confirmReject()"
            class=" btn btn-primary btn-wide">
            {{ 'myProfile.pending_actions.reject' | translate }}
        </button>
        <button *ngIf="wizardStep==2 && sharedData.approveFlow" (click)="confirmApprove()"
            class=" btn btn-primary btn-wide" [disabled]="isInValid2ndStep()">
            {{ 'public.confirm' | translate }}
        </button>
        <button [disabled]="sharedData.tableSelected.length==0" *ngIf="wizardStep==1" (click)="rejectFirstStep()"
            class=" btn btn-default btn-wide"
            style="margin-right:5px">{{ 'myProfile.pending_actions.reject' | translate }}</button>
        <button [disabled]="sharedData.tableSelected.length==0" *ngIf="wizardStep==1" (click)="approveFirstStep()"
            class=" btn btn-primary btn-wide">{{ 'myProfile.pending_actions.approve' | translate }}</button>

    </div>

</div>