<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="sme-panel">
            <div class="sme-panel__head">
                <div class="sme-panel__title">
                    {{'prePaidCard.name'| translate}}
                </div>
            </div>
            <div class="sme-panel__body">
                <div class="sme-panel__body">
                    <div class="row">
                        <div>
                            <app-carousel-pre-paid-cards>
                            </app-carousel-pre-paid-cards>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
