<div class="modal-dialog loading-position">
  <div class="modal-content">
    <div class="modal-header"></div>
    <div class="modal-body">
      <div class="">
        <img width="80" src="assets/icons/info_1.PNG" />
        <h2>{{'fleet.requests.offerReject'|translate}}</h2>
        <p>{{'fleet.requests.dossierID'| translate}}:  {{dossairID}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-wide" id="buttonClose">
        {{ 'public.close' | translate }}
      </button>
    </div>
  </div>
</div>
