.radio-button {
  height: 15px;
}

.radio-label {
  margin-top: 20px;
}

.labels {
  margin-top: 3px;
}

.radio-row {
  margin-bottom: 35px;
}

.add-quit-button {
  background: #2b4499;
  color: #fff;
  border: 2px solid #fff;
}
