.sme-breadcrumb{
  padding: 20px 15px 0;
}

.addBtn{
  text-align: end;
}

.noData{
  padding: 10%;
  text-align: center;
  font-size: 18px;
}

.icon{
  padding: 5%;
}

.img {
  width: 75px;
  padding-bottom: 35px;
}

.table_head{
  padding: 10px 0;
}

.addPadding {
  padding: 0 15px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.select {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.statusSpan {
  padding: 5px 13px 0;
  border-radius: 30px;
  font-size: 12px;
  width: 100px;
  text-align: center;

}

.greenSpan {
  background-color: #06a299;
  color: white;
}

.yellowSpan {
  background-color: #ffe0b2;
  color: #999999;
}

.sme-page-block{
  margin: 15px;
}
