.sme-page-title {
  font-family: 'noto-sans-en';
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  color: #1b254a;
  display: flex;
  flex: 0 0 100%;
  padding: 17px 0 32px 0;
}
.sme-page-sub-title{
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #1B254A;
}
.sme-page-title-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  padding: 17px 0 32px 0;
  .sme-page-title {
    font-family: 'noto-sans-en';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    color: #1b254a;
    padding: 0;
  }
 
  .sme-page-info {
    font-family: 'noto-sans-en-light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1b254a;
  }
}
