.sme-collapse {
    background-color: #ffffff;
    // padding: 25px 0 26px 24px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    &-header-sm {
      padding: 6px 0 24px 0;
      display: flex;
      flex: 0 0 100%;
      margin-bottom: 15px;
      font-family: 'noto-sans-en-light';
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #1B254A;
      border-bottom: 1px solid #e6e9ef;
      justify-content: space-between;
    }
    &-header-md {
      padding: 0px 0 10px 0;
      display: flex;
      flex: 0 0 100%;
      margin-bottom: 15px;
      font-family: 'noto-sans-en-light';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 13px;
      letter-spacing: 0.5px;
      // text-transform: uppercase;
      color: #1B254A;
      border-bottom: 1px solid #e6e9ef;
      justify-content: space-between;
    }
    &-header {
    //   padding: 6px 0 24px 0;
      display: flex;
      flex: 0 0 100%;
      margin-bottom: 15px;
      font-family: 'noto-sans-en-light';
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 26px;
      color: #1b254a;
    //   border-bottom: 1px solid #e6e9ef;
      align-items: baseline;
      gap: 15px;
      justify-content: space-between;
    }
    &-header-start {
      padding: 0;
      display: flex;
      align-items: baseline;
      gap: 15px;
    }
    &-show-body{
        display: block!important;
    }
    &-header-end {
      padding: 0;
      display: flex;
    }
    &-msg {
      font-family: 'noto-sans-en-light';
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #1b254a;
    }
    &-body {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    &-show-body{
        display: block;
    }
    .icon {
      font-size: 20px;
    }
  }
  
  .sme-card-border {
    display: flex;
    background-color: #ffffff;
    padding: 18px 15px;
    border: 1px solid #e6e9ef;
  }
  