.sme-car-card {
  &-head {
    padding: 0;
  }
  &-body {
    padding: 16px;
    border-left: 1px solid #e6e9ef;
    border-right: 1px solid #e6e9ef;
    border-bottom: 1px solid #e6e9ef;
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #e6e9ef;
    border-right: 1px solid #e6e9ef;
    border-bottom: 1px solid #e6e9ef;
  }
  &-footer-start {
    padding: 16px;
  }
  &-footer-end {
    padding: 23px;
  }
}
