.sme-pills {
  &-warning {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px;
    border-radius: 30px;
    background: #fbf1e0;
    & p {
      font-family: 'noto-sans-en-light';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #f67c0d;
    }
  }
  &-primary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px;
    border-radius: 30px;
    background: #d7ddff;
    & p {
      font-family: 'noto-sans-en-light';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #221afb;
    }
  }
  &-default {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 10px;
    border-radius: 30px;
    background: #E6E9EF;
    & p {
      font-family: 'noto-sans-en-light';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #6B7280;
    }
  }
}
