.sme-range,
.sme-date-range {
  display: table;
  padding: 0;

  > .form-control,
  > .icon {
    display: table-cell;
  }

  .form-control {
    border: 0;
  }

  .icon {
    width: 50px;
    text-align: center;
  }
}
