.sme-info-default {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex: 0 0 100%;
  gap: 14px;
}
.sme-info-success {
  background: #eaf7f2;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex: 0 0 100%;
  gap: 14px;
}
.sme-info-danger {
  background-color: #fee2e2;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex: 0 0 100%;
  gap: 14px;
}
