.sme-range-slider-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sme-range-slider-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'noto-sans-en-light';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #474b52;

  &-start {
    padding: 3px;
  }
  &-end {
    padding: 3px;
    font-family: 'noto-sans-en';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #1b254a;
  }
}
.sme-range-slider-body {
  padding: 0;
}

.sme-range-slider-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'noto-sans-en-light';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #474b52;
  &-start {
    padding: 3px;
  }
  &-end {
    padding: 3px;
  }
}
