.sme-breadcrumb {
    &-item{
        font-family: "noto-sans-en-light";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        color: #474b52;
    }
    &-active{
        color: black;
        font-size: 13px;
    }
    
}
  