:host ::ng-deep .ng-select .ng-select-container:after {
  border-bottom: none;
  padding-bottom: 0;
}

:host ::ng-deep .ng-select {
  padding-bottom: 0;
}

:host ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
  padding-bottom: 6px;
}

:host ::ng-deep .ng-clear-wrapper {
  padding-bottom: 5px;
}

//:host ::ng-deep .ng-dropdown-panel .scroll-host {
// overflow-y: hidden !important;
//}

.select-account-container {
  border: 1px solid #e6e9ef !important;
  padding-right: 16px;
  padding-left: 16px;
}

.logo-container {
  display: flex;
}

.availableBalance-en {
  float: right;
}

.availableBalance-ar {
  float: left;
}