.btn .text + .glyphicon,
.btn .glyphicon + .text {
  margin-left: 7px;
}

@media screen and (max-width: 540px) {
  .btn.btn-wide.btn-link {
    min-width: 50px;
    padding: 10px 15px;
    line-height: 12px;
  }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #999999 !important;
  font-weight: bold !important;
}
