.title {
  font-size: 24px;
  padding-bottom: 10px;
}

.body {
  font-size: 15px;
}

.modal-footer {
  text-align: end;
}

.legend {
  box-shadow: inset 0 -1px 0 0 #dbdbdb;
  padding: 15px 0;
}

.sme-wizard__success {
  padding: 50px 0 80px;
}


.iconError {
  text-align: center;

  img {
    padding-bottom: 20px;
  }
}


.statusSpan {
  margin: 0 12px;
  padding: 5px 13px;
  border-radius: 30px;
  top: 21px;
  width: 80px;
  font-size: 12px;
  height: 21px;
}


.greenSpan {
  background-color: #06a299;
  color: white;
}

.yellowSpan {
  background-color: #ffe0b2;
  color: #999999;
}

.redSpan {
  background-color: salmon;
  color: white;
}

.iconSpan {
  float: right;
  margin-top: -4px;
}

.commentRow {
  padding: 0 25px;
}

.input-group {
  display: flex;
}