.remarks-info-rtl {
  margin-left: 10px !important;
  margin-right: 5px !important;
}

.remarks-info-ltr {
  margin-right: 10px !important;
}

.remark-icon {
  align-self: center;
}

.remark-icon.icon.-info:before {
  color: blue;
  font-size: 20px;
}