<div class="sme-breadcrumb">
    <ol class="breadcrumb">
        <li>{{ 'dashboard.payrolls'| translate }}</li>
        <li><a href="#" [routerLink]="['/payroll/payroll-cards']">{{ 'dashboard.payrollCards'| translate }}</a></li>
        <li><a href="#"
                [routerLink]="['/payroll/payroll-cards/card-payments']">{{ 'payroll.cardPayments'| translate }}</a></li>
        <li class="active">{{ 'payroll.loadPreviousPayrollCard'| translate }}</li>
    </ol>
</div>

<div class="container-fluid">
    <div class="sme-page-block">
        <!-- sme-demo--table--activity-logs-list -->
        <!-- sme-data-table -->
        <div class="sme-data-table">
            <div class="sme-data-table__head">
                <div class="sme-data-table__title">
                    {{'payroll.loadPreviousPayrollCard' | translate }}
                </div>
                <div class="sme-data-table__export">
                    <table-export [dataTable]="monthFilePageTable" [header]="'payrollCardPageTablet' | translate"
                        [columns]="[
  {'title':'payroll.fileName' | translate , 'dataKey': 'fileName'},
  {'title':'public.date' | translate, 'dataKey': 'dataReceived'}
]"></table-export>

                </div>
            </div>
            <div>

                <div class="sme-table table headerDataTable">
                    <ngx-datatable [messages]="{emptyMessage: 'public.noData' | translate}" #monthFilePageTable
                        class="material sme-table sme-table--responsive table" [rows]="monthFilePage.data"
                        [columnMode]="defaultColumnMode" [headerHeight]="30" [footerHeight]="footerHeight"
                        [rowHeight]="defaultHeight" [externalPaging]="true" [externalSorting]="true"
                        [count]="monthFilePage.page.totalElements" [offset]="monthFilePage.page.pageNumber-1"
                        [limit]="monthFilePage.page.pageSize"  (page)="setPage($event)"
                        (sort)="setSort($event)">

                        <ngx-datatable-column prop="fileName">

                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sort()" class="datatable-header-cell-wrapper">
                                    {{'payroll.fileName' | translate }}
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                                <a (click)="details(row)" style="cursor:pointer"> {{value}} </a>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="dataReceived">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sort()" class="datatable-header-cell-wrapper">
                                    {{'public.date' | translate }}
                                </span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span>{{value | date:"dd/MM/yyyy" }}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-footer>
                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                <div class="sme-data-table__footer">
                                    <app-datatable-pager
                                        [pagerLeftArrowIcon]="(translate.currentLang === 'en' ? 'datatable-icon-left' : 'datatable-icon-right')"
                                        [pagerRightArrowIcon]="(translate.currentLang === 'en' ? 'datatable-icon-right' : 'datatable-icon-left')"
                                        [pagerPreviousIcon]="(translate.currentLang === 'en' ? 'datatable-icon-prev' : 'datatable-icon-skip')"
                                        [pagerNextIcon]="(translate.currentLang === 'en' ? 'datatable-icon-skip' : 'datatable-icon-prev')"
                                        [page]="curPage" [size]="pageSize" [count]="rowCount"
                                        [hidden]="!((rowCount / pageSize) > 1)" [visiblePagesCount]="visiblePagesCount"
                                        (change)="monthFilePageTable.onFooterPage($event)">
                                    </app-datatable-pager>

                                    <div class="sme-data-table__actions form-inline">
                                        <span class="sme-data-table__action-group">{{ 'public.showingLabel' | translate}} {{this.monthFilePage.page.size}}
                                            {{ 'public.ofLabel' | translate}} {{rowCount}}</span>
                                        <span class="hidden-xs"> | </span>
                                        <span class="sme-data-table__action-group">
                                            <span>{{ 'public.showRowsLabel' | translate}}</span>
                                            <div class="sme-select form-control">
                                                <select class="form-control" [(ngModel)]="this.monthFilePage.page.pageSize"
                                                    (change)="this.setPage(null)">
                                                    <option [value]="10">10</option>
                                                    <option [value]="20">20</option>
                                                    <option [value]="50">50</option>
                                                    <option [value]="100">100</option>
                                                </select>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </ng-template>

                        </ngx-datatable-footer>

                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sme-page-block sme-wizard__navigation sme-form__actions">
    <button type="button" class=" btn btn-default btn-wide"
        [routerLink]="['/payroll/payroll-cards/card-payments']">{{'public.back' | translate }}</button>
</div>
