@import "./src/scss/theme/css/vendor/_directional.scss";

@media screen and (min-width: 800px) {
  .container {
    display: flex;
    width: 710px;
    height: 80%;
    padding: 0;
    overflow-y: auto;
  }
  .info-container {
    width: 307px;
    // height: 638px;
    background: url("../../../../../../assets/img/group-3.png") no-repeat center;
    background-size: cover;
    display: flex;
    // align-items: flex-end;
    padding-top: 49px;
    justify-content: flex-end;
    text-align: right;
    font-family: 'noto-sans-en',"noto-sans-ar";
    @if $dir != ltr {
      font-family: "noto-sans-ar",'noto-sans-en';
    }
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    padding-bottom: 50px;
    float: left;
  }

  .info-container-en {
    padding-right: 40px;
  }

  .info-container-ar {
    padding-left: 40px;
  }

  .form-container {
    width: 403px;
    // height: 638px;
    padding-left: 39px;
    float: left;
    padding-right: 39px;
    background-color: #fff;
    padding-top: 70px;
    max-height: 680px;
    overflow-y: auto;
  }
  .mail-content {
    margin-bottom: 108px !important;
  }

  .contact-form-text {
    font-family: 'noto-sans-en',"noto-sans-ar";
    @if $dir != ltr {
      font-family: "noto-sans-ar",'noto-sans-en';
    }
    min-width: 97px;
  }

  .info-container__details {
    color: #fff;
    font-family: 'noto-sans-en',"noto-sans-ar";
    @if $dir != ltr {
      font-family: "noto-sans-ar",'noto-sans-en';
    }
    div {
      margin-bottom: 30px;
      width: 200px;
      .text {
        width: 210px;
        height: 92px;
        opacity: 0.8;
        font-family: 'noto-sans-en',"noto-sans-ar";
        @if $dir != ltr {
          font-family: "noto-sans-ar",'noto-sans-en';
        }
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
      }
      icon-address {
        width: 10px;
        height: 15px;
        object-fit: contain;
        opacity: 0.5;
        background-color: #bac0d9;
      }

      .strong {
        width: 52px;
        height: 17px;
        opacity: 0.8;
        font-family: 'noto-sans-en',"noto-sans-ar";
        @if $dir != ltr {
          font-family: "noto-sans-ar",'noto-sans-en';
        }
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    display: flex;
    width: 370px;
    height: 600px;
    padding: 0;
  }
  .info-container {
    width: 180px;
    height: 600px;
    background: url("../../../../../../assets/img/group-3.png") no-repeat center;
    background-size: cover;
    display: flex;
    // align-items: flex-end;
    padding-top: 49px;
    justify-content: flex-end;
    text-align: right;
    font-family: 'noto-sans-en',"noto-sans-ar";
    @if $dir != ltr {
      font-family: "noto-sans-ar",'noto-sans-en';
    }
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    padding-bottom: 50px;
    float: left;
  }

  .info-container-en {
    padding-right: 10px;
  }

  .info-container-ar {
    padding-left: 10px;
  }

  .form-container {
    width: 203px;
    font-size: 10px;
    height: 600px;
    padding-left: 19px;
    float: left;
    padding-right: 19px;
    background-color: #fff;
    padding-top: 70px;
  }

  .contact-form-text {
    font-family: 'noto-sans-en',"noto-sans-ar";
    @if $dir != ltr {
      font-family: "noto-sans-ar",'noto-sans-en';
    }
    min-width: 97px;
    font-size: 10px;
  }

  .info-container__details {
    color: #fff;
    font-family: 'noto-sans-en',"noto-sans-ar";
    @if $dir != ltr {
      font-family: "noto-sans-ar",'noto-sans-en';
    }
    div {
      margin-bottom: 20px;
      width: 150px;
      .text {
        width: 210px;
        height: 92px;
        opacity: 0.8;
        font-family: 'noto-sans-en',"noto-sans-ar";
        @if $dir != ltr {
          font-family: "noto-sans-ar",'noto-sans-en';
        }
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
      }
      icon-address {
        width: 10px;
        height: 15px;
        object-fit: contain;
        opacity: 0.5;
        background-color: #bac0d9;
      }

      .strong {
        width: 52px;
        height: 17px;
        opacity: 0.8;
        font-family: 'noto-sans-en',"noto-sans-ar";
        @if $dir != ltr {
          font-family: "noto-sans-ar",'noto-sans-en';
        }
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #ffffff;
      }
    }
  }
}
.title-container {
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  height: 40px;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  color: #000000;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 40px;
  // height: 200px;
}

label {
  width: 34px;
  height: 13px;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.46px;
  color: #9099a0;
}

.closeButton-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.close-en {
  position: absolute;
  top: 26px;
  right: 26px;
  cursor: pointer;
}

.close-ar {
  position: absolute;
  top: 26px;
  left: 26px;
  cursor: pointer;
}

.title-contact {
  font-size: 26px;
}

.contact-form-content {
  padding-top: 32px;
}
