<div class="container-fluid">
    <div class="sme-head">
        <div class="sme-head__title">{{ 'payroll.addEmployee' | translate}}</div>
    </div>
</div>

<div class="container-fluid" *ngFor="let employee of initEmployee?.companyEmployeeDTOList">
    <div class="sme-page-block">
        <div class="sme-form">
            <div class="sme-form__content">
                <form autocomplete="off" class="sme-form__form">
                    <div class="sme-form__body">
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label for="deduct-from-account-input">{{ 'payroll.employeeNumber' |
                                            translate }}</label>
                                        <span id="deduct-from-account-input"
                                              class="form-control">{{employee.employeeReference}}</span>

                                    </div>
                                    <!-- ./sme-form-group -->
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{ 'payroll.employeeName' |
                                            translate }}</label>
                                        <span class="form-control">{{employee.name}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{ 'payroll.civilianID' |
                                            translate }}</label>
                                        <span class="form-control">{{employee.civilianId}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label class="required">{{ 'public.bank' |
                                            translate }}</label>
                                        <span class="form-control">{{ 'payrollBankCode' | modelPipe:employee.bankCode}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{ 'payroll.account' |
                                            translate }}</label>
                                        <span class="form-control">{{employee.account}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label class="required">{{ 'payroll.salary' |
                                            translate }}</label>
                                        <span class="form-control">{{employee.salary}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="generateChallengeAndOTP">
    <div class="sme-page-block">
        <div class="sme-form">
            <div class="sme-form__content">
                <form autocomplete="off" class="sme-form__form">
                    <div class="sme-form__body">
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <app-secured-authentication [generateChallengeAndOTP]="generateChallengeAndOTP"
                                                                    [requestValidate]="requestValidate"
                                                                    #authorization>
                                        </app-secured-authentication>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
