<div class="sme-breadcrumb">
	<ol class="breadcrumb">
		<li class="active">{{ 'companyAdmin.companyAdmin' | translate }}</li>
		<li class="active">
			{{ 'companyAdmin.posaccounts' | translate }}</li>
	</ol>
</div>

<div class="container-fluid sme-content-container">
	<div class="sme-page-block">
		<ul class="sme-box sme-wizard__steps">
			<li class="sme-wizard__step" [ngClass]="{'current' : step === 1, 'completed' : step > 1}">
				<span>
					<span class="num">1</span>
					<span class="text">{{ 'public.completeDetails' | translate | uppercase }}</span>
				</span>
			</li>
			<li class="sme-wizard__step" [ngClass]="{'current' : step === 2, 'completed' : step > 2}">
				<span>
					<span class="num">2</span>
					<span class="text">{{ 'public.confirm' | translate | uppercase}}</span>
				</span>
			</li>
			<li class="sme-wizard__step" [ngClass]="{'current' : step === 3, 'completed' : step > 3}">
				<span>
					<span class="icon -check"></span>
					<span class="text">{{ 'public.summary' | translate | uppercase }}</span>
				</span>
			</li>
		</ul>
	</div>
</div>

<app-pos-accounts-step1 *ngIf="step === 1" (onInit)="onInitStep1($event)">
</app-pos-accounts-step1>

<app-pos-accounts-step2 *ngIf="step === 2" [tableAccounts]="tableAccounts" [accountSelected]="accountSelected"
	[accountNotSelected]="accountNotSelected" (onInit)="onInitStep2($event)">
</app-pos-accounts-step2>

<app-pos-accounts-step3 *ngIf="step === 3" (onInit)="onInitStep3($event)">
</app-pos-accounts-step3>

<arb-buttons>
	<button type="button" class=" btn btn-default btn-wide" (click)="previous()"
		*ngIf="step > 1 && step < 3">{{'public.back' | translate }}</button>
	<button class="btn btn-default btn-wide" (click)="finish()" *ngIf="step == 3">
		{{'public.finish' | translate}}</button>
	<button class="btn btn-primary btn-wide" (click)="next()"
		*ngIf="step == 1">{{'public.activate' | translate}}</button>
	<button class="btn btn-primary btn-wide" (click)="next()"
		*ngIf="step == 2">{{'public.update' | translate}}</button>
</arb-buttons>
