.hr-break {
  margin-top: 0 !important;
  width: 200% !important;
  height: 2px;
  color: #eeeeee;
  background-color: #eeeeee;
  position: relative;
  border: none;
  left: -50%;
}

.hr-break-rtl {
  margin-top: 0 !important;
  width: 200% !important;
  height: 2px;
  color: #eeeeee;
  background-color: #eeeeee;
  position: relative;
  border: none;
  left: 50%;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}