.margin-bottom {
    margin-bottom: 20px;
}

.legend {
    box-shadow: inset 0 -1px 0 0 #e8e8e8;
    margin-top: 15px;
    flex-grow: 0;
    font-family: WorkSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.uploadItem {
    padding-top: 15px;
}

.lable {
    font-size: 15px;
    color: lightgrey;
}

.item {
    font-size: 14px;
    padding-top: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.greenCheck {
    font-size: 26px;
    color: #56970b;
    display: block;
    margin-top: -13px;
}

.error{
    color: orangered;
}

.redo{
    width: 20px;
    margin-top: -10px;
}