.pd-20 {
  padding: 20px 0;
}
.search_heading {
  display: block;
  text-align: right;
}
.width {
  width: 100%;
}
.no-padding {
  padding: 0;
}
.ht-auto {
  height: auto;
}
.pdf-sign{
  color: #dc5565 !important;
}
.pdf-text{
  color: black !important;
}
.btn-border{
  border: 2px solid #abaaaa;
  border-radius: 5px;
  margin-left: 5%;
}
.status-message{
  margin-right:1%;
  white-space: pre-wrap;
}