.collapse-card-container {
  background-color: #eff6ff !important;
  border: 0.5px solid #e8ebf0;
}

.collapse-card-body {
  margin: 0 auto;
  background-color: #fff !important;
}

.collapse-card-head {
  height: 50px;
  display: flex;
  align-items: center;
}

.collapse-card-cell-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.collapse-card-head-cell {
  margin-right: 10px;
  margin-left: 10px;
}

.collapse-btn-collapse:before {
  content: "ꨈ" !important;
}

.collapse-btn:before {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 15px;
  content: "ꨉ";
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.no-decoration {
  text-decoration: none;
}
