.alert {
  font-size: $font-size-16;
  @media screen and (max-width: $max-width) {
    font-size: $font-size-16 * $factor;
  }
  @media screen and (max-width: $max-width2) {
    font-size: $font-size-16 * $factor2;
  }
  color: #ffffff;
}

.alert-danger {
  background-color: #de4d5f !important;
}

.alert-warning {
  background-color: #ffb415 !important;
}
