ngx-datepicker {
  width: auto !important;

  & button.btn {
    min-width: 20px;
    width: 20px;
    height: 20px;
  }

  & input {
    height: 34px !important;
  }
}

datepicker .btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #b9c0d9;
  background-color: rgba(89, 94, 114, 0.82);
  border-color: #b9c0d9;
  border-top-color: rgb(185, 192, 217);
  border-right-color: rgb(185, 192, 217);
  border-bottom-color: rgb(185, 192, 217);
  border-left-color: rgb(185, 192, 217);
}

.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
  color: #b9c0d9;
  background-color: rgba(89, 94, 114, 0.82);
  border-color: #b9c0d9;
}

datepicker .btn-default {
  color: #2b4499;
  border-color: #2b4499;
  border-top-color: rgb(43, 68, 153);
  border-right-color: rgb(43, 68, 153);
  border-bottom-color: rgb(43, 68, 153);
  border-left-color: rgb(43, 68, 153);
}

datepicker .btn-default:hover {
  color: #b9c0d9;
  background-color: rgba(89, 94, 114, 0.82);
  border-color: #b9c0d9;
  border-top-color: rgb(185, 192, 217);
  border-right-color: rgb(185, 192, 217);
  border-bottom-color: rgb(185, 192, 217);
  border-left-color: rgb(185, 192, 217);
}

div.menu_widget {
  text-align: center;
  margin-bottom: 2rem;
}

div.menu_widget .ngb-dp-day,
div.menu_widget .ngb-dp-weekday,
div.menu_widget .ngb-dp-week-number {
  width: 3rem !important;
  height: 3rem !important;
}

div.menu_widget .bg-light {
  background-color: #1d2232 !important;
}

div.menu_widget .ngb-dp-day {
  color: #97c0ce;
}

div.menu_widget ngb-datepicker {
  border: 0px;
  display: inline-block;
}

div.menu_widget .ngb-dp-weekday {
  color: #4e98ce;
}
