@if $dir == rtl {
  $icon-chevron-temp: $icon-chevron-right;
  $icon-chevron-right: $icon-chevron-left;
  $icon-chevron-left: $icon-chevron-temp;

  $icon-caret-temp: $icon-caret-right;
  $icon-caret-right: $icon-caret-left;
  $icon-caret-left: $icon-caret-temp;

  $icon-arrow-temp: $icon-arrow-right;
  $icon-arrow-right: $icon-arrow-left;
  $icon-arrow-left: $icon-arrow-temp;
}
