.card-cell-header {
  color: #808692;
  size: 1.5rem;
  margin-bottom: 5px;
}

.card-cell-body {
  color: #212a4e;
}

.extend-hr {
  width: 200%;
  margin-left: -50%
}

th, td, tr {
  border-top: none !important;
  border-bottom: none !important;
  height: 50px;
  text-align: center;
  vertical-align: middle !important;
}

.table-styles {
  border-top: 1px solid #e8ebf0;
  background-color: #eff6ff;
  margin-bottom: 0;
}

:host ::ng-deep .table-striped tbody tr:nth-of-type(even) {
  background-color: #f8f9ff !important;
}

:host ::ng-deep .table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff !important;
}

.multiple-charts-parent {
  display: flex;
  align-items: center
}