.legend {
    box-shadow: inset 0 -1px 0 0 #dbdbdb;
    margin-top: 15px;
}

.onTop {
    z-index: 1000;
}

.margin-checBox {
    margin: 20px 20px;
}

.link {
    color: #2b4499;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 5px;
}

.checkSpan span {
    display: contents;
}

.checkSpan {
    margin-top: 5px;
}

.hint {
    margin: 0 14px 10px;
    color: lightgray;
}

.img-icon {
    width: 20px;
    height: 20px;
}

.hint{
    padding: 0 5px;
    color: black;
}
