.sme-data-table {
  &__title {
    display: inline-block;
    margin-top: 2vh;
    padding: 0;
  }
}

hr {
  border-color: black;
}

.sme-checkbox {
  display: inline-block;
  margin: 2px;
}

div.col-xs-2.col-sm-3 {
  padding: 10px;

  label {
    display: block;
    padding-bottom: 10px;

    &.checkbox-inline {
      display: inline-block;
    }
  }
}
