<div class="container-fluid">
	<div class="sme-page-block">
		<div class="sme-form">
			<div class="sme-form__title">
				<div class="col-xs-12 col-sm-6 text-left">
					{{ 'wpspayroll.newEmployee' | translate}}
				</div>
				<div class="col-xs-12 col-sm-6 sme-form__actions">
					<a class="btn btn-primary btn-wide" (click)="addEmployee()">{{
					'wpspayroll.addEmployee' | translate }}</a>
				</div>
			</div>
		</div>
	</div>
</div>			
<form autocomplete="off" [formGroup]="form">
<div class="container-fluid" formArrayName="employees" *ngFor="let employ of form.controls.employees['controls']; let i=index">

	<div [formGroupName]="i">
	<div class="sme-page-block">
		<div class="sme-form">
			<div class="sme-form__form">
			<div class="sme-form__content">
				<a class="sme-form__close btn" (click)="removeEmployee(i)"><span class="icon -close"></span></a>
					<div class="sme-form__body">
							<div class="row">
							<fieldset>
								<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label class="required">{{ 'wpspayroll.employeeNumber' |
											translate }}</label> 
										<input type="text" class="form-control"	formControlName="employeeNumber" maxlength="12" inputPattern="onlyDigits" pattern="[1-9][0-9]*">
										<div *ngIf="employ.controls.employeeNumber.hasError('required') && employ.controls.employeeNumber.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.employeeNumber' | translate }} {{ 'error.required' | translate }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.employeeNumber.hasError('maxLength') && employ.controls.employeeNumber.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.employeeNumber' | translate }} {{ 'error.maxlength' | translate:{size:12} }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.employeeNumber.hasError('pattern') && employ.controls.employeeNumber.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.employeeNumber' | translate }} {{ 'error.start0' | translate }} </small>
                                        </div>    
									</div>
									<!-- ./sme-form-group -->
								</div>
								<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label class="required">{{ 'wpspayroll.employeeName'
											| translate }}</label> 
										<input type="text" class="form-control" formControlName="employeeName" maxlength="50">
										<div *ngIf="employ.controls.employeeName.hasError('required') && employ.controls.employeeName.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.employeeName' | translate }} {{ 'error.required' | translate }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.employeeName.hasError('maxLength') && employ.controls.employeeName.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.employeeName' | translate }} {{ 'error.maxlength' | translate:{size:50} }} </small>
                                        </div>
										<div *ngIf="employ.controls.employeeName.hasError('pattern') && employ.controls.employeeName.touched" class="alert alert-danger">
											<small>{{'wpspayroll.employeeName' | translate }}{{ 'error.onlyAlphabetical' | translate }} </small>
										</div>
									</div>
									<!-- ./sme-form-group -->
								</div>
								<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label for="civilian-id-input" class="required">{{
											'wpspayroll.civilianID' | translate }}</label> 
										<input type="text" class="form-control" id="civilian-id-input" formControlName="civilianId" maxlength="10" minlength="10" inputPattern="onlyDigits" pattern="[0-9]{10}">
										<div *ngIf="employ.controls.civilianId.hasError('required') && employ.controls.civilianId.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.civilianID' | translate }} {{ 'error.required' | translate }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.civilianId.hasError('pattern') && employ.controls.civilianId.touched" class="alert alert-danger">
                                                    <small>{{ 'error.onlyNumber10' | translate }} </small>
                                        </div>  
									</div>
									<!-- ./sme-form-group -->
								</div>

								<div class="col-xs-12 col-sm-3">
									<div class="form-group">
										<label>{{
											'public.department' | translate }}</label> 
											<input formControlName="departmentId" class="form-control" maxlength="10">
										
								
									</div>
									<!-- sme-form-group -->
									
									<!-- ./sme-form-group -->
								</div>
							</fieldset>	
							</div>
							<div class="row">
							<fieldset>
								<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label for="account-input" class="required">{{ 'companyAdmin.user.ibanAccount' |
											translate }}</label> 
										<input type="text" class="form-control"	id="account-input" formControlName="account" maxlength="24" inputPattern="notArabic" >
										<div *ngIf="employ.controls.account.hasError('required') && employ.controls.account.touched" class="alert alert-danger">
                                                    <small>{{'companyAdmin.user.account' | translate }} {{ 'error.required' | translate }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.account.hasError('maxLength') && employ.controls.account.touched" class="alert alert-danger">
                                                    <small>{{'companyAdmin.user.account' | translate }} {{ 'error.maxlength' | translate:{size:24} }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.account.hasError('pattern') && employ.controls.account.touched" class="alert alert-danger">
                                                    <small>{{ 'beneficiaries.ibanFrontValidation' | translate }} </small>
                                        </div>    
									</div>
									<!-- ./sme-form-group -->
								</div>
								<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label class="required">{{
											'public.bank' | translate }}</label> 
										<span class="form-control disabled" [innerHTML]="banksMap.get(employ.controls.bank?.value)"></span>
									</div>
									<!-- ./sme-form-group -->
								</div>
								
							</fieldset>
							</div>
							<div class="row">
							<fieldset>
								<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label for="salaryBasic-input">{{ 'wpspayroll.basicSalary'
											| translate }}</label> 
										<input type="text" class="form-control" id="salaryBasic-input" formControlName="salaryBasic" maxlength="16" inputPattern="onlyPositiveDecimalNumbers" pattern="[0-9]{0,13}(\.[0-9]{0,2})?$">
										<!-- <div *ngIf="employ.controls.salaryBasic.hasError('required') && employ.controls.salaryBasic.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.basicSalary' | translate }}{{ 'error.required' | translate }} </small>
                                        </div> -->
                                        <div *ngIf="employ.controls.salaryBasic.hasError('maxLength') && employ.controls.salaryBasic.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.basicSalary' | translate }} {{ 'error.maxlength' | translate:{size:15} }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.salaryBasic.hasError('pattern') && employ.controls.salaryBasic.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.basicSalary' | translate }} {{ 'error.maxAndNumericDecimal' | translate }} </small>
                                        </div>   
									</div>
									<!-- ./sme-form-group -->
								</div>
								<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label for="allowanceHousing-input">{{ 'wpspayroll.housingAllowance'
											| translate }}</label> 
										<input type="text" class="form-control" id="allowanceHousing-input" formControlName="allowanceHousing" maxlength="16" inputPattern="onlyPositiveDecimalNumbers" pattern="[0-9]{0,13}(\.[0-9]{0,2})?$">
										<!-- <div *ngIf="employ.controls.allowanceHousing.hasError('required') && employ.controls.allowanceHousing.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.housingAllowance' | translate }}{{ 'error.required' | translate }} </small>
                                        </div> -->
                                        <div *ngIf="employ.controls.allowanceHousing.hasError('maxLength') && employ.controls.allowanceHousing.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.housingAllowance' | translate }} {{ 'error.maxlength' | translate:{size:16} }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.allowanceHousing.hasError('pattern') && employ.controls.allowanceHousing.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.housingAllowance' | translate }} {{ 'error.maxAndNumericDecimal' | translate }} </small>
                                        </div>   
									</div>
									<!-- ./sme-form-group -->
								</div>
								<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label for="allowanceOther-input">{{ 'wpspayroll.otherAllowance'
											| translate }}</label>
										<input type="text" class="form-control" id="allowanceOther-input" formControlName="allowanceOther" maxlength="16" inputPattern="onlyPositiveDecimalNumbers" pattern="[0-9]{0,13}(\.[0-9]{0,2})?$">
										<!-- <div *ngIf="employ.controls.allowanceOther.hasError('required') && employ.controls.allowanceOther.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.otherAllowance' | translate }}{{ 'error.required' | translate }} </small>
                                        </div> -->
                                        <div *ngIf="employ.controls.allowanceOther.hasError('maxLength') && employ.controls.allowanceOther.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.otherAllowance' | translate }} {{ 'error.maxlength' | translate:{size:16} }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.allowanceOther.hasError('pattern') && employ.controls.allowanceOther.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.otherAllowance' | translate }} {{ 'error.maxAndNumericDecimal' | translate }} </small>
                                        </div>   
									</div>
									<!-- ./sme-form-group -->
								</div>
								<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label for="deductions-input">{{ 'wpspayroll.deductions'
											| translate }}</label> 
										<input type="text" class="form-control" id="deductions-input" formControlName="deductions" maxlength="16" inputPattern="onlyPositiveDecimalNumbers" pattern="[0-9]{0,13}(\.[0-9]{0,2})?$" [lte]="(employ.controls.allowanceOther.value ? +employ.controls.allowanceOther.value : 0)+
        								(employ.controls.allowanceHousing.value ? +employ.controls.allowanceHousing.value : 0)+
          								(employ.controls.salaryBasic.value ? +employ.controls.salaryBasic.value : 0)">
										<!-- <div *ngIf="employ.controls.deductions.hasError('required') && employ.controls.deductions.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.deductions' | translate }}{{ 'error.required' | translate }} </small>
                                        </div> -->
                                        <div *ngIf="employ.controls.deductions.hasError('maxLength') && employ.controls.deductions.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.deductions' | translate }} {{ 'error.maxlength' | translate:{size:16} }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.deductions.hasError('pattern') && employ.controls.deductions.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.deductions' | translate }} {{ 'error.maxAndNumericDecimal' | translate }} </small>
                                        </div>
                                        <div *ngIf="employ.controls.deductions.hasError('lte') && employ.controls.deductions.touched" class="alert alert-danger">
                                                    <small>{{'wpspayroll.deductions' | translate }} {{ 'error.maxValue' | translate:{value:(employ.controls.allowanceOther.value ? +employ.controls.allowanceOther.value : 0)+
        								(employ.controls.allowanceHousing.value ? +employ.controls.allowanceHousing.value : 0)+
          								(employ.controls.salaryBasic.value ? +employ.controls.salaryBasic.value : 0)} }} </small>
                                        </div>   
									</div>
									<!-- ./sme-form-group -->
								</div>
							</fieldset>
							</div>	
							<div class="row">
							<fieldset>
							<div class="col-xs-12 col-sm-3">
									<!-- sme-form-group -->
									<div class="form-group">
										<label class="required">{{ 'wpspayroll.salary'
											| translate }}</label> 
										<span class="form-control disabled">{{employ.controls.salary?.value | amountCurrency}} {{'currencyIso' | modelPipe: '608'}}</span>
									</div>
									<!-- ./sme-form-group -->
								</div>	
							</fieldset>
							</div>
					</div>			
				
			</div>	
			</div>
		</div>
	</div>
	</div>
</div>

</form>	
