.ticks-success {
  margin-bottom: 15px;
  width: 4rem;
  height: 4rem;
  border-radius: 30rem;
  background-color: #d1fae5;
}

.ticks-success:before {
  color: #1fbe88;
  margin-top: 1.2rem;
  font-size: 1.5rem;
}

.ticks-failure {
  margin-bottom: 15px;
  width: 4rem;
  height: 4rem;
  border-radius: 30rem;
  background-color: #fee2e2;
}

.ticks-failure:before {
  color: #ef4444;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.ticks-rtl:before {
  margin-right: 0.4rem;
}

.ticks-warning {
  margin-bottom: 15px;
  width: 4rem;
  height: 4rem;
  border-radius: 30rem;
  background-color: #fbf1e0;
  color: #f67c0d;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5%;
  font-size: 2.5rem;
}

.final-step-message-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.final-step-message {
  margin-top: 5%;
  width: 50rem;
  height: 25rem;
  text-align: center;
}

.result-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around
}

.info-label {
  color: #d7dbe0;
  margin-top: 1rem
}