<div class="sme-head">
    <div class="sme-head__title">{{'chequebook.stopChequebook' | translate}}</div>
    <!-- <div class="col-xs-12 col-sm-12 sme-form__actions">
        <a class=" btn btn-primary btn-wide" (click)="addPositivePay()">{{'chequebook.addpositivePayment' | translate }}</a>
    </div> -->
</div>

<form autocomplete="off" [formGroup]="form">
    <div class="container-fluid">
        <div class="sme-page-block">
            <div class="sme-form">

                <div class="sme-form__content">
                    <div class="sme-form__body">

                        <fieldset>

                            <small>{{ 'chequebook.stopChequeWarning' | translate }}​</small>

                            <div class="sme-wizard__content">
                                <div class="sme-form">

                                    <div>

                                        <div class="sme-form__content">
                                            <div class="sme-form__body">
                                                <div class="row">

                                                    <div class="col-xs-12 col-sm-4">

                                                        <div class="form-group">
                                                            <label for="account" class="required">{{ 'chequebook.account' | translate }}</label>

                                                            <div class="sme-select form-control">
                                                                <select id="account" class="form-control" formControlName="account">
                                                                    <option selected value disabled>--{{ 'public.selectAccount' | translate }}--</option>
                                                                    <option *ngFor="let account of accounts" [value]="account.fullAccountNumber" >
                                                                                {{account.fullAccountNumber}}
                                                                            </option>
                                                                </select>
                                                                <div *ngIf="form.controls.account.hasError('required') && form.controls.account.touched" class="alert alert-danger">
                                                                    <small>{{'chequebook.error.accountRequired' | translate }}</small>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                     <div class="col-xs-12 col-sm-3">
                                                        <!-- sme-form-group -->
                                                        <div class="form-group">
                                                            <label for="chequeNumber">{{ 'chequebook.chequeNumber' | translate }}</label>
                                                            <!-- sme-select -->
                                                            <div>
                                                                <input id="chequeNumber" class="form-control" formControlName="chequeNumber" maxlength="7" inputPattern="onlyDigits"/>
                                                            </div>
                                                            <div *ngIf="form.controls.chequeNumber.hasError('required') && form.controls.chequeNumber.touched" class="alert alert-danger">
                                                                <small>{{'chequebook.error.chequeNumberRequired' | translate }}</small>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-3">
                                                            <!-- sme-form-group -->
    
                                                            <div class="form-group">
                                                                <label>{{'chequebook.stopChequeWarningType' | translate }}</label>
    
                                                                <div class="sme-radio radio">
                                                                    <label>
                                                                        <input type="radio" formControlName="chequeType" [value]="01">
                                                                        <i aria-hidden="true"></i>
                                                                        <span>{{ 'chequebook.stopChequeBookSingleCheque' | translate }}
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                                <div class="sme-radio radio">
                                                                    <label>
                                                                        <input type="radio" formControlName="chequeType" [value]="02">
                                                                        <i aria-hidden="true"></i>
                                                                        <span>{{ 'chequebook.stopChequeBookAllChequeBook' | translate
                                                                            }}</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="form.controls.chequeType.hasError('required') && form.controls.chequeType.touched" class="alert alert-danger">
                                                                <small>{{'chequebook.error.stopTypeRequired' | translate }}</small>
                                                            </div>
                                                        </div>
    
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>