<arb-breadcrumb [routes]="routes" *ngIf="routes && routes.length>0">
</arb-breadcrumb>
<div class="container-fluid">
    <div class="sme-page-block">
        <div class="sme-form">
            <div class="sme-form__title">
                <div class="col-xs-12 col-sm-6 text-left" style="padding-left: 0;font-size: xx-large;">
                    {{ 'viewCardsCredential.cardCredentials' | translate }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="sme-page-block">
        <div class="sme-form">
            <div class="sme-form__form">
                <div class="sme-form__content">
                    <div class="sme-form__body" style="display:flex">
                        <div>
                            <img src="img/infoIcon.svg" class="img-info-icon" alt="" />
                        </div>
                        <div class="text-center">
                            {{ 'viewCardsCredential.messageTimer' | translate:{displayTime:display} }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="sme-page-block">
        <div class="sme-form">
            <div class="sme-form__form">
                <div class="sme-form__content">
                    <div class="sme-form__body">
                        <div class="details">
                            <div class="details-column">
                                <div class="head-list" style="margin-top: 5px">
                                    <!-- Business Inicio -->
                                    <div *ngIf="imageType && imageType===businessCard" id="image" class="display-div-column">
                                        <img *ngIf="selectedcard && selectedcard.cardIcon; else imageCard"
                                            [src]="selectedcard.cardIcon" class="image-medium-target-prepaid" />
                                        <ng-template #imageCard>
                                            <span class="image-medium-target"></span>
                                        </ng-template>
                                    </div>
                                    <!-- Business Fin -->
                                    <!-- Prepaid Inicio -->
                                    <div *ngIf="imageType && imageType===prepaidCard" id="image1" class="display-div-column">
                                        <img *ngIf="selectedcard && selectedcard.cardIcon; else imageCard1"
                                            [src]="selectedcard.cardIcon" class="image-medium-target" />
                                        <ng-template #imageCard1>
                                            <span class="image-medium-target-prepaid"></span>
                                        </ng-template>
                                    </div>
                                    <!-- Prepaid Fin  -->
                                    <!-- Mada Cards Inicio -->
                                    <div *ngIf="imageType && imageType===madaCard" id="image2" class="display-div-column">
                                        <img class="debit-image-target" />
                                    </div>
                                    <!-- Mada Cards Fin -->
                                </div>

                            </div>
                            <div class="details-column border-separator">
                                <div class="fields">
                                    <span class="text-legend">{{'viewCardsCredential.cardHolderName'
                                        | translate}}</span>
                                </div>

                                <div class="fields" style="display: flex">
                                    <div class="text-center-image"> <span class="border-none" #spanName>
                                            {{credentialsData?.cardHolderName}}</span>
                                    </div>
                                    <div class="right-justify" (click)="copyToClipboard('cardHolderName')">
                                        <div style="margin-top: 10px">
                                            <span class="icon -copyCB icon-size image-margin"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="text-center-image">
                                        <span class="text-legend text-center-image">{{'viewCardsCredential.expiryDate'
                                            | translate}}</span>
                                    </div>
                                </div>

                                <div class="fields" style="margin-top: 10px">
                                    <div class="text-center-image"><span

                                            class="border-none">{{credentialsData?.expiryDate
                                            }}</span></div>
                                </div>
                            </div>
                            <div class="details-column">
                                <div class="fields">
                                    <span class="text-legend"> {{'viewCardsCredential.accountNumber'
                                        | translate}}</span>
                                </div>

                                <div class="fields" style="display: flex">
                                    <div class="text-center-image"><span class="border-none">
                                            {{credentialsData?.accountNumber}}</span></div>
                                    <div class="right-justify" (click)="copyToClipboard('accountNumber')">
                                        <div style="margin-top: 10px">
                                            <span class="icon -copyCB icon-size image-margin"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="text-center-image">
                                        <span class="text-legend">{{'viewCardsCredential.cvv'| translate}}</span>
                                    </div>
                                </div>

                                <div class="fields" style="display: flex">
                                    <div class="text-center-image">
                                        <span *ngIf="cvvIsVisible" class="border-none">
                                            {{credentialsData?.cvv}}</span>
                                        <span *ngIf="!cvvIsVisible" class="border-none">
                                            ****</span>
                                    </div>
                                    <div (click)="changeCvvIsVisible()" class="right-justify">
                                        <div style="margin-top: 10px">
                                            <span class="icon -eye icon-size image-margin"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sme-page-block sme-wizard__navigation sme-form__actions">
    <button type="button" class=" btn btn-default btn-wide" (click)="goBack()">{{'public.back' |
        translate }}</button>
</div>


<!-- Modal -->
<div class="modal fade" bsModal #timeExpiredPopUp="bs-modal" [config]="{ backdrop: 'static' }" role="dialog">
    <div class="modal-dialog" style="width:1400px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header title-Popup padding-screen">
                <div class="modal-header justifyLeft">
                    <button (click)="goBack()" type="button" class="close">&times;</button>
                </div>
            </div>
            <div class="modal-expired padding-screen">
                <p class="text-size text-color">{{ 'viewCardsCredential.timeExpired' | translate }}</p>
            </div>
            <div class="modal-expired padding-screen">
                <p style="font-size: medium;">{{ 'viewCardsCredential.dearCustomer' | translate }} {{messageExpired}}
                </p>
            </div>

            <div class="container-fluid padding-screen">
                <div class="sme-page-block">
                    <div class="sme-form">
                        <div class="sme-form__form">
                            <div class="sme-form__content">
                                <div class="sme-form__body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>