.img-info-icon {
    width: 35px;
    height: 35px;
}
.text-center{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
.details{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.details-column{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 15px;
}
.fields{
    margin-top: 5px;
    margin-bottom: 5px;
}
.right-justify{
    margin-left: auto
}
.text-center-image{
    margin-top: auto;
    margin-bottom: auto;
}
.image-margin{
    margin-right: 50px;
}
.modal-expired{
    padding: 10px 10px;
    text-align: center;
}
.icon-size{
    font-size: x-large;
    cursor: pointer;
}
.text-size{
    font-size: medium
}
.text-color{
    color: black
}
.padding-screen{
    padding: 60px;
}