.goldOnBoardingLanding{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contentCenter{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
