@media screen and (min-width: 800px) {
  .banner-container {
    // max-width: 570px;
    // max-height: 290px;

    a {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .banner-container {
    max-width: 570px;
    max-height: 290px;

    a {
      width: 100%;

      img {
        width: 90%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        padding-top: 10px;
      }
    }
  }
}

.carousel {
  outline: none;
}

.no-indicators {
  position: inherit;
}

// .padding-image {
//   padding-bottom: 15px;
// }

.carousel-indicators {
  display: none;
}

.banner-container .carousel .carousel-inner .carousel-item {
  margin-left: 0px;
}
