a.sme-form__head.collapsed {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #172328 !important;
}

a.sme-form__head.collapsed {
    padding-left: 20px;
}
