.failImage {
  width: 65px;
  height: 65px;
  text-align: center;
}

.failContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.retryContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}

.notRetryable {
  text-decoration: none;
  color: #bcbcbc;
}

.notRetryable:hover {
  text-decoration: none;
  color: #bcbcbc;
}

.retryable {
  cursor: pointer;
  text-decoration: none;
  color: #000045;
}

.retryable:hover {
  cursor: pointer;
  text-decoration: none;
  color: #1f13ff;
}