<arb-panel>
    <arb-panel-title [title]="'gold-wallet.summary' | translate">
    </arb-panel-title>
    <fieldset style="font-size: 18px;margin-left: 2%;margin-bottom: 1%;">
        <div class="col-xs-6 col-sm-3 ">
            <div class="form-group-information">
                <div class="label-data"><label>{{'gold-wallet.linked-account'| translate}}</label>
                </div>
                <div><span class="text-color">{{goldWalletOnBoardingRequest.account.fullAccountNumber}}</span></div>
            </div>
        </div>
    </fieldset>
</arb-panel>