<arb-panel>
    <h3>{{ 'accounts.creditCards.pidStep1Title' | translate }}</h3>
    <hr>
    <app-credit-cards-details-payments-in-advance-form
            [formModel]="formModel"
            [card]="card"
            [paymentData]="paymentData"
            [accountList]="accountList">
    </app-credit-cards-details-payments-in-advance-form>
</arb-panel>

<arb-panel>
    <div>
        <div>
            <label><span class="icon -help"></span> {{ 'accounts.creditCards.pidStep1HelpTitle' | translate }}
            </label>
        </div>
        <div>
            {{ 'accounts.creditCards.pidStep1HelpText0' | translate }}<br/>
            <ul>
                <li>{{ 'accounts.creditCards.pidStep1HelpText1' | translate }}</li>
                <li>{{ 'accounts.creditCards.pidStep1HelpText2' | translate }}</li>
                <li>{{ 'accounts.creditCards.pidStep1HelpText3' | translate }}</li>
            </ul>
            <br/>
        </div>
    </div>
</arb-panel>
