@import "./src/scss/theme/css/vendor/_directional.scss";

.disclaimer {
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.disclaimerBody {
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: start;
  color: #999999;
}

.form-control {
  height: 60px;
}

.unlinkAccount {
  width: 611px;
  height: 23px;
  flex-grow: 0;
  margin: 0 20px 20px 0;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
}

.unlinkNote {
  width: 430px;
  height: 18px;
  flex-grow: 0;
  margin: 0 20px 20px 10px;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
}

.selectReson {
  width: 117px;
  height: 24px;
  flex-grow: 0;
  margin: 30px 20px 20px 0;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: start;
}

.radioDiv {
  width: 325px;
  height: 83px;
  flex-grow: 0;
  margin: 13px 20px 20px 0;
  padding: 31px 20px;
  border: solid 1px #bcc2c6;
  text-align: start;
  cursor: pointer;
}

.radioBox {
  padding: 0px 10px;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
}

.selectedRadio {
  background-color: #1b3696;
}

.crError {
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: tomato;
}


.sarieImg {
  width: 160.6px;
  height: 63.3px;
}

.ips-modal-title {
  flex-grow: 0;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.43px;
  text-align: start;
  color: #18272e;
}

.ips-modal-body {
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: start;
  color: #999999;
}

.modal-dialog {
  width: 700px;
}

.modal-content {
  padding: 32px;
}

.modal-footer {
  padding: 40px 0 0 0;
  text-align: end;
}

.modal-header {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.headerDiv {
  width: 50%;
}

.headerImg {
  text-align: end;
}

.ips-modal-title2 {
  padding-top: 30px;
  padding-bottom: 16px;
  flex-grow: 0;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: start;
}

.modal-icons {
  display: flex;
  flex-direction: row;
  padding: 30px 13%;
}

.ellips {
  width: 65px;
  height: 45px;
  flex-grow: 0;
  margin: 0 16px 10px 10px;
  padding: 11px 20px 10px 20px;
  background-color: #e5e9ef;
  border-radius: 50%;
}

.iconImg {
  flex-grow: 0;
  object-fit: contain;
}

.icoText {
  flex-grow: 0;
  margin: 10px 0 0;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1b254a;
}

.tcDiv {
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: start;
  color: #999999;
}

.tcSpan {
  color: #bf4500;
  cursor: pointer;
}

.btn {
  width: 101px;
}

.addBtn {
  width: 160px;
  text-align: center;
  padding: 10px;
  margin: 0 10px;
}
