ul.nav.nav-pills {
  border-bottom: 1px solid #e4e5e6;
}

ul.nav.nav-pills li {
  -moz-border-radius-bottomleft: initial;
  -moz-border-radius-bottomright: initial;
}

ul.nav.nav-pills li.active {
  border-bottom: 1px solid #2b4499;
}

ul.nav.nav-pills li a {
  color: #555555;
  background-color: transparent;
}

ul.nav.nav-pills li.active a {
  color: #2b4499;
}

.end{
  text-align: end;
  padding: 20px 15px 0;
}

.start{
  float: left;
}

.statusSpan {
  padding: 5px 13px;
  border-radius: 30px;
  font-size: 12px;
}

.greenSpan {
  background-color: #06a299;
  color: white;
}

.yellowSpan {
  background-color: #ffe0b2;
  color: #999999;
}

.redSpan {
  background-color:salmon;
  color: white;
}

.addPadding{
  padding: 0 10px;
}

.gridContainer{
  padding: 0 15px;
}