<div class="sme-data-table__head">
    <div class="sme-data-table__title">
        {{ 'transfer.feedback.feedBackFileDetails' | translate}}
    </div>

    <div class="sme-data-table__export">
        <table-export [dataTable]="downloadedFiles" [header]=" fileSelected['fileReference']" [columns]="[
						{'title':'payments.moiPayments.feedBack.billName' | translate ,'dataKey':'billName'},
						{'title':'payments.moiPayments.feedBack.accountFrom' | translate,'dataKey':'accountFrom'},
						{'title':'payments.moiPayments.feedBack.billReference' | translate,'dataKey':'billReference'},
						{'title':'payments.moiPayments.feedBack.amount' |translate ,'dataKey':'amount'},
						{'title':'payments.moiPayments.feedBack.process' | translate,'dataKey':'process'},
						{'title':'payments.moiPayments.feedBack.status' | translate,'dataKey':'returnCode'}
						]">
        </table-export>
    </div>
</div>
<div class="sme-page-block">
    <div class="sme-form">
        <div class="sme-form__content">
            <div class="sme-form__body feedBack_content">
                <div class="row">
                    <div class="col-md-10 col-sm-10 fileName_style">
                        <b>{{ 'transfer.feedback.fileReference' | translate }}:</b> {{fileSelected['fileReference']}}
                    </div>
                </div>
                <div>
                    <div class="sme-table table headerDataTable">
                        <ngx-datatable [messages]="{emptyMessage: 'public.noData' | translate}" #downloadedFiles
                                       class="material sme-table sme-table--responsive table" [rows]="fileDetail"
                                       [columnMode]="defaultColumnMode" [headerHeight]="30" [footerHeight]="50"
                                       [rowHeight]="defaultHeight" [count]="fileDetail.length" [externalPaging]="false"
                                       [externalSorting]="false">

                            <ngx-datatable-row-detail [rowHeight]="defaultHeight" #myDetailRow>
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                                    <div class="row">
                                        <fieldset>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label
                                                           >{{'payments.moiPayments.feedBack.billName' | translate }}</label>
                                                    <div>
                                                        <span class="human-selectable">{{row.billName}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label
                                                           >{{'payments.moiPayments.feedBack.accountFrom' | translate }}</label>
                                                    <div>
                                                        <span>{{row.accountFrom }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="row">
                                        <fieldset>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label
                                                           >{{'payments.moiPayments.feedBack.billReference' | translate }}</label>
                                                    <div>
                                                        <span>{{ row.billReference }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label
                                                           >{{'payments.moiPayments.feedBack.amount' | translate }}</label>
                                                    <div>
                                                        <span>{{ row.amount | amountCurrency }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="row">
                                        <fieldset>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label>
                                                        {{'payments.moiPayments.feedBack.process' | translate }}</label>
                                                    <div>
                                                        <span> {{ row.billProcess }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label
                                                           >{{'payments.moiPayments.feedBack.status' | translate }}</label>
                                                    <div>
                                                        <span>{{ row.returnCode | modelPipe:'errorTable.'+value }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </ng-template>
                            </ngx-datatable-row-detail>

                            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"> </ngx-datatable-column>

                            <ngx-datatable-column prop="billName">
                                <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()" class="datatable-header-cell-wrapper">
									{{'payments.moiPayments.feedBack.billName' | translate }}
								</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="accountFrom">
                                <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()" class="datatable-header-cell-wrapper">
									{{'payments.moiPayments.feedBack.accountFrom' | translate }}
								</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="billReference" [resizeable]="true">
                                <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()" class="datatable-header-cell-wrapper">
									{{'payments.moiPayments.feedBack.billReference' | translate }}
								</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="amount" [resizeable]="true">
                                <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()" class="datatable-header-cell-wrapper">
									{{'payments.moiPayments.feedBack.amount' | translate }}
								</span>
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    <span>{{value | amountCurrency}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="billProcess">
                                <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()" class="datatable-header-cell-wrapper">
									{{'payments.moiPayments.feedBack.process' | translate }}
								</span>
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    <span>{{ (value ? ('billProcess' | modelPipe:value) : '') }}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="returnCode">
                                <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()" class="datatable-header-cell-wrapper">
									{{'payments.moiPayments.feedBack.status' | translate }}
								</span>
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    <span>{{'errors' | modelPipe:'errorTable.'+value}}</span>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-footer>
                                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                                             let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                    <div class="sme-data-table__footer">
                                        <app-datatable-pager
                                                [pagerLeftArrowIcon]="(translate.currentLang === 'en' ? 'datatable-icon-left' : 'datatable-icon-right')"
                                                [pagerRightArrowIcon]="(translate.currentLang === 'en' ? 'datatable-icon-right' : 'datatable-icon-left')"
                                                [pagerPreviousIcon]="(translate.currentLang === 'en' ? 'datatable-icon-prev' : 'datatable-icon-skip')"
                                                [pagerNextIcon]="(translate.currentLang === 'en' ? 'datatable-icon-skip' : 'datatable-icon-prev')"
                                                [page]="curPage" [size]="pageSize" [count]="rowCount"
                                                [hidden]="!((rowCount / pageSize) > 1)"
                                                (change)="downloadedFiles.onFooterPage($event)">
                                        </app-datatable-pager>

                                        <div class="sme-data-table__actions form-inline">
										<span
                                                class="sme-data-table__action-group">{{ 'public.showingLabel' | translate}}
                                            {{pageSize}} {{ 'public.ofLabel' | translate}} {{rowCount}}</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
