.legend {
  box-shadow: inset 0 -1px 0 0 #dbdbdb;
}

.errorDiv {
  padding: 40px;
}

.iconError {
  text-align: center;

  img {
    padding: 40px 0;
  }
}

.errorText {
  padding-top: 30px;
  flex-grow: 0;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #1b3696;
}

.errorMsg {
  font-size: 18px;
  line-height: 1.89;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  padding: 15px 0 20px;
}
