.quotation-note {
    margin-top: 15px
}

.delete-img {
    width: 15px;
    cursor: pointer;
}

.validation-error {
    font-size: 12px;
    color: #EF4444;
}

.error-color {
    color: #EF4444;
}

.file-input {
    display: none;
}

.file-name {
    background: transparent;
    border: none;
    outline-width: 0;
    margin-right: 15%;
    width: 50%;
}

.display-none {
    display: none;
}
.display-inherit{
    display: inherit;
}