.list-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 525px;
  height: 721px;
}
.list-content p {
  flex: 1 0 auto;
}

.title {
  padding-top: 35px;
  padding-bottom: 30px;
}

.fleet-container {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 32px;
}

.fleet-desc-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 856px;
  height: 721px;
  margin-right: 24px;
}

.hr-break {
  margin-top: 1em;
  width: 100% !important;
  height: 2px;
  color: #eeeeee;
  background-color: #eeeeee;
  position: relative;
  border: none;
}

.hr-break-rtl {
  margin-top: 1em;
  width: 100% !important;
  height: 2px;
  color: #eeeeee;
  background-color: #eeeeee;
  position: relative;
  border: none;
}
.numberCircle {
  background: #e6e9ef;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.number {
  position: relative;

  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: #474b52;
}

.document {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1b254a;
}

.checkboxText {
  line-height: 21px;
}

.TermsAndCond {
  margin-top: 34px;
}

.desc {
  font-family: 'noto-sans-en-light';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1b254a;
}

.btn-container {
  padding-bottom: 130px;
}

.left-btn {
  float: left;
}

.right-btn {
  float: right;
}

.icon-text-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.icon-container {
  margin-right: 12px;
  margin-top: 5px;
  text-align: center;
  padding-top: 16.4px;
}

.fleet-breadcrumb {
  margin: 24px 24px 32px 24px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .row.row-eq-height {
    display: flex;
    flex-wrap: wrap;
  }
}
