.card-cell-header {
  color: #808692;
  size: 1.5rem;
  margin-bottom: 5px;
}

.card-cell-body {
  color: #212a4e;
}

.extend-hr {
  width: 200%;
  margin-left: -50%
}

.extend-hr-rtl {
  width: 200%;
  margin-right: -50%
}

.half-hr-first {
  width: 100%;
  margin-left: -50%
}

.half-hr-first-rtl {
  width: 100%;
  margin-right: -50%
}

.half-hr-second {
  width: 100%;
  margin-left: 50%
}

.half-hr-second-rtl {
  width: 100%;
  margin-right: 50%
}

th, td, tr {
  border-top: none !important;
  border-bottom: none !important;
  height: 50px;
  text-align: center;
  vertical-align: middle !important;
}

.table-styles {
  border-top: 1px solid #e8ebf0;
  background-color: #eff6ff;
  margin-bottom: 0;
  height: 36vh;
}

.multiple-charts-major{
  float: right !important;
  width: 60% !important;
}

.multiple-charts-minor{
  float: right !important;
  width: 40% !important;
}

:host ::ng-deep .table-striped tbody tr:nth-of-type(even) {
  background-color: #f8f9ff !important;
}

:host ::ng-deep .table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff !important;
}

.tab {
  color: #c3c8d5;
  cursor: pointer
}

.active-tab {
  color: #595e72;
  cursor: no-drop;
}

@media screen and (max-width: 768px) {
  .multiple-charts-parent {
    flex-flow: column wrap;
  }

  .multiple-charts-major{
    width: 100% !important;
  }

  .multiple-charts-minor{
    width: 100% !important;
  }
}

.multiple-charts-parent {
  display: flex;
  align-items: center
}

.renew-sub-ltr {
  margin-left: auto;
}

.renew-sub-rtl {
  margin-right: auto;
}