.detail-container {
  position: relative;
  /*margin-top:36px;*/
  margin-bottom: -50px;
  display: flex;
  justify-content: center;
}

.activity-logs-detail {
  background: #fff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 36px;
  width: 40%;
}

.title {
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
  text-align: center;
  text-transform: capitalize;
}

.description-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.info-container > div {
  display: flex;
}

.info-container > div > strong {
  width: 180px;
  margin-bottom: 4px;
}

.active {
  text-transform: capitalize;
}

ngx-datatable {
  margin: 24px 12px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
