<div class="sme-breadcrumb">
        <ol class="breadcrumb">
                <li>{{ 'payments.processedFile.payments'| translate }}</li>
                <li><a class="human-selectable" href="#"
                        [routerLink]="['/hajjandumrahcards/options']">{{ 'menu.payments.hajjumrahcards.menu'| translate }}</a>
                </li>
                <li class="active">{{ 'payments.hajjumrahcards.cardoperation'| translate }}
                </li>
        </ol>
</div>

<arb-steps [currentStep]="wizardStep" [steps]="['public.selectDropdown','public.confirm','public.summary']">
</arb-steps>

<app-cardOperations-step1 *ngIf="isStepVisible(1)" (onInit)="onInitStep(1,$event)">
</app-cardOperations-step1>

<app-cardOperations-step2 *ngIf="isStepVisible(2)" (onInit)="onInitStep(2,$event)" [form]="form" [requestValidate]="requestValidate">
</app-cardOperations-step2>

<app-cardOperations-step3 *ngIf="isStepVisible(3)">
</app-cardOperations-step3>

<div class="sme-page-block sme-wizard__navigation sme-form__actions">
        <button *ngIf="wizardStep==2" (click)="back()"
                class=" btn btn-default btn-wide">{{ 'public.back' | translate }}</button>
        <button *ngIf="wizardStep==2" (click)="next()" class=" btn btn-primary btn-wide"
                [disabled]="validOTP()">{{ 'public.confirm' | translate }}</button>
        <button *ngIf="wizardStep===1" (click)="next()"
                [disabled]="this.step1.child.tableSelectedRows.length === 0 || !this.step1.child.operation || (this.step1.child.operation && this.step1.child.operation.value === '000')"
                class=" btn btn-primary btn-wide">{{ 'payments.hajjumrahcards.Initiate' | translate }}</button>
        <button class="btn btn-primary btn-wide" (click)="finish()"
                *ngIf="isFinishAllowed()">{{'public.finish' | translate}}</button>
</div>
