.ht-auto {
  height: auto;
}
.justify_end {
  display: flex;
  justify-content: fle;
}
.search_heading {
  display: block;
  text-align: right;
}
.pd-20 {
  padding: 20px;
}
.optType {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 140px;
  border: 1px solid #ccc;
  background-color: white;
}
.optType label {
  font-size: large !important;
  color: #000;
  padding: 10px;
}
.optType select {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  color: black;
  background-color: #f1f1f1;
}
