.ht-auto {
  height: auto;
}
.justify_end {
  display: flex;
  justify-content: fle;
}
.search_heading {
  display: block;
  text-align: right;
}
.pd-20 {
  padding: 20px 0;
}
.pl-0 {
  padding-left: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.padding_top {
  padding-top: 15px;
}
