.anchor-link {
  text-decoration: underline;
}

.login-info {
  margin: 15px
}

.form-control {
  width: 100% !important;
}

.checkbox-margin {
  margin-right: 10px;
  margin-left: 10px
}

.extend-input {
  width: 100% !important;
}

.hr-break {
  margin-top: 0;
  width: 200% !important;
  height: 2px;
  color: #eeeeee;
  background-color:#eeeeee;
  position: relative;
  border: none;
  left: -50%;
}

.hr-break-rtl {
  margin-top: 0;
  width: 200% !important;
  height: 2px;
  color: #eeeeee;
  background-color:#eeeeee;
  position: relative;
  border: none;
  left: 50%;
}

.statusSpan {
  padding: 5px 13px;
  border-radius: 36px;
  font-size: 14px;
}

.redSpan {
  background-color: #fee2e2;
  color: #f15454;
}

.ticks {
  margin-bottom: 15px;
  width: 2rem;
  height: 2rem;
  border-radius: 20rem;
  background-color: #d1fae5;
}

.ticks:before {
  color: #1fbe88;
  margin-left: 0.4rem;
  margin-top: 0.6rem;
  font-size: 0.8rem;
}

.ticks-rtl:before {
  margin-right: 0.4rem;
}

.productImage {
  width: 33px;
  height: 33px;
}

.icon-float-left {
  float: left;
}

.icon-float-right {
  float: right;
}

.pre-register-getSub {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .pre-register-getSub {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }
}