.sme-form__body{
  margin: 60px 0 15px;
  padding: 60px 0;
}


.alignCenter {
  text-align: center;
  height: 450px;
}

.title {
  margin-bottom: 15px;
  margin-top: 100px;
  color: #1b3696;
  font-size: 24px;
  font-weight: 500;
}

.body {
  color: #1b3696;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 17px;
}

.title2 {
  margin: 15px 0;
  font-size: 17px;
  color: #585858;
}

.steps {
  text-align: start;
  position: absolute;
  font-size: 15px;
  color: #585858;
}

.stepsEn {
  left: 42%;
}

.stepsAr {
  left: 38%;
}

.num {
  position: relative;
  z-index: 1000;
  top: 1px;
}

.numEn{
  left: -15px;
}

.numAr{
  left: 15px;
}

.rtl.num {
  left: 15px;
}

.step {
  margin-bottom: 10px;
}

