b {
  float: right !important;
}

.left {
  width: 20px;
  height: 24px;
  color: #221afb;
  background-image: url(~assets/img/Arrow.svg);
  background-repeat: no-repeat;
  cursor: pointer !important;
}
.right {
  width: 20px;
  height: 24px;
  color: #221afb;
  background-image: url(~assets/img/Arrow.svg);
  background-repeat: no-repeat;
  cursor: pointer !important;
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);
}
.back-button {
  height: 24px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  background-color: #fff;
}

:host ::ng-deep .ng-select .ng-select-container .ng-value-container {
  display: block !important;
  flex: 1 !important;
  padding: 5px 20px !important;
}

.Top {
  height: 38px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.Tag-Filter {
  width: 93.7px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  object-fit: contain;
  border-radius: 100px;
  box-shadow: 0 4px 16px 0 rgba(34, 26, 251, 0.04);
  border: solid 1px #e6e9ef;
  background-color: #fff;

}

.selected-tag {
  width: 93.7px;
  height: 38px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  object-fit: contain;
  border-radius: 100px;
  background-color: #e6e9ef;
  color: #0a03bb;
}

.Tags {
  display: flex;
}
.Tags-ar {
  margin-left: 1.3%;
  float: left;
}
.Tags-en {
  float: right;
  margin-right: 1.3%;
}
.currencies-ar{
  margin-right: 1.3%;
  margin-top: 1%;
}
.currencies-en{
  margin-left: 1.3%;
  margin-top: 1%;
}