<arb-panel>
  <div class='legend'>{{ data.dossierID }}
    <span *ngIf='!data.isShowMore' class='statusSpan'
          [ngClass]="isApproved(data.dossierStatus)? 'greenSpan' : 'yellowSpan' ">{{getStatus(data.dossierStatus) | translate}}</span>
    <span class='iconSpan' (click)='showMore()'>
            <img *ngIf='!data.isShowMore' class='iconImage' src='assets/icons/expand-more.png' />
            <img *ngIf='data.isShowMore' class='iconImage' src='assets/icons/expand-less.png' />
        </span>
  </div>
  <div class='row' *ngIf='data.isShowMore && data.details'>
    <div>
      <div class='chartDiv'>
        <div class='chartTextDiv'>
                    <span class='blackItem'>{{data.details.creditLine.totalAmt| amountCurrency}}
                      {{data.currency}}</span> <br>
          {{'financeProduct.details.totalFinancedAmount'| translate}}<br>
          <hr class='hLine'>
          <span class='blackItem'>{{data.details.remainingAmt| amountCurrency}}
            {{data.currency}}</span> <br>
          {{'financeProduct.details.outstandingAmount'| translate}}<br>
        </div>
        <canvas [attr.id]="data.dossierID+'Chart'" width='100' height='100'></canvas>
        <span class='viewDetails' (click)='viewInstallmentsDetails()'>
                    {{'financeProduct.details.viewInstallmentsDetails'| translate}} >
                </span>
      </div>
    </div>
    <div class='col-xs-12 col-sm-3'>
      <div class='dataColumn'>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.type' | translate }}</label>
          <div class='input-group'>
            <span
                    *ngIf='data.details.product.productCode == "MSB_REVOLVING_CREDIT_CARD"'>{{  'mrcc.name' | translate  }}</span>
            <span
                    *ngIf='data.details.product.productCode != "MSB_REVOLVING_CREDIT_CARD"'>{{ data.details.product.productCode }}</span>
          </div>
        </div>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.principalAmount' | translate }}</label>
          <div class='input-group'>
                        <span>{{data.details.financeAmt | amountCurrency}}
                          {{data.currency}}</span>
          </div>
        </div>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.startDate' | translate }}</label>
          <div class='input-group'>
            <span>{{getDate(data.details.creditLine.firstRePymtDate)}}</span>
          </div>
        </div>

        <div class='form-group'>
          <label>{{ 'financeProduct.details.nextInstallmentDate' | translate }}</label>
          <div class='input-group'>
            <span>{{getDate(data.details.creditLine.disbursmentList[0].nextInstallmentDate)}}</span>
          </div>
        </div>

        <div class='form-group'>
          <label>{{ 'financeProduct.details.totalProfit' | translate }}</label>
          <div class='input-group'>
                        <span>{{data.details.creditLine.totalProfitAmt| amountCurrency}}
                          {{data.currency}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-3'>
      <div class='dataColumn'>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.contractNumber' | translate }}</label>
          <div class='input-group'>
            <span>{{data.dossierID}}</span>
          </div>
        </div>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.instalmentAmount' | translate }}</label>
          <div class='input-group'>
                        <span>{{data.details.creditLine.installmentAmt | amountCurrency}}
                          {{data.currency}}</span>
          </div>
        </div>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.endDate' | translate }}</label>
          <div class='input-group'>
            <span>{{getDate(data.details.creditLine.disbursmentList[0].posDetail.lastRePymntDate)}}</span>
          </div>
        </div>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.remainingInstallment' | translate }}</label>
          <div class='input-group'>
            <span>{{data.details.creditLine.disbursmentList[0].remainingInstallments}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-3'>
      <div class='dataColumn'>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.accountNumber' | translate }}</label>
          <div class='input-group'>
            <span>{{data.details.creditLine.accountNumber}}</span>
          </div>
        </div>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.frequencyOfInstallment' | translate }}</label>
          <div class='input-group'>
            <span>{{data.details.creditLine.disbursmentList[0].tenure}}</span>
          </div>
        </div>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.durationOfFinance' | translate }}</label>
          <div class='input-group'>
            <span>{{data.details.creditLine.rePymtPeriod}} {{'financeProduct.pending.month' | translate}}</span>
          </div>
        </div>
        <div class='form-group'>
          <label>{{ 'financeProduct.details.annualProfitRate' | translate }}</label>
          <div class='input-group'>
            <span>{{data.details.creditLine.profitRate}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</arb-panel>
