@import "../../../../scss/theme/css/vendor/_directional.scss";

.modal-header-img {
  text-align: center;
}

.vatImg {
  width: 55px;
  height: 55px;
  margin-top: 40px;
  text-align: center;
}

.successIcon {
  color: green;
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
}

.modal-title {
  align-self: stretch;
  flex-grow: 0;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #1b254a;
}

.modal-msg {
  margin-top: 25px;
  align-self: stretch;
  flex-grow: 0;
  font-family: 'noto-sans-en',"noto-sans-ar";
  @if $dir != ltr {
    font-family: "noto-sans-ar",'noto-sans-en';
  }
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1b254a;
  margin-bottom: 30px;
}

.modal-footer {
  text-align: end;
}

.hint {
  padding: 0 15px;
  color: gray;
}

button {
  width: 100px;
}

.modal-content {
  padding: 0 20px;
}