<form (ngSubmit)="submit()" [formGroup]="form" autocomplete="off">

    <div formArrayName="beneficiaries">
        <div *ngFor="let item of form.controls.beneficiaries['controls']; let i = index;">
            <div [formGroupName]="i">
                <div class="sme-form">
                    <div class="sme-form__form" style="background-color: #EEF0F7">
                        <div class="sme-form__title">{{'transfer.transferTo' | translate}} {{beneficiaries[i].beneficiaryFullName}}

                        </div>

                        <div class="sme-form__content">
                            <div class="sme-form__body">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-5">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label>{{
                                                    'transfer.accountFrom' | translate }}</label>
                                                <!-- sme-select -->
                                                <div class="form-control">
                                                    <ng-select [notFoundText]="'public.noData' | translate"
                                                               formControlName="accountFrom" id="transfer-account-from">
                                                        <ng-option disabled="disabled" selected="selected" value="">
                                                            --{{ 'public.selectAccount' | translate }}--
                                                        </ng-option>
                                                        <ng-option *ngFor="let account of accountsFrom"
                                                                   [value]="account.key">
                                                            {{account.value.fullAccountNumber}}{{(account.value.alias != '' ? ' - ' + account.value.alias : '')}} {{(account.value.inquiry ? (' - ' + (account.value.availableBalance | amountCurrency:account.value.currency)) : '')}} {{(account.value.inquiry ? ('currencyIso' | modelPipe:account.value.currency) : '')}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="item.controls.accountFrom.hasError('required') && item.controls.accountFrom.touched"
                                                         class="alert alert-danger">
                                                        <small>{{'transfer.accountFrom' | translate }}{{ 'error.required' | translate }} </small>
                                                    </div>
                                                </div>
                                                <!-- ./sme-select -->
                                            </div>
                                            <!-- ./sme-form-group -->
                                        </div>

                                        <div class="col-xs-12 col-sm-3">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label for="transfer-amount">{{
                                                    'transfer.amount' | translate }}</label>
                                                <!-- sme-select -->
                                                <div>
                                                    <input amount-format
                                                           class="form-control" formControlName="amount" id="transfer-amount"/>
                                                    <div *ngIf="item.controls.amount.hasError('required') && item.controls.amount.touched"
                                                         class="alert alert-danger">
                                                        <small>{{'transfer.amount' | translate }}{{ 'error.required' | translate }} </small>
                                                    </div>
                                                    <div *ngIf="item.controls.amount.hasError('min') && item.controls.amount.touched"
                                                         class="alert alert-danger">
                                                        <small>{{'transfer.amount' | translate }}{{ 'error.minValue' | translate }} </small>
                                                    </div>
                                                    <div *ngIf="item.controls.amount.hasError('max') && item.controls.amount.touched"
                                                         class="alert alert-danger">
                                                        <small>{{'transfer.amount' | translate }}{{ 'error.maxValue' | translate }} </small>
                                                    </div>
                                                    <div *ngIf="item.controls.amount.hasError('pattern') && item.controls.amount.touched"
                                                         class="alert alert-danger">
                                                        <small>{{'transfer.amount' | translate }}{{ 'error.positiveNumeric' | translate }} </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ./sme-form-group -->
                                        </div>

                                        <div class="col-xs-12 col-sm-4">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label for="transfer-aditional1">{{
                                                    'transfer.remarks' | translate }}</label>
                                                <!-- sme-select -->
                                                <div>
                                                    <input class="form-control"
                                                           formControlName="additional1" id="transfer-aditional1"/>

                                                </div>
                                                <!-- ./sme-select -->
                                            </div>
                                            <!-- ./sme-form-group -->
                                        </div>


                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="legend">{{'transfer.beneficiarySummary' | translate}}</div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-3">
                                            <!-- sme-summary-group -->
                                            <dl class="sme-summary-group">
                                                <dt class="sme-summary-group__label">{{'companyAdmin.user.name' | translate}}</dt>
                                                <dd class="sme-summary-group__value">{{beneficiaries[i].beneficiaryFullName}}</dd>
                                            </dl>
                                            <!-- ./sme-summary-group -->

                                        </div>


                                        <div class="col-xs-12 col-sm-3">
                                            <!-- sme-summary-group -->
                                            <dl class="sme-summary-group">
                                                <dt class="sme-summary-group__label">{{'transfer.accountTo' | translate}}</dt>
                                                <dd class="sme-summary-group__value">{{beneficiaries[i].beneficiaryAccountCode}}</dd>
                                            </dl>
                                            <!-- ./sme-summary-group -->

                                        </div>
                                        <div class="col-xs-12 col-sm-3">
                                            <div class="form-group">
                                                <label>{{ 'accounts.accountNickname' | translate }}</label>
                                                <div>
                                                    <span class="form-control" style="color: #999999;opacity:.7;">
                                                       {{beneficiaries[i].nickName}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-3">
                                            <!-- sme-summary-group -->
                                            <dl class="sme-summary-group">
                                                <dt class="sme-summary-group__label">{{'public.email' | translate}}</dt>
                                                <dd class="sme-summary-group__value">{{beneficiaries[i].email}}</dd>
                                            </dl>
                                            <!-- ./sme-summary-group -->

                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="row">
                                        <app-levels-table
                                                *ngIf="getLevelMapKey(accounts[item.controls.accountFrom.value].fullAccountNumber+'-'+accountFrom21To18(beneficiaries[i].beneficiaryAccount.fullAccountNumber))"
                                                [futureSecurityLevels]="getLevelMapKey(accounts[item.controls.accountFrom.value].fullAccountNumber+'-'+accountFrom21To18(beneficiaries[i].beneficiaryAccount.fullAccountNumber))">
                                        </app-levels-table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./sme-form -->
            </div>
        </div>
    </div>
    <app-levels-table *ngIf="confirmSave.futureSecurityLevelsDTOList"
                      [futureSecurityLevels]="confirmSave.futureSecurityLevelsDTOList">
    </app-levels-table>
    <fieldset *ngIf="confirmSave.generateChallengeAndOTP">
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <app-secured-authentication #authorization
                                            [generateChallengeAndOTP]="confirmSave.generateChallengeAndOTP"
                                            [requestValidate]="requestValidate"></app-secured-authentication>
            </div>
        </div>

    </fieldset>
    <div class="sme-page-block sme-wizard__navigation sme-form__actions">
        <button (click)="cancel()" class=" btn btn-default btn-wide"
                type="button">{{'public.back' | translate }}</button>

        <button [disabled]="!valid()" class=" btn btn-primary btn-wide" type="submit">{{buttonLabel}}</button>

    </div>
</form>
