// Generated file

@font-face {
  font-family: icons;

  src: url("../fonts/icons/icomoon.woff") format("woff"), url("../fonts/icons/icomoon.svg?q16pu2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  @include icon();
}

.icon.-empty:before {
  content: $icon-empty;
}

.icon.-close:before {
  content: $icon-close;
}

.icon.-burguer:before {
  content: $icon-burguer;
}

.icon.-check:before {
  content: $icon-check;
}

.icon.-chevron-left:before {
  content: $icon-chevron-left;
}

.icon.-chevron-right:before {
  content: $icon-chevron-right;
}

.icon.-chevron-down:before {
  content: $icon-chevron-down;
}

.icon.-chevron-up:before {
  content: $icon-chevron-up;
}

.icon.-caret-left:before {
  content: $icon-caret-left;
}

.icon.-caret-right:before {
  content: $icon-caret-right;
}

.icon.-caret-down:before {
  content: $icon-caret-down;
}

.icon.-caret-up:before {
  content: $icon-caret-up;
}

.icon.-search:before {
  content: $icon-search;
}

.icon.-logout:before {
  content: $icon-logout;
}

.icon.-message:before {
  content: $icon-message;
}

.icon.-notification:before {
  content: $icon-notification;
}

.icon.-options:before {
  content: $icon-options;
}

.icon.-plus:before {
  content: $icon-plus;
}

.icon.-edit:before {
  content: $icon-edit;
}

.icon.-drag:before {
  content: $icon-drag;
}

.icon.-hexagon:before {
  content: $icon-hexagon;
}

.icon.-hexagon-empty:before {
  content: $icon-hexagon-empty;
}

.icon.-print:before {
  content: $icon-print;
}

.icon.-excel:before {
  content: $icon-excel;
}

.icon.-pdf:before {
  content: $icon-pdf;
}

.icon.-arrow-left:before {
  content: $icon-arrow-left;
}

.icon.-arrow-right:before {
  content: $icon-arrow-right;
}

.icon.-plus-bold:before {
  content: $icon-plus-bold;
}

.icon.-accounts:before {
  content: $icon-accounts;
}

.icon.-calendar:before {
  content: $icon-calendar;
}

.icon.-company-admin:before {
  content: $icon-company-admin;
}

.icon.-credit-cards:before {
  content: $icon-credit-cards;
}

.icon.-lock:before {
  content: $icon-lock;
}

.icon.-unlock:before {
  content: $icon-unlock;
}

.icon.-profile:before {
  content: $icon-profile;
}

.icon.-payrolls:before {
  content: $icon-payrolls;
}

.icon.-payments:before {
  content: $icon-payments;
}

.icon.-transfers:before {
  content: $icon-transfers;
}

.icon.-address:before {
  content: $icon-address;
}

.icon.-email:before {
  content: $icon-email;
}

.icon.-phone:before {
  content: $icon-phone;
}

.icon.-depart:before {
  content: $icon-depart;
}

.icon.-passport:before {
  content: $icon-passport;
}

.icon.-registration:before {
  content: $icon-registration;
}

.icon.-wheel:before {
  content: $icon-wheel;
}

.icon.-traffic-con:before {
  content: $icon-traffic-con;
}

.icon.-workerHat:before {
  content: $icon-workerHat;
}

.icon.-help:before {
  content: $icon-help;
}

.icon.-note-add:before {
  content: $icon-note-add;
}

.icon.-info:before {
  content: $icon-info;
}

.icon.-time:before {
  content: $icon-time;
}

// .icon.-pos:before {
//   content: $icon-pos;
// }
// .icon.-dashboard:before {
//   content: $icon-dashboard;
// }

// .icon.-sadad:before {
//   content: $icon-sadad;
// }

// .icon.-cash:before {
//   content: $icon-cash;
// }

// .icon.-cheque:before {
//   content: $icon-cheque;
// }

.icon.-calendar:before {
  content: $icon-calendar;
}

.icon.-success:before {
  content: $icon-success;
}

.icon.-search:before {
  content: $icon-search;
}

.icon.-dashboard:before {
  content: $icon-dashboard;
}

.icon.-user-accounts:before {
  content: $icon-user-accounts;
}

.icon.-financial-transfer:before {
  content: $icon-financial-transfer;
}

.icon.-business-cards:before {
  content: $icon-business-cards;
}

.icon.-salary-payments:before {
  content: $icon-salary-payments;
}

.icon.-ksa-sadad:before {
  content: $icon-ksa-sadad;
}

.icon.-new-payroll:before {
  content: $icon-new-payroll;
}

.icon.-collections-management:before {
  content: $icon-collections-management;
}

.icon.-cheque-management:before {
  content: $icon-cheque-management;
}

.icon.-letter-guarantee:before {
  content: $icon-letter-guarantee;
}

.icon.-company-admin:before {
  content: $icon-company-admin;
}

.icon.-basics-info:before {
  content: $icon-basics-info;
}

.icon.-basics-search:before {
  content: $icon-basics-search;
}

.icon.-cheque:before {
  content: $icon-cheque;
}

.icon.-reset:before {
  content: $icon-reset;
}
.icon.-block:before {
  content: $icon-block;
}
.icon.-card-pay:before {
  content: $icon-card-pay;
}
.icon.-active-card:before {
  content: $icon-active-card;
}
.icon.-view-cvv:before {
  content: $icon-view-cvv;
}
.icon.-cvv:before {
  content: $icon-cvv;
}
.icon.-paddlock:before {
  content: $icon-paddlock;
}
.icon.-success:before {
  content: $icon-success;
}
.icon.-restore:before {
  content: $icon-restore;
}
.icon.-payment-options:before {
  content: $icon-payment-options;
}
.icon.-preferences:before {
  content: $icon-preferences;
}
.icon.-activity-log:before {
  content: $icon-activity-log;
}
.icon.-tools:before {
  content: $icon-tools;
}
.icon.-eye:before {
  content: $icon-eye;
}
.icon.-copyCB:before {
  content: $icon-copyCB;
}
.icon.-alert-setup:before {
  content: $icon-alert-setup;
}
.icon.-help:before {
  content: $icon-help;
}
.icon.-menu:before {
  content: $icon-menu;
}

////// Add finance left side menu
.icon.-finance-icon:before {
  background: url("../assets/img/finance-blue.svg") no-repeat center;
  content: "...";
  color: transparent;
  background-size: 20px;
}

.collapsed .icon.-finance-icon:before {
  background: url("../assets/img/finace.svg") no-repeat center;
  background-size: 20px;
}
.activeMenu .icon.-finance-icon:before {
  background: url("../assets/img/finance-blue.svg") no-repeat center;
  background-size: 20px;
}

.icon.-cash-management-icon:before {
  background: url("../img/cash-management-products-greyscale.svg") no-repeat center;
  content: "...";
  color: transparent;
  background-size: 28px;
}

.collapsed .icon.-cash-management-icon:before {
  background: url("../img/cash-management-products-greyscale.svg") no-repeat center;
  color: transparent;
  background-size: 28px;
}
.activeMenu .icon.-cash-management-icon:before {
  background: url("../img/cash-management-products-blue.svg") no-repeat center;
  color: transparent;
  background-size: 28px;
}
//Gold Wallet Icon
.icon.-gold-wallet-icon:before {
  background: url("../img/Gold.svg") no-repeat center;
  content: "...";
  color: transparent;
  background-size: 20px;
}
.collapsed .icon.-gold-wallet-icon:before {
  background: url("../img/Gold.svg") no-repeat center;
  background-size: 20px;
}
.activeMenu .icon.-gold-wallet-icon:before {
  background: url("../img/Gold.svg") no-repeat center;
  background-size: 20px;
}