// Generated file

@mixin icon($content: $icon-empty) {
  display: inline-block;
  line-height: 1;

  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: $content;
    display: inline-block;
    font-family: "icons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;

    @content;
  }
}

$icon-empty: "\AA01";
@mixin icon--empty() {
  @include icon($icon-empty);
}

$icon-close: "\AA02";
@mixin icon--close() {
  @include icon($icon-close);
}

$icon-burguer: "\AA04";
@mixin icon--burguer() {
  @include icon($icon-burguer);
}

$icon-check: "\AA05";
@mixin icon--check() {
  @include icon($icon-check);
}

$icon-chevron-left: "\AA06";
@mixin icon--chevron-left() {
  @include icon($icon-chevron-left);
}

$icon-chevron-right: "\AA07";
@mixin icon--chevron-right() {
  @include icon($icon-chevron-right);
}

$icon-chevron-down: "\AA08";
@mixin icon--chevron-down() {
  @include icon($icon-chevron-down);
}

$icon-chevron-up: "\AA09";
@mixin icon--chevron-up() {
  @include icon($icon-chevron-up);
}

$icon-caret-left: "\AA10";
@mixin icon--caret-left() {
  @include icon($icon-caret-left);
}

$icon-caret-right: "\AA11";
@mixin icon--caret-right() {
  @include icon($icon-caret-right);
}

$icon-caret-down: "\AA12";
@mixin icon--caret-down() {
  @include icon($icon-caret-down);
}

$icon-caret-up: "\AA13";
@mixin icon--caret-up() {
  @include icon($icon-caret-up);
}

$icon-search: "\E902";
@mixin icon--search() {
  @include icon($icon-search);
}

$icon-logout: "\AA15";
@mixin icon--logout() {
  @include icon($icon-logout);
}

$icon-message: "\AA16";
@mixin icon--message() {
  @include icon($icon-message);
}

$icon-notification: "\AA17";
@mixin icon--notification() {
  @include icon($icon-notification);
}

$icon-options: "\AA18";
@mixin icon--options() {
  @include icon($icon-options);
}

$icon-plus: "\AA19";
@mixin icon--plus() {
  @include icon($icon-plus);
}

$icon-edit: "\AA20";
@mixin icon--edit() {
  @include icon($icon-edit);
}

$icon-drag: "\AA21";
@mixin icon--drag() {
  @include icon($icon-drag);
}

$icon-hexagon: "\AA22";
@mixin icon--hexagon() {
  @include icon($icon-hexagon);
}

$icon-hexagon-empty: "\AA23";
@mixin icon--hexagon-empty() {
  @include icon($icon-hexagon-empty);
}

$icon-print: "\AA24";
@mixin icon--print() {
  @include icon($icon-print);
}

$icon-excel: "\AA25";
@mixin icon--excel() {
  @include icon($icon-excel);
}

$icon-pdf: "\AA26";
@mixin icon--pdf() {
  @include icon($icon-pdf);
}

$icon-arrow-left: "\AA27";
@mixin icon--arrow-left() {
  @include icon($icon-arrow-left);
}

$icon-arrow-right: "\AA28";
@mixin icon--arrow-right() {
  @include icon($icon-arrow-right);
}

$icon-plus-bold: "\AA30";
@mixin icon--plus-bold() {
  @include icon($icon-plus-bold);
}

$icon-accounts: "\BA01";
@mixin icon--accounts() {
  @include icon($icon-accounts);
}

$icon-calendar: "\BA02";
@mixin icon--calendar() {
  @include icon($icon-calendar);
}

$icon-company-admin: "\BA03";
@mixin icon--company-admin() {
  @include icon($icon-company-admin);
}

$icon-credit-cards: "\BA04";
@mixin icon--credit-cards() {
  @include icon($icon-credit-cards);
}

$icon-lock: "\BA05";
@mixin icon--lock() {
  @include icon($icon-lock);
}

$icon-unlock: "\BA06";
@mixin icon--unlock() {
  @include icon($icon-unlock);
}

$icon-profile: "\BA07";
@mixin icon--profile() {
  @include icon($icon-profile);
}

$icon-payrolls: "\BA08";
@mixin icon--payrolls() {
  @include icon($icon-payrolls);
}

$icon-payments: "\BA09";
@mixin icon--payments() {
  @include icon($icon-payments);
}

$icon-transfers: "\BA10";
@mixin icon--transfers() {
  @include icon($icon-transfers);
}

$icon-address: "\BA11";
@mixin icon--address() {
  @include icon($icon-address);
}

$icon-email: "\BA12";
@mixin icon--email() {
  @include icon($icon-email);
}

$icon-phone: "\BA13";
@mixin icon--phone() {
  @include icon($icon-phone);
}

$icon-depart: "\BA14";
@mixin icon--depart() {
  @include icon($icon-depart);
}

$icon-passport: "\BA15";
@mixin icon--passport() {
  @include icon($icon-passport);
}

$icon-registration: "\BA16";
@mixin icon--registration() {
  @include icon($icon-registration);
}

$icon-wheel: "\BA17";
@mixin icon--wheel() {
  @include icon($icon-wheel);
}

$icon-traffic-con: "\BA18";
@mixin icon--traffic-con() {
  @include icon($icon-traffic-con);
}

$icon-workerHat: "\BA19";
@mixin icon--workerHat() {
  @include icon($icon-workerHat);
}

// $icon-pos: "\BA04";
// @mixin icon--pos() {
//   @include icon($icon-pos);
// }

$icon-help1: "\EA01";
@mixin icon--help1() {
  @include icon($icon-help1);
}

$icon-note-add: "\EA02";
@mixin icon--note-add() {
  @include icon($icon-note-add);
}

$icon-info: "\EA03";
@mixin icon--info() {
  @include icon($icon-info);
}

$icon-time: "\E919";
@mixin icon--time() {
  @include icon($icon-time);
}

// $icon-sadad: "\BA15";
// @mixin icon--sadad() {
//   @include icon($icon-sadad);
// }

// $icon-cash: "\BA16";
// @mixin icon--cash() {
//   @include icon($icon-cash);
// }

$icon-cheque: "\AA04";
@mixin icon--cheque() {
  @include icon($icon-cheque);
}
// $icon-dashboard: "\E901";
// @mixin icon--dashboard() {
//   @include icon($icon-dashboard);
// }

$icon-calendar: "\E904";
@mixin icon--calendar() {
  @include icon($icon-calendar);
}

$icon-success: "\E91F";
@mixin icon--success() {
  @include icon($icon-success);
}

$icon-search: "\E902";
@mixin icon--search() {
  @include icon($icon-search);
}

$icon-dashboard: "\E900";
@mixin icon--dashboard() {
  @include icon($icon-dashboard);
}

$icon-user-accounts: "\E91C";
@mixin icon-user-accounts() {
  @include icon($icon-user-accounts);
}

$icon-financial-transfer: "\E90C";
@mixin icon--financial-transfer() {
  @include icon($icon-financial-transfer);
}

$icon-business-cards: "\E906";
@mixin icon--business-cards() {
  @include icon($icon-business-cards);
}

$icon-salary-payments: "\E911";
@mixin icon--salary-payments() {
  @include icon($icon-salary-payments);
}

$icon-ksa-sadad: "\E90D";
@mixin icon--ksa-sadad() {
  @include icon($icon-ksa-sadad);
}

$icon-new-payroll: "\E907";
@mixin icon--new-payroll() {
  @include icon($icon-new-payroll);
}

$icon-collections-management: "\E903";
@mixin icon--collections-management() {
  @include icon($icon-collections-management);
}

$icon-cheque-management: "\E908";
@mixin icon--cheque-management() {
  @include icon($icon-cheque-management);
}

$icon-letter-guarantee: "\E91A";
@mixin icon--letter-guarantee() {
  @include icon($icon-letter-guarantee);
}

$icon-company-admin: "\E91B";
@mixin icon--company-admin() {
  @include icon($icon-company-admin);
}

$icon-basics-info: "\E901";
@mixin icon--basics-info() {
  @include icon($icon-basics-info);
}

$icon-basics-search: "\E902";
@mixin icon--basics-search() {
  @include icon($icon-basics-search);
}

$icon-reset: "\21BA";
@mixin icon--reset() {
  @include icon($icon-reset);
}
$icon-block: "\2A2F";
@mixin icon--block() {
  @include icon($icon-block);
}
$icon-active-card: "\20AC";
@mixin icon--active-card() {
  @include icon($icon-active-card);
}
$icon-card-pay: "\1f4b8";
@mixin icon--card-pay() {
  @include icon($icon-card-pay);
}
$icon-view-cvv: "\1f4b3";
@mixin icon--view-cvv() {
  @include icon($icon-view-cvv);
}
$icon-cvv: "\E905";
@mixin icon--cvv() {
  @include icon($icon-cvv);
}
$icon-paddlock: "\E906";
@mixin icon--paddlock() {
  @include icon($icon-paddlock);
}
$icon-payment-options: "\E904";
@mixin icon--payment-options() {
  @include icon($icon-payment-options);
}
$icon-restore: "\E907";
@mixin icon--restore() {
  @include icon($icon-restore);
}
$icon-preferences: "\E926";
@mixin icon--preferences() {
  @include icon($icon-preferences);
}
$icon-activity-log: "\E905";
@mixin icon--activity-log() {
  @include icon($icon-activity-log);
}
$icon-tools: "\E927";
@mixin icon--tools() {
  @include icon($icon-tools);
}
$icon-eye: "\E928";
@mixin icon--eye() {
  @include icon($icon-eye);
}
$icon-copyCB: "\E929";
@mixin icon--copyCB() {
  @include icon($icon-copyCB);
}
$icon-alert-setup: "\E913";
@mixin icon--alert-setup() {
  @include icon($icon-alert-setup);
}
$icon-help: "\E925";
@mixin icon--help() {
  @include icon($icon-help);
}
$icon-menu: "\E910";
@mixin icon--menu() {
  @include icon($icon-menu);
}
