<arb-breadcrumb [routes]="routes" *ngIf="routes && routes.length>0">
</arb-breadcrumb>

<app-initiator-wizard-modify *ngIf="editData && editData.lockBoxUser"
        [title]="'lockbox.cdmUsers.edit.menu'"
        [currentItem]="editData.lockBoxUser"
        [entityName]="null"
        [entityProperties]="entityProperties"
        [service]="editService"
        [translate_prefix]="'lockbox.cdmUsers'"
        [backUrl]="getBackUrl()"
        [combosKeys]="combosKeys"
        [combosData]="combosData"
        (onAllFieldsCreated)="initFormCreated($event)"
        [custom_fields_templates]="{
            terminalAccountsList: terminalAccountsList
        }"
        [pending]="false">
</app-initiator-wizard-modify>

<ng-template #terminalAccountsList>
    <app-dynamic-searchable-table
            *ngIf="editData && editData.lockBoxUserTerminalAccountListDTO"
            [showSearchForm]="false"
            [searchForm_checkValid]="false"
            [fieldsConfigForSearchForm]="[]"
            [fieldsConfigForList]="terminalAccountsFieldsConfigForList"
            [combosData]="combosData"
            [search_form_combosData]="combosData"
            [search_form_translate_prefix]="'lockbox.cdmUsers.details.terminalAccounts'"
            [table_title]="'lockbox.cdmUsers.details.terminalAccounts.list'"
            [table_translate_prefix]="''"
            [table_export_pdf_size]="{width: 1200, height: 800}"

            [table_export_show_buttons]="true"
            [table_export_header]="'lockbox.cdmUsers.details.terminalAccounts.list' | translate"
            [table_export_columns]="terminalAccountsFieldsConfigForExport"

            [search_form_custom_fields_templates]="{}"

            [table_export_selected_rows]="[]"
            [table_externalPaging]="false"
            [table_externalSorting]="false"

            [table_elements_rows]="editData.lockBoxUserTerminalAccountListDTO"
            [table_headerHeight]="60"
            [table_elements_count]="editData.lockBoxUserTerminalAccountListDTO.length"
            [table_elements_offset]="0"
            [table_elements_limit]="editData.lockBoxUserTerminalAccountListDTO.length"

            [table_footer_show_buttons]="true"
            [table_footer_visiblePagesCount]="1"
            [table_footer_pageSize]="50">

    </app-dynamic-searchable-table>
</ng-template>
