<arb-breadcrumb [routes]="getRoutes()"></arb-breadcrumb>

<h1 class="padding-title">{{ 'commercialCards.activateCards'| translate }}</h1>

<div class="container-fluid sme-content-container">
	<div class="sme-page-block">
		<ul class="sme-box sme-wizard__steps">
			<li class="sme-wizard__step" [ngClass]="{'current' : step === 1, 'completed' : step > 1}">
				<span>
					<span class="num">1</span>
					<span class="text">{{ 'commercialCards.breadcrumb.stepActivate' | translate | uppercase}}</span>
				</span>
			</li>
			<li class="sme-wizard__step" [ngClass]="{'current' : step === 2, 'completed' : step > 2}">
				<span>
					<span class="num">2</span>
					<span class="text">{{ 'commercialCards.breadcrumb.stepPreview' | translate | uppercase }}</span>
				</span>
			</li>
			<li class="sme-wizard__step" [ngClass]="{'current' : step === 3, 'completed' : step > 3}">
				<span>
					<span class="icon -check"></span>
					<span class="text">{{ 'commercialCards.breadcrumb.stepSummary' | translate | uppercase }}</span>
				</span>
			</li>

		</ul>
	</div>
</div>

<app-ActivateCards-step1 *ngIf="step === 1" (onInit)="onInitStep1($event)">
</app-ActivateCards-step1>

<app-ActivateCards-step2 *ngIf="step === 2" [generateChallengeAndOTP]="generateChallengeAndOTP" [requestValidate]="requestValidate"
	(onInit)="onInitStep2($event)">
</app-ActivateCards-step2>

<app-ActivateCards-step3 *ngIf="step === 3" [generateChallengeAndOTP]="generateChallengeAndOTP" (resetPin)="goToReset($event)">
</app-ActivateCards-step3>


<div class="sme-page-block sme-wizard__navigation sme-form__actions">
	<!-- <button type="button" class=" btn btn-default btn-wide" (click)="previous()"
		*ngIf="step > 1 && step < 3">{{'public.back' | translate }}</button> -->
		<button type="submit" class=" btn btn-default btn-wide" (click)="previous()" *ngIf="step == 1 || step==2 ">
		{{'public.cancel' | translate}}</button>
	<button type="submit" class=" btn btn-primary btn-wide" (click)="next()" *ngIf="step < 3"
		[disabled]="isDisabled()">{{'public.proceed' | translate}}</button>

	<button type="submit" class=" btn btn-primary btn-wide" (click)="finish()"
		*ngIf="step == 3">{{'public.finish' | translate}}</button>
</div>


<div class="modal fade" bsModal #modalErrorAccount="bs-modal" role="dialog">
	<div class="modal-dialog loading-position">
		<div class="modal-content">
			<div class="modal-header">
				<button (click)="modalErrorhide()" type="button" class="close">&times;</button>
			</div>
			<div class="modal-body modal-error">
				<span class="icon -close icon-failure"></span>
				<div class="display-div-column">
					<p>{{'commercialCards.inputErrorNumberAccount' | translate}}</p>
				</div>
				<br>
			</div>
			<div class="modal-footer flex">
				<button (click)="modalErrorhide()" type="button"
					class="tryAgain btn btn-primary btn-wide">{{ 'commercialCards.again' | translate }}</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" bsModal #modalErrorCodeOTP="bs-modal" role="dialog">
	<div class="modal-dialog loading-position">
		<div class="modal-content">
			<div class="modal-header">
				<button (click)="modalErrorCodeOTP.hide()" type="button" class="close">&times;</button>
			</div>
			<div class="modal-body">
				<span class="icon -close icon-failure"></span>
				<div class="display-div-column">
					<p>{{'commercialCards.inputErrorCodeOTP' | translate}}</p>
				</div>
				<br>
			</div>
			<div class="modal-footer flex">
				<button (click)="tryAgain()" type="button"
					class="tryAgain btn btn-primary btn-wide">{{ 'commercialCards.again' | translate }}</button>
			</div>
		</div>
	</div>
</div>