<div class="container-fluid">
    <div class="sme-page-block">
        <div class="sme-form">
            <div class="sme-form__form">
                <div class="sme-form__content">
                    <div class="sme-form__body">
                        <fieldset>
                            <div class="legend" class="title-legend">
                                {{'commercialCards.activateCard' | translate}}
                            </div>
                            <hr class="hr-title">
                            <div class="page">
                                <div class="form-center">
                                    <div class="head">
                                        <div><span
                                                class="display-div-column act-card-message-margin">{{'commercialCards.activateProceed' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>