.note{
  color: darkgray;
  font-size: 11px;
}

.title{
  padding: 15px 20px;
}

.padding{
  padding: 15px 15px;
}

.legend {
  box-shadow: inset 0 -1px 0 0 #dbdbdb;
}
.num {
  border-radius: 50%;
  padding: 2px 6px;
  background: #e4e5e6;
  border: 2px solid #e4e5e6;
  color: #666;
  text-align: center;
  font-size: 12px;
  margin: 0 10px;
}

.step {
  margin-bottom: 28px;
}

.modal-dialog{
  width: 1200px;
}

.modal-body{
  padding-bottom: 0;
  padding-top: 5px;
}

.modal-title{
  padding: 30px 15px 0;
  font-size: 18px;
}


.scrollable-grid{
  max-height: 500px;
  overflow-y: auto;
}

.totalError{
  padding: 60px 50px 10px;
}

.note{
  color: darkgray;
  font-size: 11px;
}