<div class="sme-data-table__head">
    <div class="sme-data-table__title">
        {{ 'transfer.feedback.feedBackFileDelete' | translate}}
    </div>
</div>

<div class="sme-page-block">
	<div class="sme-form">
		<div class="sme-form__content">
			<div class="sme-form__body">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="form-group">
							<label>{{ 'transfer.feedback.fileReference' | translate }}</label>
							<span class="form-control">{{fileSelected['fileReference']}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
