 <div class="sme-breadcrumb">
       <ol class="breadcrumb">
           <li>{{ 'companyAdmin.companyAdmin' | translate }}</li>
           <li class="active">{{ 'workflow.workflow' | translate }}</li>
       </ol>
   </div>

	<div class="container-fluid">
      <div class="sme-page-block">
           <div class="sme-form">
			<div class="sme-form__title"></div>

                <div class="sme-form__content">
					<form autocomplete="off" class="sme-form__form">
						<div class="sme-form__body">
						  <div class="row">
                <ul>
                    <li *ngIf="authenticationService.activateOption('WorkflowAccountsRules',[],['CompanyAdmins'])">
                        <a class="human-selectable" routerLinkActive="active" (click)="goAccountRules()">
                            {{ 'workflow.accountRules' | translate }}
                        </a>
                    </li>
                    <li *ngIf="authenticationService.activateOption('WorkflowAccountsRules', [], ['CompanyAdmins'])">
                        <a class="human-selectable" routerLinkActive="active" (click)="goNonAccounts()">
                            {{ 'workflow.non-finantial' | translate }}
                        </a>
                    </li> 
                    <li>
                        <a class="human-selectable" routerLinkActive="active" (click)="goEtrade()">
                            {{ 'workflow.eTrade' | translate }}
                        </a>
                    </li>
                    <li *ngIf="authenticationService.activateOption('WorkflowAccountsRules', [], ['CompanyAdmins']) && this.dualAuthorization">
                        <a class="human-selectable" routerLinkActive="active" (click)="goRequestStatus()">
                            {{ 'workflow.requestStatus.requestStatus' | translate }}
                        </a>
                    </li>
                </ul>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
