.end {
    text-align: end;
}

.statusSpan {
    padding: 5px 13px;
    border-radius: 30px;
    font-size: 12px;
}

.greenSpan {
    background-color: #06a299;
    color: white;
}

.yellowSpan {
    background-color: #ffe0b2;
    color: #999999;
}

.redSpan {
    background-color: #FEE2E2;
    color: red;
}

.select {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
