<div class="container-fluid">
    <div class="sme-page-block">
        <div class="sme-form">

            <div class="sme-form__content">
                <div class="sme-form__form">
                    <div class="sme-form__body">
                        <div>
                            <div class="sme-wizard__success summary-width">
                                <span class=" icon -check"></span>
                                <div></div>
                                <div>
                                    <p>{{'commercialCards.blockCardSummary-message' | translate }}
                                        <small>{{'public.thanks' | translate }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>