<div class="container-fluid">
        <div class="sme-page-block">
                <div class="sme-form">
                        <div class="sme-form__content">
                                <div class="sme-form__form">
                                        <div class="sme-form__body">
                                                <div>
                                                        <div class="sme-wizard__success">
                                                                <span class="icon -check"></span>
                                                                {{'public.requestOk' | translate}}
                                                                <small>{{'public.thanks' | translate }}</small>
                                                                <small>{{'public.pendingAvailability' | translate}}</small>
                                                                <small>{{'accounts.downloadStatement.messageOk2' | translate}}</small>
                                                                <small>{{'accounts.downloadStatement.requestStatementFileReference' | translate}}:
                                                                        {{fileName}}</small>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>