<div class="sme-breadcrumb">
    <ol class="breadcrumb">
        <li>{{ 'public.transfers' | translate }}</li>
        <li><a class="human-selectable" href="#" routerLinkActive="active"
               [routerLink]="['/beneficiaries/beneficiariesOptions']">
            {{ 'public.beneficiaries'| translate }}
        </a>
        </li>
        <li class="active">{{ 'payments.requestStatus'| translate }}</li>
    </ol>
</div>

<!-- <div class="sme-form__actions">
	<a class="btn btn-primary btn-wide" routerlinkactive="active" 
		ng-reflect-router-link="/accounts/balanceCertificate/request" 
		ng-reflect-router-link-active="active" href="#/accounts/balanceCertificate/request">
			{{ 'payments.btnRequestCertificate'| translate }}
	</a>
</div> -->


<div class="container-fluid">
    <div class="sme-page-block">
        <p></p>
    </div>
    <div class="sme-page-block">
        <!-- sme-data-table -->
        <div class="sme-data-table">
            <div class="sme-data-table__head">
                <div class="sme-data-table__title">
                    {{ 'payments.requestStatus'| translate }}
                </div>
                <table-export [dataTable]="table"
                              [header]="'payments.requestStatus' | translate" [columns]="[
					{'title':'beneficiaries.beneficiaryListFields.beneficiaryType' | translate,'dataKey':'batchType'},
					{'title': 'payments.initiationdate' | translate, 'dataKey': 'initiationDate'},
					{'title': 'beneficiaries.beneficiaryListFields.beneficiaryName' | translate, 'dataKey': 'beneficiaryName'},					
					{'title': 'public.country' | translate, 'dataKey': 'country'},
					{'title': 'beneficiaries.beneficiaryListFields.bankName' | translate, 'dataKey': 'bankName'},
					{'title':'public.curstatus' | translate,'dataKey':'curStatusExport'},
                    {'title':'myProfile.pending_actions.nextStatus' | translate,'dataKey':'nextStatusExport'},
					{'title': 'payments.status' | translate, 'dataKey': 'status'}]"></table-export>
            </div>
            <div>
                <div class="sme-table table headerDataTable">
                    <ngx-datatable [messages]="{emptyMessage: 'public.noData' | translate}" #table
                                   class="material sme-table sme-table--responsive table" [rows]="requestTablePage.data"
                                   [columnMode]="defaultColumnMode"
                                   [headerHeight]="defaultHeight" [footerHeight]="footerHeight"
                                   [rowHeight]="defaultHeight"
                                   [externalPaging]="true" [externalSorting]="true"
                                   [count]="requestTablePage.page.totalElements"
                                   [offset]="requestTablePage.page.pageNumber-1"
                                   [limit]="requestTablePage.page.pageSize" (page)="setPage($event)"
                                   (sort)="setSort($event)">

                        <ngx-datatable-row-detail [rowHeight]="defaultHeight" #myDetailRow
                                                  (toggle)="onDetailToggle($event)">
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                                <div class="row">
                                    <fieldset>
                                        <div class="col-xs-6">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label>{{ 'beneficiaries.beneficiaryListFields.beneficiaryType' | translate }}</label>
                                                <div>
                                                    <span>{{ 'batchTypes' | modelPipe:row.batchType }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label>{{ 'myProfile.pending_actions.initiationDate' | translate }}</label>
                                                <div>
                                                    <span>{{ row.initiationDate | date:'dd/MM/yyyy HH:mm' }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <fieldset>
                                        <div class="col-xs-6">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label>{{ 'myProfile.pending_actions.beneficiary_name' | translate }}</label>
                                                <div>
                                                    <span>{{row.beneficiaryName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label>{{ 'myProfile.pending_actions.country' | translate }}</label>
                                                <div>
                                                    <span>{{'backEndCountryCode' | modelPipe: row.country}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <fieldset>
                                        <div class="col-xs-6">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label>{{ 'myProfile.pending_actions.bank' | translate }}</label>
                                                <div>
                                                    <span>{{row.bankName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label *ngIf="!futureLevels">{{ 'public.curstatus' | translate }}</label>
                                                <label *ngIf="futureLevels">{{ 'public.statusIf' | translate }}</label>
                                                <div>
                                                    <span *ngIf="!futureLevels">{{row.securityLevels | levels:'status'}}</span>
                                                    <span *ngIf="futureLevels">{{row.futureSecurityLevelsDTOList | levels:'status'}}</span>
                                                    <span class="icon -info" (click)="openModal(row,modal)"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <fieldset>
                                        <div class="col-xs-6">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label *ngIf="!futureLevels">{{ 'myProfile.pending_actions.nextStatus' | translate }}</label>
                                                <label *ngIf="futureLevels">{{ 'myProfile.pending_actions.nextStatusIf' | translate }}</label>
                                                <div>
                                                    <span *ngIf="!futureLevels">{{row.securityLevels | levels:'nextStatus'}}</span>
                                                    <span *ngIf="futureLevels">{{row.futureSecurityLevelsDTOList | levels:'nextStatus'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <!-- sme-form-group -->
                                            <div class="form-group">
                                                <label>{{'payments.status' | translate }}</label>
                                                <div>
													<span *ngIf="row.status == 'R'"><a
                                                            (click)="goActivate(row, 'rajhi')">{{row.status | statusPipe}}</a></span>
                                                    <span *ngIf="row.status != 'R'">{{row.status | statusPipe}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </ng-template>
                        </ngx-datatable-row-detail>

                        <ngx-datatable-column prop="batchType" class="mobile-hidden">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                      class="datatable-header-cell-wrapper">{{ 'beneficiaries.beneficiaryListFields.beneficiaryType' | translate }}</span>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                <span class="mobile-hidden">{{ 'batchTypes' | modelPipe:value }}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column prop="initiationDate" class="mobile-hidden">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                      class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.initiationDate' | translate }}</span>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                <span class="mobile-hidden">{{ value | date:'dd/MM/yyyy' }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="beneficiaryName" class="mobile-hidden">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                      class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.beneficiary_name' | translate }}</span>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                <span class="mobile-hidden" [innerHTML]="value"></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="country" class="mobile-hidden">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                      class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.country' | translate }}</span>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
								<span class="mobile-hidden"
                                      [innerHTML]="'backEndCountryCode' | modelPipe: value"></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="bankName" class="mobile-hidden">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                      class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.bank' | translate }}</span>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                <span class="mobile-hidden" [innerHTML]="value"></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="category" class="mobile-hidden">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                      class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.category' | translate }}</span>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
								<span class="mobile-hidden"
                                      *ngIf="value=='I'">{{ 'beneficiaries.selectIndividual' | translate }}</span>
                                <span class="mobile-hidden"
                                      *ngIf="value=='C'">{{ 'beneficiaries.selectCompany' | translate }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="futureSecurityLevelsDTOList" class="mobile-hidden"
                                              *ngIf="futureLevels">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                      class="datatable-header-cell-wrapper">{{ 'public.statusIf' | translate }}</span>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                <span>{{ value | levels:'status' }}</span>
                                <span class="human-selectable icon -info" (click)="openModal(row,modal)"></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="securityLevels" class="mobile-hidden" *ngIf="!futureLevels">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                      class="datatable-header-cell-wrapper">{{ 'public.curstatus' | translate }}</span>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                <span>{{ value | levels:'status' }}</span>
                                <span class="human-selectable icon -info" (click)="openModal(row,modal)"></span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="futureSecurityLevelsDTOList" *ngIf="futureLevels">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                              class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.nextStatusIf' | translate }}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span>{{ value | levels:'nextStatus' }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="securityLevels" *ngIf="!futureLevels">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span (click)="sort()"
                                              class="datatable-header-cell-wrapper">{{ 'myProfile.pending_actions.nextStatus' | translate }}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span>{{ value | levels:'nextStatus' }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="status" class="mobile-hidden">
                            <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
								<span class="datatable-header-cell-wrapper">
									{{'payments.status' | translate }}
								</span>
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
								<span class="mobile-hidden" *ngIf="value=='R'"><a
                                        (click)="goActivate(row)"
                                        style="color: red;">{{value | statusPipe}}</a></span>
                                <span class="mobile-hidden" *ngIf="value!='R'">{{value | statusPipe}}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-footer>
                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                                         let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                                <div class="sme-data-table__footer">
                                    <app-datatable-pager
                                            [pagerLeftArrowIcon]="(translate.currentLang === 'en' ? 'datatable-icon-left' : 'datatable-icon-right')"
                                            [pagerRightArrowIcon]="(translate.currentLang === 'en' ? 'datatable-icon-right' : 'datatable-icon-left')"
                                            [pagerPreviousIcon]="(translate.currentLang === 'en' ? 'datatable-icon-prev' : 'datatable-icon-skip')"
                                            [pagerNextIcon]="(translate.currentLang === 'en' ? 'datatable-icon-skip' : 'datatable-icon-prev')"
                                            [page]="curPage" [size]="pageSize" [count]="rowCount"
                                            [visiblePagesCount]="visiblePagesCount"
                                            (change)="table.onFooterPage($event)">
                                    </app-datatable-pager>
                                    <div *ngIf="rowCount!=0" class="sme-data-table__actions form-inline">
										<span
                                                class="sme-data-table__action-group">{{ 'public.showingLabel' | translate}}
                                            {{requestTablePage.page.size}} {{ 'public.ofLabel' | translate}}
                                            {{rowCount}}</span>
                                        <span class="hidden-xs"> | </span>
                                        <span class="sme-data-table__action-group">
											<span>{{ 'public.showRowsLabel' | translate}}</span>
											<div class="sme-select form-control">
												<select class="form-control"
                                                        [(ngModel)]="this.requestTablePage.page.pageSize"
                                                        (change)="this.setPage(null)">
													<option [value]="10">10</option>
													<option [value]="20">20</option>
													<option [value]="50">50</option>
													<option [value]="100">100</option>
												</select>
											</div>
										</span>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-footer>
                    </ngx-datatable>

                </div>
            </div>
        </div>
        <!-- ./sme-data-table -->
        <div class="sme-form__actions">
            <a href="#" class="btn btn-default btn-wide" routerLinkActive="active"
               [routerLink]="['/beneficiaries/beneficiariesOptions']">
                {{'public.back' | translate }}</a>

        </div>
    </div>
    <app-levels-popup #modal></app-levels-popup>
</div>
