.upload {
  margin-left: 60px;
}
.file-input{
  display: none;
}
.file-name{
  background: transparent;
  border: none;
  outline-width: 0;
  margin-right: 15%;
  width: 50%;
}
.error-color{
  color: #EF4444;
}
.doc-icon {
  content:url("/img/document.svg");
}
.close-icon {
  content:url("/img/cancel-doc.svg");
}