    .price-container {
        margin-bottom: 60px;

        h1 {
            font-weight: 400;
            font-size: 33px;
            line-height: 40px;
            font-family: "noto-sans-en-light";
            font-style: normal;
            color: #6B7280;
        }

        p {
            font-weight: 400;
            font-size: 33px;
            line-height: 40px;
            color: #1B254A;
            font-family: "noto-sans-en-light";
            font-style: normal;
        }

        .total-value {
            padding-top: 24px;
        }
    }

    
.form-container{
    .message {
        font-family: "noto-sans-en-light";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        &-error {
            color: #EF4444;
        }
        &-warning {
            color: #F67C0D;
        }
    }
}