.end {
    text-align: end;
  }

  .statusSpan {
    padding: 5px 13px;
    border-radius: 30px;
    font-size: 12px;
}

.greenSpan {
    background-color: #06a299;
    color: white;
}

.yellowSpan {
    background-color: #ffe0b2;
    color: #999999;
}