@media (min-width: 768px) {
    .col-form-group {
        display: table-cell;
        height: 130px;
    }
    .bottomForm {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
    }

    .bottomAlert {
        position: absolute;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .requestFormContainer {
        display: flex;
    }
}

.prepaid-card-form {
    border: 1px solid transparent;
    border-bottom: thin solid rgba(0, 0, 0, 0.42);
}



.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload.btn {
    color: #bf4500;
}

.fileUpload input.filename {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    display: none;
    filter: alpha(opacity=0);
}

.hr-break {
    margin-top: 0 !important;
    width: 200% !important;
    height: 2px;
    color: #eeeeee;
    background-color:#eeeeee;
    position: relative;
    border: none;
    left: -50%;
}

.hr-break-rtl {
    margin-top: 0 !important;
    width: 200% !important;
    height: 2px;
    color: #eeeeee;
    background-color:#eeeeee;
    position: relative;
    border: none;
    left: 50%;
}

.hr-no-margin {
    margin-top: 0;
}