<div class="container-fluid docs-component">
    <div class="modal fade in" tabindex="-1" role="dialog" style="display: block; position: static;">
        <div class="" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <span class="icon -check icon-success"></span>
                    <p>{{ 'payments.successRequest' | translate }}</p>
                    <small *ngIf="sharedData?.validation?.processedBatch">{{
                        'payments.moiPayments.request.referenceNumber' | translate
                      }}:
                      {{
                        sharedData?.validation.processedBatch[0].reference
                      }}</small>
                </div>
                <div class="modal-footer">
                    <button (click)="finish()" type="button"
                            class="btn btn-primary btn-wide">
                        {{ 'public.finish' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-government-revenue-transfer-payments-detail *ngIf="isSinglePayment()"
        [payment]="getGovPayment()"
        [error]="error">
</app-government-revenue-transfer-payments-detail>