.legend{
  box-shadow: inset 0 -1px 0 0 #dbdbdb;
  padding: 15px 0;
}

.ng-select{
  padding-bottom: 0px;
}

.nav ::ng-deep a{
  color: black;
  border: 1px solid #d1d1d1;
  margin: 0 10px;
  width: 170px;
  text-align: center;
}

.nav-pills{
  padding: 0 10px 40px;
}

.tabActive{
  background-color: gainsboro;
  color: blue !important;
}

.sme-wizard__success{
  padding: 50px 0 80px;
}


.iconError {
  text-align: center;

  img {
    padding-bottom: 20px;
  }
}

.hint{
  padding: 15px;
}