<div class='sme-breadcrumb'>
    <ol class='breadcrumb'>
        <li>{{ 'dashboard.transfers' | translate }}</li>
        <li><a href="#"
               [routerLink]="['/transfers/rtPay']">{{ 'rtp.rtp' | translate }} </a></li>
        <li class='active'>{{ 'rtp.newRequest' | translate }}</li>
    </ol>
</div>


<div class="sme-head__title">
    {{ 'rtp.newRequestToPay' | translate }}
</div>


<!--##################################OTP#######################################-->
<div class='container-fluid' *ngIf="pageType==='OTP'">
    <div class='sme-head'>
        <div class='sme-head__title'>
            {{ 'rtp.otp' | translate }}
        </div>
    </div>
    <arb-panel>
        <app-secured-authentication *ngIf='generateChallengeAndOTP' [generateChallengeAndOTP]='generateChallengeAndOTP'
                                    [requestValidate]='requestValidate'></app-secured-authentication>
    </arb-panel>
</div>


<!--##################################Stepper#######################################-->
<ng-container *ngIf="pageType=='STEEPER' && accounts">

    <arb-steps [currentStep]='wizardStep' *ngIf="wizardStep<4"
               [steps]="['rtp.requestDetails','rtp.receiverDetails','public.summary','public.finish']">
    </arb-steps>

    <arb-panel>
        <form autocomplete='off' #rtPayForm='ngForm' class='sme-form__form' novalidate>
            <fieldset [formGroup]='formModel'>
                <div *ngIf="wizardStep==1" class='legend'>{{ 'rtp.requestDetails' | translate }}</div>
                <div *ngIf="wizardStep==2" class='legend'>{{ 'rtp.receiverDetails' | translate }}</div>
                <div *ngIf="wizardStep==3" class='legend'>{{ 'rtp.summary' | translate }}</div>

                <!--##################################Step1#######################################-->
                <div class="row" *ngIf="wizardStep==1">
                    <div class='col-xs-12 col-sm-3'>
                        <div class='form-group'>
                            <label>{{ 'rtp.amount' | translate }} </label>
                            <div class='input-group'>
                                <input class='form-control' formControlName='amount'
                                       inputPattern='onlyPositiveDecimalNumbers'/>
                            </div>
                            <div *ngIf="formModel.controls.amount.hasError('required') && formModel.controls.amount.touched"
                                 class='alert alert-danger'>
                                <small> {{ 'rtp.amountRequired' | translate }}  </small>
                            </div>
                            <div *ngIf="(formModel.controls.amount.hasError('max') || formModel.controls.amount.hasError('min')) && formModel.controls.amount.touched"
                                 class='alert alert-danger'>
                                <small> {{ 'rtp.amountMax' | translate }}  {{this.transferLimit | amountCurrency}}  </small>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-3'>
                        <div class='form-group'>
                            <label>{{ 'rtp.purpose' | translate }} </label>
                            <div class='form-control'>
                                <ng-select bindLabel='value' [notFoundText]="'public.noData' | translate"
                                           formControlName='purpose'>
                                    <ng-option selected='selected' value='' disabled='disabled'>
                                        --{{ 'public.selectOption' | translate }}--
                                    </ng-option>
                                    <ng-option *ngFor="let item of purposes" [value]='item'>
                                        {{this.translate.currentLang == 'ar' ? item.purposeDescriptionAr : item.purposeDescriptionEn}}
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="formModel.controls.purpose.hasError('required') && formModel.controls.purpose.touched"
                                     class='alert alert-danger'>
                                    <small> {{ 'rtp.purposeRequired' | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-3'>
                        <div class='form-group'>
                            <label>{{ 'rtp.validityTime' | translate }} </label>
                            <div class='input-group'>
                                <input class='form-control' formControlName='validityTime'
                                       inputPattern='onlyNumbers'/>
                            </div>
                            <div *ngIf="formModel.controls.validityTime.hasError('required') && formModel.controls.validityTime.touched"
                                 class='alert alert-danger'>
                                <small> {{ 'rtp.validityTimeRequired' | translate }}
                                </small>
                            </div>
                            <div *ngIf="(formModel.controls.validityTime.hasError('min') || formModel.controls.validityTime.hasError('max')) && formModel.controls.validityTime.touched"
                                 class='alert alert-danger'>
                                <small> {{ 'rtp.validityTimeInvalid' | translate }} {{this.maxValidatyDays}}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-3'>
                        <app-select-account [accounts]="accounts" (onAccountChange)="selectAccount($event)">
                        </app-select-account>
                        <div *ngIf="formModel.controls.acctNum.hasError('required')  && formModel.controls.acctNum.touched"
                             class="alert alert-danger">
                            <small>{{'rtp.acctNumRequired' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
                <!--##################################Step2#######################################-->
                <ng-container *ngIf="wizardStep==2">
                    <div class="row">
                        <ul class="nav nav-pills">
                            <li *ngFor="let item of proxyTypes.proxyTypes">
                                <a [class.tabActive]="tabName==item.key" data-toggle="tab" class="human-selectable"
                                   (click)="showProxyTab(item)">
                                    {{ item.value | translate }}
                                </a>
                            </li>
                            <li>
                                <a [class.tabActive]="tabName=='beneficiary'" data-toggle="tab" class="human-selectable"
                                   (click)="showBeneficiaryTab()">
                                    {{ 'rtp.beneficiaryList' | translate }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class='col-xs-12 col-sm-3' *ngIf="tabName!='beneficiary'">
                            <div class='form-group'>
                                <label>{{ 'rtp.receiverBank' | translate }} </label>
                                <div class='form-control'>
                                    <ng-select bindLabel='value' [notFoundText]="'public.noData' | translate"
                                               formControlName='bank'>
                                        <ng-option selected='selected' value='' disabled='disabled'>
                                            --{{ 'public.selectOption' | translate }}--
                                        </ng-option>
                                        <ng-option *ngFor="let item of banks" [value]='item'>
                                            {{item.participantFullName }}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="formModel.controls.bank.hasError('required') && formModel.controls.bank.touched"
                                         class='alert alert-danger'>
                                        <small> {{ 'rtp.receiverBankRequired' | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-3' *ngIf="tabName!='beneficiary'">
                            <div class='form-group'>
                                <label>{{ ibanText  }} </label>
                                <div class='input-group'>
                                    <input class='form-control' formControlName='iban'/>
                                </div>
                                <div *ngIf="formModel.controls.iban.hasError('required') && formModel.controls.iban.touched"
                                     class='alert alert-danger'>
                                    <small> {{ibanText }} {{  'rtp.required' | translate }}
                                    </small>
                                </div>
                                <div *ngIf="(formModel.controls.iban.hasError('minlength') || formModel.controls.iban.hasError('maxlength') ||formModel.controls.iban.hasError('pattern')) && formModel.controls.iban.touched"
                                     class='alert alert-danger'>
                                    <small>{{'transfer.ips.proxyType.validation.' + selectedProxy.key | translate }}</small>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-3' *ngIf="selectedProxy?.key=='IBAN' && tabName!='beneficiary'">
                            <div class='form-group'>
                                <label>{{ 'rtp.beneficiary' | translate }} </label>
                                <div class='input-group'>
                                    <input class='form-control' maxlength='60' formControlName='beneficiary'/>
                                </div>
                                <div *ngIf="formModel.controls.beneficiary.hasError('required') && formModel.controls.beneficiary.touched"
                                     class='alert alert-danger'>
                                    <small> {{ 'rtp.beneficiaryRequired' | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ 'rtp.comment' | translate }} </label>
                                <div class='input-group'>
                                    <input class='form-control' maxlength='50' formControlName='comment'/>
                                </div>
                                <div *ngIf="formModel.controls.comment.hasError('required') && formModel.controls.comment.touched"
                                     class='alert alert-danger'>
                                    <small> {{ 'rtp.commentRequired' | translate }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="tabName=='beneficiary'">
                        <app-requestToPayBeneficiaries
                                (onSelectItems)="setBeneficiary($event)"></app-requestToPayBeneficiaries>
                    </div>
                </ng-container>
                <!--##################################Step3#######################################-->
                <ng-container *ngIf="wizardStep==3">
                    <div class="row">
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ 'rtp.receiverBank' | translate }} </label>
                                <div class="input-group">
                                    <span>{{formModel.controls.bank.value.participantFullName }} </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ ibanText }} </label>
                                <div class="input-group">
                                    <span>{{ formModel.controls.iban.value  }}</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ 'rtp.beneficiary'  | translate }} </label>
                                <div class="input-group">
                                    <span>{{ formModel.controls.beneficiaryName.value  }}</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ 'rtp.comment' | translate }} </label>
                                <div class="input-group">
                                    <span>  {{ formModel.controls.comment.value }} </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ 'rtp.requesterIban' | translate }} </label>
                                <div class="input-group">
                                    <span>{{ formModel.controls.acctNum.value.ibanNumber  }}</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ 'rtp.amount' | translate }} </label>
                                <div class="input-group">
                                    <span>{{ formModel.controls.amount.value   | amountCurrency }} SAR</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ 'rtp.fees' | translate }} </label>
                                <div class="input-group">
                                    <span>{{ formModel.controls.fees.value  | amountCurrency }} SAR</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ 'rtp.purpose' | translate }} </label>
                                <div class="input-group">
                                    <span>  {{this.translate.currentLang == 'ar' ? formModel.controls.purpose.value.purposeDescriptionAr : formModel.controls.purpose.value.purposeDescriptionEn}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-xs-12 col-sm-3'>
                            <div class='form-group'>
                                <label>{{ 'rtp.expiryDate' | translate }} </label>
                                <div class="input-group">
                                    <span>{{ formModel.controls.expiryDate.value | date :'dd/MM/yyyy'  }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!--##################################Step4#######################################-->
                <ng-container *ngIf="wizardStep==4">
                    <div class='sme-wizard__success'>
                        <ng-container *ngIf="isSuccess">
                            <span class=' icon -check'></span>
                            <div></div>
                            <div>
                                <p>{{'rtp.success' | translate }} </p>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!isSuccess">
                            <span class='iconError'> <img src='assets/img/error.svg'/> </span>
                            <div></div>
                            <div>
                                <p>{{'rtp.errorMsg' | translate }} </p>
                                <small> {{'rtp.errorMsg-hint' | translate }}</small>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </fieldset>
        </form>
    </arb-panel>

    <arb-panel *ngIf="wizardStep==4 && isSuccess">
        <div class='legend'>{{ 'rtp.requestDetails' | translate }}</div>
        <div class="row">
            <div class='col-xs-12 col-sm-3'>
                <div class='form-group'>
                    <label>{{ 'rtp.amount' | translate }} </label>
                    <div class="input-group">
                        <span>{{ formModel.controls.amount.value | amountCurrency }} SAR</span>
                    </div>
                </div>
            </div>
            <div class='col-xs-12 col-sm-3'>
                <div class='form-group'>
                    <label>{{ 'rtp.validityTime' | translate }} </label>
                    <div class="input-group">
                        <span>{{ formModel.controls.validityTime.value  }}</span>
                    </div>
                </div>
            </div>
            <div class='col-xs-12 col-sm-3'>
                <div class='form-group'>
                    <label>{{ 'rtp.fees' | translate }} </label>
                    <div class="input-group">
                        <span>{{ formModel.controls.fees.value  | amountCurrency }} SAR</span>
                    </div>
                </div>
            </div>
            <div class='col-xs-12 col-sm-3'>
                <div class='form-group'>
                    <label>{{ 'rtp.referenceNumber' | translate }} </label>
                    <div class="input-group">
                        <span>{{ formModel.controls.ponId.value  }}</span>
                    </div>
                </div>
            </div>
        </div>
    </arb-panel>
</ng-container>


<arb-buttons *ngIf="accounts">
    <button *ngIf="wizardStep<4" class="btn btn-default btn-wide" type="button"
            (click)="back()">{{ 'public.back' | translate}}</button>

    <button *ngIf="wizardStep<4" class="btn btn-default btn-wide" type="button"
            (click)="goTo(false)">{{ 'public.cancel' | translate}}</button>

    <button *ngIf="wizardStep<4" class="btn btn-primary btn-wide" (click)="next()"
            [disabled]="valid()">{{'public.proceed' | translate}}</button>

    <button *ngIf="wizardStep==4" class="btn btn-primary btn-wide"
            (click)="goTo(true)">{{'rtp.dashboard' | translate}}</button>

    <button *ngIf="wizardStep==4" class="btn btn-primary btn-wide"
            (click)="goTo(false)">{{'rtp.toPay' | translate}}</button>
</arb-buttons>

