<div class="sme-wizard" *ngIf="beneficiaryPage?.data">
    <div *ngIf="mensajeError?.code" class="alert alert-danger">
        <small>{{mensajeError['code']}} {{mensajeError['description']}}</small>
    </div>

    <div class="sme-page-block">
        <!-- sme-form -->
        <div class="sme-form">
            <div class="sme-form__content">
                <a class="sme-form__head" role="button" aria-expanded="true"
                   (click)="isCollapsedContent = !isCollapsedContent">
                    <span>{{'public.search' | translate }}</span>
                </a>
                <div class="sme-form__collapse collapse in" id="sme-demo--form--search-criteria"
                     [collapse]="isCollapsedContent">
                    <form autocomplete="off" class="sme-form__form" [formGroup]="formSearch"
                          (ngSubmit)="getBeneficiaries()">
                        <div class="sme-form__body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4" style="display: flex !important; align-items: center;">
                                    <!-- sme-form-group -->
                                    <div class="col-xs-1" style="text-align: center;">
                                        <input type="radio" class="human-selectable" formControlName="filterCriteria"
                                               value="beneficiary">
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="form-group">
                                            <label for="search-criteria-input-beneficiary-name">{{'beneficiaries.beneficiaryListFields.beneficiaryName' | translate }}</label>
                                            <div>
                                                <input class="form-control" id="search-criteria-input-beneficiary-name"
                                                       type="text" formControlName="filterBenefName">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./sme-form-group -->
                                </div>

                            </div>
                        </div>
                        <div class="sme-form__actions">
                            <button type="button" class="btn btn-default btn-wide"
                                    (click)="reset()">{{'public.reset' | translate }}</button>
                            <button type="submit"
                                    class="btn btn-primary btn-wide">{{'public.search' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ./sme-form -->
    </div>

    <!-- sme-data-table -->
    <div class="sme-data-table">
        <div class="sme-data-table__head">
            <div class="sme-data-table__title">
                {{ 'beneficiaries.beneficiaryTypes.AlRajhiBeneficiaries'| translate }}
            </div>
        </div>
        <div class="sme-table table headerDataTable">
            <ngx-datatable [messages]="{emptyMessage: 'public.noData' | translate}" #beneficiaryTable
                           class="material sme-table sme-table--responsive table"
                           [rows]="beneficiaryPage.data"
                           [columnMode]="defaultColumnMode"
                           [headerHeight]="30"
                           [footerHeight]="footerHeight"
                           [rowHeight]="defaultHeight"
                           [externalPaging]="true"
                           [count]="beneficiaryPage.page.totalElements"
                           [offset]="beneficiaryPage.page.pageNumber-1"
                           [limit]="beneficiaryPage.page.pageSize"
                           [selected]="tableSelectedRows"
                           [selectionType]="defaultSelectionType"
                           [rowIdentity]="getIdFunction()"
                           (page)='setPage($event)'
                           (select)='onSelect($event)'>

                <ngx-datatable-row-detail [rowHeight]="defaultHeight" #myDetailRow (toggle)="onDetailToggle($event)">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                        <div class="row">
                            <fieldset>
                                <div class="col-xs-6">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{'beneficiaries.beneficiaryListFields.beneficiaryName' | translate }} </label>
                                        <div>
                                            <span>{{ row.beneficiaryFullName }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <!-- sme-form-group -->
                                    <div class="form-group">
                                        <label>{{'beneficiaries.beneficiaryListFields.beneficiaryAccount' | translate }}</label>
                                        <div>
                                            <span>{{row.beneficiaryAccountCode}}</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </ng-template>
                </ngx-datatable-row-detail>

                <ngx-datatable-column
                        [width]="50"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false">

                    <ng-template ngx-datatable-header-template let-value="value">
                        <label class="datatable-checkbox">
                            <input type="checkbox" [checked]="selectAllOnPage[beneficiaryPage.page.pageNumber]"
                                   (change)="selectAll($event)"/>
                        </label>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row"
                                 let-value="value" let-isSelected="isSelected"
                                 let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <label class="datatable-checkbox">
                            <input
                                    type="checkbox"
                                    [checked]="isSelected"
                                    (change)="onCheckboxChangeFn($event)"
                            />
                        </label>
                    </ng-template>

                </ngx-datatable-column>

                <ngx-datatable-column prop="beneficiaryFullName" class="mobile-hidden">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span class="datatable-header-cell-wrapper">
                            {{'beneficiaries.beneficiaryListFields.beneficiaryName' | translate }}
                        </span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden"> {{value}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="beneficiaryAccountCode" class="mobile-hidden">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                        <span class="datatable-header-cell-wrapper">
                            {{'beneficiaries.beneficiaryListFields.beneficiaryAccount' | translate }}
                        </span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span class="mobile-hidden"> {{value}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="nickName" [width]="200" class="mobile-hidden">
                    <ng-template let-value="name" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sort()" class="datatable-header-cell-wrapper">
                                        {{'accounts.accountNickname' | translate }}
                                    </span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span class="mobile-hidden">
                                        {{ value }}
                                    </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template
                                 let-rowCount="rowCount"
                                 let-pageSize="pageSize"
                                 let-selectedCount="selectedCount"
                                 let-curPage="curPage"
                                 let-offset="offset">
                        <div class="sme-data-table__footer">
                            <app-datatable-pager
                                    [pagerLeftArrowIcon]="(translate.currentLang === 'en' ? 'datatable-icon-left' : 'datatable-icon-right')"
                                    [pagerRightArrowIcon]="(translate.currentLang === 'en' ? 'datatable-icon-right' : 'datatable-icon-left')"
                                    [pagerPreviousIcon]="(translate.currentLang === 'en' ? 'datatable-icon-prev' : 'datatable-icon-skip')"
                                    [pagerNextIcon]="(translate.currentLang === 'en' ? 'datatable-icon-skip' : 'datatable-icon-prev')"
                                    [page]="curPage"
                                    [size]="pageSize"
                                    [count]="rowCount"
                                    [visiblePagesCount]="visiblePagesCount"
                                    [hidden]="!((rowCount / pageSize) > 1)"
                                    (change)="beneficiaryTable.onFooterPage($event)">
                            </app-datatable-pager>
                            <div class="sme-data-table__actions form-inline">
                                <span class="sme-data-table__action-group">{{ 'public.showingLabel' | translate}} {{beneficiaryPage.page.size}} {{ 'public.ofLabel' | translate}} {{rowCount}}</span>
                                <span class="hidden-xs"> | </span>
                                <span class="sme-data-table__action-group">
                                    <span>{{ 'public.showRowsLabel' | translate}}</span>
                                    <div class="sme-select form-control">
                                        <select class="form-control" (change)="setPageSize($event)">
                                            <option [value]="10">10</option>
                                        </select>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>

    <form autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">
        <div class="sme-page-block sme-wizard__navigation sme-form__actions">

            <button type="button" class=" btn btn-default btn-wide"
                    (click)="cancel()">{{'public.back' | translate }}</button>

            <button type="submit" class=" btn btn-primary btn-wide" [disabled]="!isValidData()">{{buttonLabel}}</button>

        </div>
    </form>
</div>
