.sme-tour {
  .tour-step-modal__header {
    width: 390px;
    height: 40px;
    color: #787878;
  }

  .tour-step-modal__title {
    // font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #393939;
  }

  .tour-step-modal__description {
    // font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #787878;
    margin-top: 10px;
  }
  .tour-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    margin: 0px 10px 0px 10px;
    white-space: nowrap;
    min-width: 35px;
    height: 35px;
    border: solid 1px #bf4500;
  }
  .tour-step-modal__header {
    box-shadow: 0 1px 0 0 #eeeeee;

    background-color: #ffffff;

    // font-family: Roboto;

    font-size: 20px;

    font-weight: normal;

    font-stretch: normal;

    font-style: normal;

    line-height: 1;

    letter-spacing: normal;

    color: #393939;
  }
  .tour-step-modal__body {
    height: 42px;

    // font-family: Roboto;

    font-size: 14px;

    font-weight: normal;

    font-stretch: normal;

    font-style: normal;

    line-height: 1.43;

    letter-spacing: normal;

    color: #787878;
  }
  .tour-btn-next,
  .tour-btn-done {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    min-width: 35px;
    height: 35px;
    color: #ffffff;
    background-color: #bf4500;
    border: solid 1px #bf4500;
  }
  .tour-btn-prev {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    min-width: 35px;
    height: 35px;
    color: #bf4500;
    background-color: #ffffff;
    border: solid 1px #bf4500;
  }
  .tour-step-modal {
    border-radius: 0px;
  }
  .tour-step-modal__content {
    // font-family: Roboto;

    font-size: 14px;

    font-weight: normal;

    font-stretch: normal;

    font-style: normal;

    line-height: 1.43;

    letter-spacing: normal;

    color: #787878;
  }

  .tour-step-modal__footer {
    margin-top: 10px;
    justify-content: flex-end;
  }
}
