.collapse-card-container {
  background-color: #eff6ff !important;
  border: 0.5px solid #e8ebf0;
}

.collapse-card-body {
  margin: 0 auto;
  background-color: #fff !important;
}

.collapse-card-head {
  height: 50px;
  display: flex;
  align-items: center;
}

.collapse-card-cell-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.collapse-card-head-cell {
  margin-right: 10px;
  margin-left: 10px;
}


.no-decoration {
  text-decoration: none;
}
.colorHyperLink{
  color:blue;
}
.arrow{
  color: #0b04d4;
  margin-left: 5%;
  margin-right: 5%;
}
.arrow-next {
  width: 4.9px;
  height: 8px;
  flex-grow: 0;
  margin: 3px 0 3px 6.1px;
  background-color: #221afb;
}

.inactive-tab{
  color: rgba(128, 128, 128, 0.71);
  cursor: pointer;
  margin-top: 2%;
}
.active-tab{
  color: #0b04d4;
  margin-top: 2%;
}
.tab-view{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}