.table_head {
  padding: 16px 15px 10px;
  margin: 0;
}

.table_div {
  background-color: #fff;
  margin: 30px 30px;
}

.datatable-header {
  padding: 0 10px;
}

.addPadding {
  padding: 0 15px;
}

input:disabled {
  cursor: not-allowed;
  color: gray;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}




