/* @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500'); */
/* latin-ext */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Work Sans"), local("WorkSans-Regular"), url("../fonts/work-sans/WorkSans-Regular.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Work Sans"), local("WorkSans-Regular"), url("../fonts/work-sans/WorkSans-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Work Sans Medium"), local("WorkSans-Medium"),
    url("../fonts/work-sans/WorkSans-Medium.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Work Sans Medium"), local("WorkSans-Medium"),
    url("../fonts/work-sans/WorkSans-Medium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* @import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600,700'); */
/* arabic */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 300;
  src: local("Cairo Light"), local("Cairo-Light"), url("../fonts/cairo/Cairo-Light.woff2") format("woff2");
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 300;
  src: local("Cairo Light"), local("Cairo-Light"), url("../fonts/cairo/Cairo-Light.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 300;
  src: local("Cairo Light"), local("Cairo-Light"), url("../fonts/cairo/Cairo-Light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* arabic */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  src: local("Cairo"), local("Cairo-Regular"), url("../fonts/cairo/Cairo-Regular.woff2") format("woff2");
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  src: local("Cairo"), local("Cairo-Regular"), url("../fonts/cairo/Cairo-Regular.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  src: local("Cairo"), local("Cairo-Regular"), url("../fonts/cairo/Cairo-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* arabic */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  src: local("Cairo SemiBold"), local("Cairo-SemiBold"), url("../fonts/cairo/Cairo-SemiBold.woff2") format("woff2");
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  src: local("Cairo SemiBold"), local("Cairo-SemiBold"), url("../fonts/cairo/Cairo-SemiBold.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  src: local("Cairo SemiBold"), local("Cairo-SemiBold"), url("../fonts/cairo/Cairo-SemiBold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* arabic */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  src: local("Cairo Bold"), local("Cairo-Bold"), url("../fonts/cairo/Cairo-Bold.woff2") format("woff2");
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  src: local("Cairo Bold"), local("Cairo-Bold"), url("../fonts/cairo/Cairo-Bold.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 700;
  src: local("Cairo Bold"), local("Cairo-Bold"), url("../fonts/cairo/Cairo-Bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* otras  */
@font-face {
  font-family: "Page Sans";
  src: url("../fonts/page-sans/PageSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Page Sans";
  src: url("../fonts/page-sans/PageSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ge_ssmedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ge_ss/ge_ss_text_medium_2.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/open-sans/OpenSans.woff") format("woff");
}
@font-face {
  font-family: "noto-sans-ar";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/noto-sans/NotoSansAr-SemiBold.woff2") format('woff2');
}
@font-face {
  font-family: "noto-sans-en";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/noto-sans/NotoSansEn.woff2") format('woff2');
}
@font-face {
  font-family: "noto-sans-en-light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans/NotoSansDisplay-Regular.woff2") format('woff2');
}