html.rtl {
  .-chevron-left:before {
    content: $icon-chevron-right;
  }
  .-chevron-right:before {
    content: $icon-chevron-left;
  }

  .-caret-left:before {
    content: $icon-caret-right;
  }
  .-caret-right:before {
    content: $icon-caret-left;
  }

  .-arrow-left:before {
    content: $icon-arrow-right;
  }
  .-arrow-right:before {
    content: $icon-arrow-left;
  }
}
