.datatableMobile {
  display: block;
}
.widthMobile {
  width: 12% !important;
}
.rowFormat {
  display: flex;
}
.customSize {
  width: 60%;
}
.paddingTableLevels {
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
}
.borderDelete {
  border: none;
  width: 70px;
}
.noDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
