<company-admin-user-management-edit-form [formModel]="formModel"
                                         [userData]="userData"
                                         [formAction]="'add'"
                                         [combosData]="combosData"
                                         [messageError]="messageError"
                                         [showUserDetailPanel]="false"
                                         [showPrivilegesPanel]="true"
                                         [showUserType]="false"
                                         [showUserStatus]="false"
                                         [enabled]="true">
</company-admin-user-management-edit-form>

