<form autocomplete="off" [formGroup]="form">
    <div class="container-fluid">
        <div class="sme-page-block">
            <div class="sme-form">
                <div class="sme-form__form">
                    <div class="sme-form__content">
                        <div id="changePasswordMenu">
                        <div class="sme-form__body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="form-group">
                                            <label for="old-pass" class="required">
                                                {{ 'preferences.changePassword.oldPass' | translate }}
                                            </label>
                                            <input type="password" class="form-control" id="old-pass" maxlength="14"
                                                   formControlName="oldPass" inputPattern="notArabic">
                                            <div *ngIf="form.controls.oldPass.hasError('required') && form.controls.oldPass.touched"
                                                 class="alert alert-danger">
                                                <small>{{'preferences.changePassword.error.oldPassRequired' | translate }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="form-group">
                                            <label for="new-pass" class="required">
                                                {{ 'preferences.changePassword.newPass' | translate }}
                                            </label>
                                            <input type="password" class="form-control" id="new-pass"
                                                   formControlName="newPass"
                                                   (change)="changePass()"
                                                   maxlength="14"
                                                   inputPattern="notArabic"
                                                   pattern="{{authenticationService.getPasswordInputPattern()}}">
                                            <div *ngIf="form.controls.newPass.hasError('required') && form.controls.newPass.touched"
                                                 class="alert alert-danger">
                                                <small>{{'preferences.changePassword.error.newPassRequired' | translate }}</small>
                                            </div>
                                            <div *ngIf="form.controls.newPass.hasError('pattern') && form.controls.newPass.touched"
                                                 class="alert alert-danger">
                                                <small>{{'companyAdmin.user.password' | translate }}{{ 'error.passwordRule' | translate }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="form-group">
                                            <label for="confirm-pass" class="required">
                                                {{ 'preferences.changePassword.confirmPass' | translate }}
                                            </label>
                                            <input type="password" class="form-control" id="confirm-pass" maxlength="14"
                                                   formControlName="confirmPass" inputPattern="notArabic"
                                                   maxlength="14"
                                                   pattern="^{{form.controls.newPass.value}}$">
                                            <div *ngIf="form.controls.confirmPass.hasError('required') && form.controls.confirmPass.touched"
                                                 class="alert alert-danger">
                                                <small>{{'preferences.changePassword.error.confirmPassRequired' | translate }}</small>
                                            </div>
                                            <div *ngIf="form.controls.confirmPass.hasError('pattern') && form.controls.confirmPass.touched"
                                                 class="alert alert-danger">
                                                <small>{{ 'error.passwordMatch' | translate }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
