<form autocomplete="off" class="sme-wizard">
    <div class="container-fluid">
        <div class="sme-page-block">
            <div class="sme-form">
                <div class="sme-form__content">
                    <div class="sme-form__form">
                        <div class="sme-form__body">
                            <div class="sme-wizard__success">
                              <span class="icon -check"></span>
                                {{'preferences.changePassword.passwordChanged' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
