<arb-breadcrumb [routes]="[
['dashboard.preferences'],
['dashboard.changePassword']
]">
</arb-breadcrumb>

<div class="container-fluid sme-content-container">
		<div class="sme-page-block">
			<ul class="sme-box sme-wizard__steps">
				<li class="sme-wizard__step" [ngClass]="{'current': wizardStep==1}">
					<span>
						<span class="num">1</span>
						<span class="text">{{ 'preferences.step1' | translate }}</span>
					</span>
				</li>
				<li class="sme-wizard__step" [ngClass]="{'current': wizardStep==2}">
					<span>
						<span class="num">2</span>
						<span class="text">{{ 'preferences.step2' | translate }}</span>
					</span>
				</li>
			</ul>
		</div>
</div>

<div class="sme-head">
    <div class="sme-head__title">{{'preferences.changePassword.title' | translate}}</div>
</div>

<app-password-step1 *ngIf="wizardStep === 1"
[form]="this.form"
(onInit)="onInitStep1($event)">
</app-password-step1>

<app-password-step2 *ngIf="wizardStep === 2">
</app-password-step2>

<div class="sme-page-block sme-wizard__navigation sme-form__actions">
	<button type="button" class=" btn btn-default btn-wide" (click)="previous()" *ngIf="wizardStep > 1">{{'public.back' | translate }}</button>
	<button class="btn btn-primary btn-wide" (click)="changePassword()" *ngIf="wizardStep == 1" [disabled]="isDisabled()"> {{ 'public.proceed' | translate }}</button>
</div>
