.legend {
  box-shadow: inset 0 -1px 0 0 #dbdbdb;
  margin-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.iconSpan {
  float: right;
  margin-top: -10px;
}

.iconImage {
  height: 30px;
  width: 30px;
  margin-top: -10px;
}

.onTop {
  z-index: 1000;
}

.margin-top {
  margin-top: 40px;
}

.fullWidth {
  width: 100%;
}

.marginBottom {
  margin-bottom: 25px;
}

.margin-top {
  margin-top: 40px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.fileUpload.btn {
  color: #bf4500;
}

.fileUpload input.filename {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  display: none;
  filter: alpha(opacity=0);
}

.iconSpan {
  float: right;
}

.iconImage {
  height: 30px;
  width: 30px;
}

.zeroMargin {
  margin-bottom: 0;
}

fieldset {
  margin-top: 30px;
}

.sme-form__body {
  padding-bottom: 8px;
}

.statusSpan {
  margin: 0 5px;
  padding: 5px 19px;
  border-radius: 30px;
  font-size: 15px;
}

.greenSpan {
  background-color: #00aca3;
  color: white;
}

.yellowSpan {
  background-color: #ffe0b2;
  color: #905600;
}

.accountNote{
  padding: 15px;
  font-size: 11px;
  color: black;
}
