ul.nav.nav-pills {
  border-bottom: 1px solid #e4e5e6;
}

ul.nav.nav-pills li {
  -moz-border-radius-bottomleft: initial;
  -moz-border-radius-bottomright: initial;
}

ul.nav.nav-pills li.active {
  border-bottom: 1px solid #2b4499;
}

ul.nav.nav-pills li a {
  color: #555555;
  background-color: transparent;
}

ul.nav.nav-pills li.active a {
  color: #2b4499;
}

.legend {
  box-shadow: inset 0 -1px 0 0 #dbdbdb;
}

.end {
  text-align: end;
}

.start {
  div {
    text-align: start;
  }
}

.emptyDiv {
  padding: 16px;
  margin: 40px 16px;
  background-color: white;
}
