.sme-head__title {
  font-size: 21px;
}

.sme-form__form {
  padding-top: 15px;
}

.input-group {
  display: block;
}

.legend {
  font-size: 14px;
  padding-bottom: 10px;
  display: flex;
}

.underLine {
  border-bottom: 1px solid lightgrey
}

.row {
  padding-bottom: 30px;
}

.onTop {
  z-index: 1000;
}

.calendar {
  display: table;
}

.marginTop {
  margin-top: 20px;
}

.statusSpan {
  padding: 5px 13px 0;
  border-radius: 30px;
  font-size: 12px;
  width: 100px;
  text-align: center;
}

.greenSpan {
  background-color: #06a299;
  color: white;
}

.yellowSpan {
  background-color: #ffe0b2;
  color: #999999;
}
